<form name="faq-filter" class="filter faq-filter">
  <div class="grid-3-tiny-1">
    <div>
      <div class="grid-2-tiny-1">


        <div class="item-form">
          <div class="item-form-input item-form-selectBox">
            <select name="test" class="dropdown-black selectBox" required style="display: none;" selectBox>
              <option value="mobile">Mobile</option>
              <option value="internet">Internet</option>
              <option value="fixe">Fixe</option>
            </select>
          </div>
        </div>

        <div class="item-form">
          <div class="item-form-input item-form-selectBox">
            <select name="test" class="dropdown-black selectBox" required style="display: none;" selectBox>
              <option value="offres">Offres</option>
              <option value="offres1">Offres1</option>
              <option value="Offres2">Offres2</option>
            </select>
          </div>
        </div>

      </div>
    </div>
    <div>
      <div class="grid-2">
        <div>
          <input type="text" class="input-form" name="faq-keyword" placeholder="Mot clé">
        </div>

        <div>
          <button type="submit" class="btn btn--important">Valider</button>
        </div>
      </div>
    </div>
  </div>
</form>