.block-my-ligne{
    margin-bottom: 34px;
    @media #{$phone} {
        .link-border{ 
            float: none;
        }
    }
}
.date-my-ligne{
    font-size: 1.8rem;
    line-height: 18px;
    margin-bottom: 36px;
     @media #{$phone} {
        margin-bottom:20px;
    }
}

.picto-conso{
    width: 22px;
    height: 22px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
}
.myconsumation-items{
    margin-bottom: 30px;
    @media #{$phone} {
        .simpletoggle-title:before{
            margin-top: 3px;
        }
    }
}
.myconsumation-item{
    @media #{$phone} {
        margin-bottom:10px;
    }
}
.myconsumation-item__title{
    font-size: 2rem;
    margin: 0 0 9px 0;
    @media #{$phone} {
       font-size: 1.6rem;
    }
    .picto-conso{
        margin-right: 9px;
    }
}
.myconsumation-item__desc{
    font-size: 1.6rem;
    margin: 0;
    line-height: 20px;
    @media #{$phone} {
       font-size: 1.4rem;
       letter-spacing: -0.01em;
    }
}
.mysold{
    h3{
        margin-bottom: 16px;
        display: inline-block;
    }
    .link-border{
        position: relative;
    }
    .btn{
        margin-bottom: 10px;

        @media #{$phone} {
           width:80%;
        }
    }
}
.mysold-info-items{
    margin-bottom: 21px;
}
.mysold-info-item{
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.mysold-info-item__value{
    color: #f16e00;
}
.reste-solde{
    .visual{
        position: absolute;
        right: 0;
    }
}
.reste-solde__info{
    font-size: 2rem;
    margin-bottom: 10px;
    position: relative;
    &:before{
        width: 1px;
        background: #dadada;
        position: absolute;
        left: -13px;
        height: 100%;
        top: 0;
        bottom: 0;
        content: "";
    }
    span{
        color: #f16e00;
        font-size: 6rem;
        display: block;
        letter-spacing: -0.05em;
        @media #{$phone} {
            font-size: 3rem;
            padding-top: 8px;
        }
    }
}
.reste-solde__content{
    position: relative;
    width: 75%;
    .mysold-info-item{
        margin-right: 23%;
    }
}

.block-internet {

    .zone-progress {
        margin: 0 0 8px 0;
    }

    .progress {
        background: #dddddd;
        height: 15px;
        margin: 0 0 4px;
        width: 100%;
    }

    .progress-bar {
       
        color: #fff;
        height: 15px;
        line-height: 15px;

    }

    .sr-only {
        border: 0 none;
        clip: rect(0px, 0px, 0px, 0px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .picto-progress-bar {
        display:none;
    }

    .mod {
        width: 62%;

        @media screen and  (min-width: 768px) and (max-width: 959px) {
            width: 76%;
        }

        @media #{$phone} {
            width: 100%;
        }
    }

    .picto-conso {
        margin-left: 5px;
    }

}

.block-icon-Internet {
    float: left;
    margin-right: 42px;

    @media #{$phone} {
        float: none;
        margin: 0 0 15px 0;
    }

     i {
        display: block;
        margin-left: -5px;
        margin-top: -9px;
    }

    span {
        font-size:2.4rem;


        @media #{$phone} {
           font-size:2rem;
        }
    }
}

.date-progress {
    
    font-size: 1.8rem;
    line-height: 19px;
    margin: 0;
    padding: 0 0 6px;
    display:inline-block;
}

.block-my-ligne__item_first {
    
    float:right;
    width:45%;

    @media #{$phone} {
        float:none;
        width:100%;
    }
}

.block-my-ligne__item_second {
    
    float:left;
    width:50%;

    @media #{$phone} {
        float:none;
        width:100%;
    }
}


.block-my-ligne__item_first .reste-solde__content {
    width: 90%;
}

.form-tab .block-grid__item {

    @media #{$phone} {
        
        .form-type-radio > label {
            padding-top: 29px;
            padding-left:0;
        }

        .form-type-radio > input[type="radio"] {
            left: 0;
            right: 0;
            margin:auto;
        }

        .form-type-radio > label:before {
            left: 0;
            right: 0;
            top: 0;
            margin:auto;
        }
    }
    
}
