<div class="block-Data container">
     
    <div class="sslist-block">
        <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt o-mbl inbl">Mon mobile</h2>
         <div class="simpletoggle-content sslist">
            <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
            <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
            <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
            <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
            <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
            <a href="#">Assistance<i class="icon ic-right fr"></i></a>
        </div>
    </div>

    <div class="grid-2-tiny-1">

       <div>
            <h3 class="mbm">Mon téléphone</h3>

            <div class="grid-1-2">

                <div class="block-myMobile-left">
                    <img alt="visuel" src="../img/contenus/visuel-15.png">
                </div>


                <div class="block-myMobile-right">

                    <h3 class="n3-title--alt">Samsung Galaxy S5 White</h3>

                    <p class="txt-medium">
                       <a href="#">Configurer mon téléphone</a> 

                    </p>

                    <a class="btn btn--important" href="#" title="">Changer de mobile</a>

                </div>

            </div>

       </div>

    </div>
    

</div>