<div class="container">
    <!---->
    <div class="clearfix block-table-ligne">

        <div class="fr mbm block-dirt-f">
            <a class="btn btn--important" href="#">Ajouter une ligne</a>
        </div>
        <table class="table-ligne">
            <tr class="selected">
                <td class="cell-1">
                    <i class="icon ic-device_smart_phone ic-FS-70"></i>
                </td>
                <td class="cell-2">
                    <div class="cell-number">
                        <strong class="number-direction">06 63 12 31 23</strong>
                    </div>

                    <div class="cell-name">
                        Hicham Elganadi
                    </div>
                </td>
                <td colspan="2" class="cell-3 txtright">&nbsp;</td>
            </tr>
            <tr>
                <td class="cell-1">
                    <i class="icon ic-device_smart_phone ic-FS-70"></i>
                </td>
                <td class="cell-2">
                    <div class="cell-number">
                        <strong class="number-direction">06 63 12 31 23</strong>
                    </div>

                    <div class="cell-name">
                        Hicham Elganadi
                    </div>
                </td>
                <td class="cell-3"><a class="link-souligne" href="#">Voir cette ligne</a></td>
                <td class=" txtright" ><a href="#"><i class="icon ic-Delete ic-FS-25"></i></a></td>
            </tr>
            <tr>
                <td class="cell-1">
                    <i class="icon ic-device_fixed-line_phone ic-FS-70"></i>
                </td>
                <td class="cell-2">
                    <div class="cell-number">
                        <strong class="number-direction">06 63 12 31 23</strong>
                    </div>

                    <div class="cell-name">
                        Hicham Elganadi
                    </div>
                </td>
                <td class="cell-3"><a class="link-souligne" href="#">Voir cette ligne</a></td>
                <td class=" txtright" ><a href="#"><i class="icon ic-Delete ic-FS-25"></i></a></td>
            </tr>
            <tr>
                <td class="cell-1">
                    <i class="icon ic-device_smart_phone ic-FS-70"></i>
                </td>
                <td class="cell-2">
                    <div class="cell-number">
                        <strong class="number-direction">06 63 12 31 23</strong>
                    </div>

                    <div class="cell-name">
                        Hicham Elganadi
                    </div>
                </td>
                <td class="cell-3"><a class="link-souligne" href="#">Voir cette ligne</a></td>
                <td class=" txtright" ><a href="#"><i class="icon ic-Delete ic-FS-25"></i></a></td>
            </tr>
            <tr>
                <td class="cell-1">
                    <i class="icon ic-device_fixed-line_phone ic-FS-70"></i>
                </td>
                <td class="cell-2">
                    <div class="cell-number">
                        <strong class="number-direction">06 63 12 31 23</strong>
                    </div>

                    <div class="cell-name">
                        Hicham Elganadi
                    </div>
                </td>
                <td class="cell-3"><a class="link-souligne" href="#">Voir cette ligne</a></td>
                <td class=" txtright" ><a href="#"><i class="icon ic-Delete ic-FS-25"></i></a></td>
            </tr>
        </table>
    </div>
    <!---->
</div>
