<div class="block-myCarte container-large">
    <div class="container">
        <h3 class="mbm">Ma carte SIM</h3>
        <div class="grid-2-tiny-1">
            <div class="myCarte-content">
                <div>
                    <div> 
                        <div class="grid-1-4">
                            <div class="block-myCarte-left">
                                <i class="icon ic-Sim ic-FS-70"></i>
                            </div>

                            <div class="block-myCarte-right">
                                <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
        </p>
                                <a title="" href="#" class="btn btn--important">Obtenir mon code PUK</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="myCarte-number">

                <div class="myCarte-number-content txtcenter">
                    <span class="span-number-carte">9</span><span class="span-number-carte">9</span><span class="span-number-carte">8</span><span class="span-number-carte">8</span><span class="span-number-carte">6</span><span class="span-number-carte">6</span><span class="span-number-carte">4</span><span class="span-number-carte">4</span>
                </div>
                
            </div>

        </div>
    </div>

</div>