<section class="block block-bg-stand "> 
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Urgence et dépannage mobile</h2>

            <div class="block-btns">
                <a href="#" class="btn btn--important mrs mob-mbs">Mobile volé</a>
                <a href="#" class="btn btn--important mrs mob-mbs">Mobile cassé</a>
                <a href="#" class="btn btn--important">Mobile bloqué</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-59.png" alt="" />
        </div>
    </div>
</section>
