<article class="item-mobile">
    <div class="visual">
        <a href="#"><img alt="" src="<%- img %>"  class="mbm"/></a>
    </div>
    <div  class="mod">
        <div class="feature">
            <h3 class="n3-title--alt"><a href="#"><%- title %></a></h3>

            <div class="mbm lam-lebel">
                <span class="lebel new-alt">Discount</span>
            </div>
            <div class="onlineediteur onlineediteur--small">
                <ul >
                    <li>Screen size 4”</li>
                    <li>AMD Cortex A7</li>
                    <li>Dual-Core 1 GHz</li>
                    <li>Stockage 4 Go</li>
                    <li>Camera 4MP </li>
                </ul>
            </div>

        </div>
        <div class="prices-detail">
            <div class="prices mbs">
                <p>From</p>
                <p class="old-price"><span class="number-direction">129.99</span> Dh</p>
                <p  class="s-price"><span class="number-direction">98.00</span> Dh</p>
            </div>
            <a href="#" class="btn btn--standard">Details</a>
        </div>
    </div>
</article>
