<div class="block block-slider block-slider--top bg-black block--nb"   >
  <ul class="bxslider">
    <li>
      <div class="block-theme" style="background-image:  url(../img/contenus/slider-home15-mob.png);">
        <div class="block-theme-inside " style="background-image: url(../img/contenus/slider-home15.png);">
          <div class="block block-theme-container container ">
            <div class="grid-2">
              <div class="group-left">
                <div class="ic ic-fun popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                  <span class="popout-title">
                    Ne jamais être à court de batterie
                  </span>
                </div>
                <div class="txtleft-theme">
                  <div class="eztext-field">
                    Orange vous offre la possiblité d&#039;échanger votre power bar vide contre une pleine.
                  </div>
                  <a href="#"
                     title="Découvrir"
                     class="btn  mbs">Découvrir</a>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="block-theme" style="background-image: url(../img/contenus/slider-home1-mob.png);">
        <div class="block-theme-inside" style="background-image: url(../img/contenus/slider-home1.png);">
          <div class="block block-theme-container container ">
            <div class="grid-2">
              <div class="group-left">
                <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                  <span class="popout-title">
                    iCoyote
                  </span>
                </div>
                <div class="txtleft-theme">
                  <div class="eztext-field">
                    Evitez les surprises en route
                  </div>
                  <a href="#"
                     title="En savoir plus"
                     class="btn  mbs">En savoir plus</a>
                </div>
              </div>
              <div>
                <div class="grid-2-tiny-1">
                  <div class=" push group-right">
                    <div>
                      <div class="ic ic-money-out popout  popout-out popout--rt mbs color-black ">
                        <span class="popout-title">
                          <i class="icon ic-G2 ic-FS-65"></i>
                          Popout 4g
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="block-theme" style="background-image: url(../img/contenus/slider-home1-mob.png) ;">
        <div class="block-theme-inside" style="background-image: url(../img/contenus/slider-home1.png);">
          <div class="block block-theme-container container ">
            <div class="grid-2">
              <div class="group-left">
                <div class="ic ic-tech popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                  <span class="popout-title">
                    Des smartphones pro au meilleur prix
                  </span>
                </div>

                <div class="txtleft-theme">
                  <div class="eztext-field">
                    Profiter des offres Cashback sur des smartphones dernier cri.
                  </div>

                  <a href="http://corporate-test.orange.int/corporate.orange.ma/Engagement"
                     title="Découvrir les offres"
                     class="btn  mbs">Découvrir les offres</a>

                </div>
              </div>
              <div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="block-theme" style="background-image: url(../img/contenus/slider-home1-mob.png);">
        <div class="block-theme-inside" style="background-image: url(../img/contenus/slider-home1.png);">
          <div class="block block-theme-container container ">
            <div class="grid-2">
              <div class="group-left">
                <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                  <span class="popout-title">
                    I need to secure my mobile budget
                  </span>
                </div>
                <div class="txtleft-theme">
                  <div class="eztext-field">
                    Consultez et payez vos factures en ligne très simplement, pour rester l’esprit tranquille.
                  </div>
                  <a href="http://corporate-test.orange.int/corporate.orange.ma/Presse"
                     title="Découvrir"
                     class="btn  mbs">Découvrir</a>
                </div>
              </div>
              <div>
                <div class="grid-2-tiny-1">
                  <div class=" push group-right">
                    <div>
                      <div class="ic ic-money-out popout  popout-out popout--rt mbs color-black ">
                        <span class="popout-title">
                          <i class="icon ic-My_Orange ic-FS-65"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
