<div class="block color-white block-bg-stand bg-black">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm w80">Ma tonalité</h2>
            <div class="onlineediteur mbm">
            <p >Dites adieu au ‘beepbeep’ traditionnel et faites patienter vos appelants sur le rythme d’une tonalité d’attente 100% choisie par vous </p>
            </div>
            <div class="block-btns">
                <a class="btn btn--bb">Voir le détail</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/tonalite.png" alt=""/>
        </div>
    </div>
</div>