<div class="block">

    <div class="container">
        <!---->
        <!---->
        <div>
            <!--<h2 class="o-mbl plr">Ajouter une ligne</h2>-->


            <div class="block_step block_step_2col step o-mbl">
                <ul class="step1 clearfix">
                    <li class="current">
                        <span class="number-step">1.</span><span class="step-txt">Demande d'identifiant</span>
                    </li>
                    <li>
                        <span class="number-step">2.</span><span class="step-txt">Confirmation</span>
                    </li>
                </ul>
            </div>

            <div class="plr">
                <div class="grid-2-1">
                    <div>
                        <h3 class="n3-title--alt mbm">Confirmation</h3>
                        <p class="o-mbl">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        <div>
                            <a class="btn btn--important" href="#">Obtenir mes identifiants</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!---->
        <!---->


    </div>

</div>
