<section class="block block-bg-stand bg-green">
    <div class="container"> 
        <div class="block-bg-stand__content">
            <div class="onlineediteur mbm">
                <p>
                    Pour consulter, télécharger et imprimer vos factures, connectez-vous simplement à votre espace client !
                    Vous disposez d'un Smartphone ? Payez votre facture en un clic sur l'application méditel et moi disponible sur AppStore et Google Play. 
                </p>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-25.png" alt="">
        </div>
    </div>
</section>
