<div class="block-Data">

    <div class="container">
    
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mbm inbl">Ma consommation</h2>
             <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
            </div>
        </div>

        <div class="grid-2-1 block-content-graph-history">

            <div class="block-graph">
                <p class="txt-medium">Mon historique de consommation sur les 12 dérnieres mois</p>
                <img src="../img/contenus/graphe.gif" alt="graphe">
            </div>

            <div class="block-history-conso">
                <img class="visual" src="../img/contenus/visuel-7.png" alt="visuel">
                <p class="txt-medium">Ma consommation moyenne sur les 12 mois</p>
                <div class="history-solde__info">
                    <span>37,4 Go</span>
                </div>

            </div>

        </div>
    
    </div>
</div>