<section class="block block-marques">
    <div class="container">
        <h2 class="mbl">Marques</h2>
        <div class="table">
            <div class="row">
                <a href="#" class="col"><img src="../img/contenus/marque-logo1.png" alt="" /></a>
                <a href="#" class="col"><img src="../img/contenus/marque-logo2.png" alt="" /></a>
                <a href="#" class="col"><img src="../img/contenus/marque-logo3.png" alt="" /></a>
                <a href="#" class="col"><img src="../img/contenus/marque-logo4.png" alt="" /></a>
            </div>
        </div>
    </div>
</section>