<div class="block-offre-Data block block--ws container plr">

    <h3 class="mbm">Mon offre</h3>
    <div class="grid-2-tiny-1">
        <div class="mbm">
            <h3 class="n3-title--alt mbm">Forfait confort</h3>
            <ul class="liste-wp mbl">
                <li class="liste-wp__item">06 63 12 12 12</li>
            </ul>
            
            <h3 class="n3-title--alt mbm">Les avantages de l’offre</h3>
            <ul class="liste-wp">
                <li class="liste-wp__item">20 GO de volume</li>
            </ul>

        </div>
        <div class="mbm">
            <img src="../img/contenus/visuel-31.jpg" alt="" class="fr" />


        </div>

    </div>

</div>