<section class="block block-bg-stand bg-black color-white">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Mes factures</h2>
            <div class="onlineediteur mbm">
                <p>
                    <span>Plus pratique, consultez et payer vos factures en ligne</span>
                </p>
               
            </div>
            <div class="block-btns">
                <a class="btn btn--bb" href="t">Voir mes factures</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/myFacture.png" alt="" />
        </div>
    </div>
</section>