.banner-lg{
    overflow: hidden;
    position: relative;
    padding: 10px 0 113px 0;
    margin-top: -10px;
   &.banner-lg--wbreadcrumbs {
    margin-top: -39px;
    padding-top: 50px;
   }
    
    @media #{$phone} {
        img{
            display: none;
        }
        background: $yellow;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 40px;
        h1{
            margin-left:0;
            margin-right: 0;
        }
    }
}