<div class="block-MyPass block bg-black color-white">
    <div class="container">
        <h3 class="n3-title--alt o-mbl">Activer un Pass</h3>
        <p class="mbm">Veuillez sélectionner un Pass</p>
        <form class="form-parsley-validate" novalidate>
            <fieldset>
                <div class="grid-4-tiny-1 mbm">
                    <div>
                        <div class="form-type-radio">
                            <input type="radio" name="genre" id="radio-1-1" required data-parsley-trigger="change">
                            <label for="radio-1-1" class="option">5 DH</label>
                            <span class="value-pass"> Pass Nuit
                                <span>1 Go valable de 2h à 8h</span></span>
                        </div>
                    </div>
                    <div>
                        <div class="form-type-radio inactive-b ">
                            <input type="radio" id="radio-1-2"  name="genre" disabled="disabled">
                            <label for="radio-1-2" class="option" >10 DH</label>
                            <span class="value-pass"> Pass Nuit
                                <span>1 Go valable de 2h à 8h</span></span>
                        </div>
                    </div>
                    <div>
                        <div class="form-type-radio">
                            <input type="radio" id="radio-1-3" name="genre" >
                            <label for="radio-1-3" class="option">30 DH</label>
                            <span class="value-pass"> Pass Nuit
                                <span>1 Go valable de 2h à 8h</span></span>
                        </div>
                    </div>
                    <div>
                        <div class="form-type-radio">
                            <input type="radio" id="radio-1-4" name="genre">
                            <label for="radio-1-4" class="option">100 DH</label>
                            <span class="value-pass"> Pass Nuit
                                <span>1 Go valable de 2h à 8h</span></span>
                        </div>
                    </div>
                </div>
                <div>

                    <div class="mrs inbl">
                        <input type="reset" class="btn btn--bb" value="Annuler">
                    </div>

                    <div class="inbl">
                        <input type="submit" value="Valider" class="btn btn--bb btn--important submit inactive" disabled="">
                    </div>

                </div>
            </fieldset>
        </form>
    </div>
</div>