<div class="block block--n block-avant-premiere">
    <div class="container">
        <div class="grid-2-1 mbm mob-mbl">
            <div class="block-tv mbm fl ">
                <img src="../img/contenus/banner-avant.png" alt="" />
            </div>
            <div>
                <p class="mbm">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                </p>
                <a class="btn">En savoir plus</a>
            </div>
        </div>
        <div class="onlineediteur mbm">
            <h3 >Tombola</h3>
            <p>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel
                velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, 
                nisi elit consequat ipsum, nec sagittis sem nibh id elit. ?

            </p>
        </div>
        <a href="#" class="btn btn--important">Participer</a>
    </div>
</div>