<div class="block bg-yellow-function">
    <div class="container"> 
        <div class="grid-2-tiny-1">
            <div>
                <h2 class="mbm">Mon offre</h2>
                <h3 class="mbm">Forfait Hany 8H</h3>
                <div class="block-myOffre__content">
                    <div class=" block-myOffre__txtImg">
                        <div class="block-myOffre__txt">
                            <ul class="liste-wp">
                                <li class="liste-wp__item">8H vers le national et l'international (zone 1)</li>
                                <li class="liste-wp__item">30 H vers un numéro méditel de votre choix</li>
                                <li class="liste-wp__item">500 SMS vers tous les opérateurs nationaux</li>
                                <li class="liste-wp__item">1Go d'internet sur mobile</li>
                                <li class="liste-wp__item">Facturation à la seconde dès la première seconde</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>