<div class="block-my-ligne">
    <div class="container">
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mb50 inbl">Ma ligne</h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
                <a href="/sso/logout"><i class="ic-Power mrs"></i>Déconnexion</a>
            </div>
        </div>
        <h3>Mon solde</h3>
        <div class="block-my-ligne__item">
            <div class="block-my-ligne__item_first reste-solde">
                <div class="reste-solde__content">
                    <div class="reste-solde__info">
                        il vous reste :
                        <span>7h 11min 44s</span>
                    </div>
                    <p class="mysold-info-item">Valable jusqu’au 22/08/2016</p>
                </div>
            </div>

            <div class="block-my-ligne__item_second">
                <p class="n5-title mbm">À la date du 26/05/2016</p>
                <p  class="mbl">Votre solde de recharge est de <span>39,50 DH</span></p>
                <div class="mysold">
                    <a href="#" class="btn btn--important mrs">Voir ma consommation</a>
                    <a href="#" class="btn">Mon détail d'appel</a>
                </div>
            </div>

            <div class="clear"></div>

        </div>
    </div>
</div>