<article class="item-mobile item-mobile--compare">
    <div class="visual">
        <a href="#"><img alt="" src="<%- img %>"  class="mbm"/></a>
    </div>
    <div class="mod">
        <div class="feature">
            <h3 class="n3-title--alt"><a href="#"><%- title %></a></h3>
            <div class="lam-lebel">
                <span class="lebel">Discount</span>
            </div>
        </div>
        <div class="prices-detail">
            <div class="prices mbs">
                <p>From</p>
                <p class="old-price"><span class="number-direction">129.99</span> </p>
                <p  class="s-price"><span class="number-direction">98.00</span>MAD</p>
            </div>
            <a href="#" class="btn btn--standard mbm">Details</a>
            <div>
                <div class="form-type-checkbox">
                    <input type="checkbox" id="checkbox-1" name="genre">
                    <label for="checkbox-1" class="option">Comparer</label>
                </div>
            </div>
        </div>
    </div>
</article>
