<div class="block-box">

    <div class="container">

        <h2>Orange vous accompagne</h2>

        <div class="block-box__content grid-4-tiny-2">

            <div class="box box-1">
                <span class="block-box-icon">
                    <i class="icon ic-My_Boutique ic-FS-45"></i>
                </span>
                <a target="_blank" href="#">Trouver un shop</a>
            </div>

            <div class="box box-2">
                <span class="block-box-icon">
                    <i class="icon ic-assistance ic-FS-45"></i>
                </span>
                <a target="_blank" href="#">Assistance et dépannage</a>
            </div>

            <div class="box box-3">
                <span class="block-box-icon">
                    <i class="icon ic-Control_Centre ic-FS-45"></i>
                </span>
                <a target="_blank" href="#">Service client</a>
            </div>

            <div class="box box-4">
                <span class="block-box-icon">
                    <i class="icon ic-Orange_Experts_Expert ic-FS-45"></i>
                </span>
                <a target="_blank" href="#">Orange expert</a>
            </div>

        </div>
    </div>

</div>