<div class="tab-dash__item--s">

    <div class="plr">

        <div class="container">
            <a href="" class="link-wi mbms inbl"><i class="icon ic-left"></i>Retour</a>
            <div class="sslist-block">
                <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mbl inbl">Parriner un ami</h2>
                <div class="simpletoggle-content sslist">
                    <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                    <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                    <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                    <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                    <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                    <a href="#">Assistance<i class="icon ic-right fr"></i></a>
                </div>
            </div>
            <form class="form-parsley-validate" novalidate>
                <fieldset title="">
                    <div class="grid-3-tiny-1 mbm">

                        <div class="item-form">
                            <label for="nom-prenom">Nom et prénom</label>
                            <div class="item-form-input">
                                <input type="text" class="input-form" name="fullName" id="fullName" required data-parsley-trigger="input">
                            </div>

                        </div>

                        <div class="item-form">
                            <label for="numero-contact">Numéro</label>
                            <div class="item-form-input">
                                <input type="tel" class="input-form tel" placeholder="0663048012" id="numero-contact" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" required>
                            </div>

                        </div>

                        <div class="item-form space-top">
                            <input type="submit" value="Valider" class="btn btn--important inactive submit" disabled="">
                        </div>

                    </div>

                </fieldset>

            </form>

            <div class="clearfix mbs">

                <div class="block-number-actif fr">
                    <span>4/10</span> des numéros activés
                </div>

                <div class="block-list-actif fl">
                    Liste lorum upsum
                </div>

            </div>
            <div class="clearfix  block-table-stand">
                <table class="table-stand mbl">
                    <thead>
                        <tr>
                            <th>Nom et prénom</th>
                            <th>Numéro</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>Lorum upsum idnon</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td>
                                <i class="icon ic-Hourglass ic-FS-25"></i>
                                <span><small>En cours de validation</small></span>
                            </td>
                        </tr>

                        <tr>
                            <td>Lorum upsum idnon</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td>
                                <i class="icon ic-Modifier_delete ic-FS-25"></i>
                                <span><small>Validation refusée</small></span>
                            </td>
                        </tr>

                        <tr>
                            <td>Lorum upsum idnon</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td>
                                <i class="icon ic-done_modifier ic-FS-25"></i>
                                <span><small>Validée</small></span>
                            </td>
                        </tr>

                        <tr>
                            <td>Lorum upsum idnon</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td>
                                <i class="icon ic-done_modifier ic-FS-25"></i>
                                <span><small>Validée</small></span>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <a href="#" class="link-wi mbms fl"><i class="icon ic-top"></i>Retour en haut de page</a>

            </div>


        </div>

    </div>

</div>