<section class="block block-nos-offre">
    <div class="container">
        <h2>Toutes nos offres</h2>
        <div class="grid-4-tiny-1 b-our-offres">
            <article class="our-offres item-block item-block-padd">
                <a href="#" class="item-block__action">
                    <i class="icon ic-device_smart_phone ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Facture</h3>
                </a>
                <div class="item-block__content">
                    <ul class="item-block__list">
                        <li><a href="#" title="" class="mbs">Phones Smartphones</a></li>
                        <li><a href="#" title="" class="mbs">Tablets</a></li>
                        <li><a href="#" title="" class="mbs">Lorem ipsum</a></li>
                    </ul>
                </div>
            </article>
            <article class="our-offres item-block item-block-padd">
                <a href="#" class="item-block__action">
                    <i class="icon ic-Internet ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Internet</h3>
                </a>

                <div class="item-block__content">
                    <ul class="item-block__list">
                        <li><a href="#" title="" class="mbs">Fixed Internet</a></li>
                        <li><a href="#" title="" class="mbs">Mobile Internet</a></li>
                        <li><a href="#" title="" class="mbs">Useful Information</a></li>
                    </ul>
                </div>
            </article>
            <article class="our-offres item-block item-block-padd">
                <a href="#" class="item-block__action">
                    <i class="icon ic-signal_5-5 ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Services</h3>
                </a>
                <div class="item-block__content">
                    <ul class="item-block__list">
                        <li><a href="#" title="" class="mbs inbl"> Lorem ipsum nect sin</a></li>
                        <li><a href="#" title="" class="mbs">Lorem ipsum</a></li>
                        <li><a href="#" title="" class="mbs">Lorem ipsum net sin do</a></li>
                    </ul>
                </div>
            </article>
            <div class="our-service-last">
                <div class="ic ic-tariff popout popout--2l ic-FS-220 popout--mt color-orangeW mbs">
                    <span class="popout-title">life's better without borders</span>
                </div>
                <p class="mbs">If your Orange plan isn’t working out, we’ll change it to fit around you.</p>
                <a href="#" class="btn">Find out more</a>
            </div>
        </div>
    </div>
</section>