<div class="block-Data">
    <div class="container">
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt inbl">Ma consommation</h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
            </div>
        </div>
        <h3>Ma consommation quotidienne : </h3>
        <p class="mbm"> Suivez votre durée d'appel ou votre consommation internet quotidienne sur les 30 derniers jours en toute simplicité</p>
        <div class="block-btn">
            <a class="btn btn--important mrs btn--ml no--focus" href="#">Appels</a>
            <a title="" href="#" class="btn btn--ml no--focus">Internet</a>
        </div>
        <div class="block-graph-large">
            <div class="block-graph-large__inside">
                <img src="../img/contenus/graphe-1.jpg" alt="graphe">
            </div>
        </div>
        <div class="grid-2-tiny-1">
            <div class="block-call-graph mbm">
                <h3>Types d’appels </h3>
                <p class="mbm"> <small>Consultez le TOP 10 de vos numéros les plus appelés </small></p>
                <div class="grid-2-tiny-1">
                    <div class="block-call-graph__graph">
                        <img src="../img/contenus/graphe-3.png" alt="graphe">
                    </div>
                    <div class="block-call-graph__list">
                        <ul class="list-calls">
                            <li><span class="picto-call picto-call--national"></span>National 45%</li>
                            <li><span class="picto-call picto-call--international"></span>International 33,5%</li>
                            <li><span class="picto-call picto-call--roaming"></span>Roaming 7%</li>
                            <li><span class="picto-call picto-call--other"></span>Autres 14,5%</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="block-table-graph">
                <p class="mbm"> <small> Consultez le TOP 10 de vos numéros les plus appelés </small></p>
                <table class="table-number">
                    <thead>
                        <tr>
                            <th class="w15">Rang</th>
                            <th>Numéro</th>
                            <th class="w20">Durée</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w15">1</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">2</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">3</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">4</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">5</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">6</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">7</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">8</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">9</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                        <tr>
                            <td class="w15">10</td>
                            <td class="regular"><strong class="number-direction">06 63 12 31 23</strong></td>
                            <td class="w31 regular">17:37</td>
                        </tr>
                    </tbody>
                </table>
                <div class="fr">
                    <a title="" href="#" class="btn btn-small">Mon détail d’appel</a>
                </div>
            </div>
        </div>
    </div>
</div>
