<section class="find-info block block--n">
    <div class="container">
        <a class="btn btn-small btn--ms fr" href="#">Tous</a>
        <h2 class="mbl">Services et divertissements</h2>
        <div class="grid-3-small-1">
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">

                    <img  alt="" src="../img/contenus/visuel-19.png">

                </figure>
                <div class="item-av__content">
                    <h3>Fournisseur</h3>
                    <p>Remplissez ce formulaire pour devenir un fournisseur référencé chez méditel.</p>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img  alt="" src="../img/contenus/visuel-20.png">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Candidat</a></h3>
                    <p>Nous sommes à la recherche de personnes motivées et talentueuses, rejoignez-nous !</p>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">

                    <img  alt="" src="../img/contenus/visuel-21.png">

                </figure>
                <div class="item-av__content">
                    <h3>Journaliste</h3>
                    <p>Consultez nos communiqués de presse en temps réel !</p>
                </div>
            </div>
        </div>
    </div>
</section>