<div class="bg-black color-white block">
    <div class="container">
        <h2 class="mbl">Comment recharger une carte prépayée</h2> 

        <div class="grid-3-tiny-1">

            <div>

                <p class="mbm">1 / Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <p class="mbm">2 / Aenean euismod bibendum laoreet. <br>
                    Proin gravida dolor sit amet lacus. <br>
                    Accumsan et viverra justo commodo. <br>
                    Proin sodales pulvinar tempor. </p>

            </div>

            <div>

                <p class="mbm">3 / Aenean euismod bibendum laoreet. <br>
                    Proin gravida dolor sit amet lacus.<br>
                    Accumsan et viverra justo commodo. <br>
                    Proin sodales pulvinar tempor. </p>

                <p class="mbm">4 / Nam fermentum, nulla luctus pharetra.</p>

            </div>

            <div>

                <p class="mbm"> 5 / Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
Accumsan et viverra justo commodo. </p>

                <p class="mbm">6 / Aenean euismod bibendum laoreet, proin gravida dolor sit amet lacus.</p>

            </div>

        </div>
    </div>
</div>