<div class="block color-white block-bg-stand block-mon-cloud bg-black">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm w80">Mon cloud</h2>
            <div class="onlineediteur mbm">
                <p>Vous bénéficiez d'un espace de 10Go gratuit.</p>
                <h4 class="mbs">Votre espace disponible.</h4>
            </div>
            <div class="block-btns">
                <a href="cloud-activate.html" class="btn btn--bb btn--important mbs">Activer mon cloud</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/my-cloud.png" alt=""/>
        </div>
    </div>
</div>