<div class="block block-bg-stand bg-green">
    <div class="container">
        <div class="block-bg-stand__content">
             <h2 class="mbm w80">Vue 360°</h2>
            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
</p>
            <div class="block-btns">
                <a href="#" class="btn btn--standard mrs mbs">Ma vue fixe</a>
                <a href="#" class="btn mrs mbs">Ma vue mobile</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-14.png" alt="">
        </div>
    </div>
</div>