<div class="block-prep-Data">
    <div class="container">
        <h2 class="o-mbl">Ma consommation internet</h2>
        <div class="grid-2-tiny-1">
            <div class="mbm">
                <h3 class="mbm">Mon solde</h3>
                <h5 class="mbm">Votre solde de connexion </h5>
                <div class="block-icon-Internet">
                    <i class="icon ic-Internet ic-FS-85"></i>
                    <span>Internet</span>
                </div>
                <div class="mod">
                    <span class="date-progress">À la date du 26/05/2016</span>
                    <div class="zone-progress mbs">
                        <div class="progress">
                            <div style="width: 92%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-red-function">
                                <span class="sr-only">60% Complete</span>
                                <div class="picto-progress-bar "></div>
                            </div>   
                        </div>                       
                    </div>
                    <div class="clearfix">
                        <span class="picto-conso bg-red-function fr"></span>
                        <p class="fl w60">
                            <small>
                                Votre solde de connexion est épuisé
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mbm">
                <h3 class="mbm">Ma recharge</h3>
                <p class="txt-medium">Votre solde de recharge :</p>
                <p class="o-mbl"><span class="number-large-color">0,00 DH</span></p>
                <div>
                    <a href="#" class="btn btn--important mrm mbs">Recharger ma ligne</a>
                    <a href="#" class="btn mbs">Activer un Pass</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="separator o-mbl"></div>

<div class="block-prep-Data ">
    <div class="container">
        <h3 class="mbm">Mon offre</h3>
        <div class="grid-2-tiny-1">

            <div class="mbm">

                <p class="o-mbs">Numéro : 06 63 12 12 12</p>
                <p class="o-mbs">Carte SIM internet</p>
                <div class="info-alert info-alert-small clearfix">
                    <i class="icon ic-Text_alerts"></i>
                    <p class="mod"><span>Votre ligne n’est pas identifiée</span></p>
                </div>
                <p>
                    <small>
                        <a href="#">This is Photoshop's version  of Lorem Ipsum.</a>
                    </small>
                </p>
                <p>
                    <small>
                        <a href="#">Proin gravida nibh vel velit auctor aliquet. </a>
                    </small>
                </p>

            </div>


            <div class="mbm">

                <h3 class="n3-title--alt mbm">Les avantages de l’offre</h3>

                <ul class="liste-wp">
                    <li class="liste-wp__item">Pass 1 jour à 10 DH</li>
                    <li class="liste-wp__item">Pass 7 jour à 30 DH</li>
                    <li class="liste-wp__item">Pass 30 jour à 100 DH</li>
                    <li class="liste-wp__item">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </li>
                </ul>

            </div>

        </div>
    </div>
</div>