<h3 class="n3-title--alt mbm">Lorem ipsum</h3>
<div class="w70 m-w90">
    <div class="block-lf-visuel mrm">
        <img alt="" src="../img/contenus/visuel-68.png" >
    </div>


    <div class="mod ptm">

        <h5 class="mbs">This is Photoshop's version  of Lorem Ipsum</h5>
        <p >This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>


    </div>

    <div class="clear"></div>

</div>
