<section class="block block-bg-stand">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Mon offre</h2>
            <div class="onlineediteur">
                <h3>Forfait Due FIBRE</h3>
                <ul >
                    <li >8H vers le national et l'international (zone 1)</li>
                    <li >30 H vers un numéro méditel de votre choix</li>
                    <li >Facturation à la seconde  dès la première seconde</li>
                </ul>
            </div>
        </div>
    </div>
</section>