<div class="block-my-ligne">
    <div class="container">
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mb50 inbl">Ma ligne</h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
            </div>
        </div>
        <h3>Mon solde</h3>
        <p class="date-my-ligne">À la date du 26/05/2016</p>
        <div class="block-my-ligne__item">

            <div class="block-my-ligne__item_first reste-solde"> 
                <div class="reste-solde__content">
                    <div class="reste-solde__info">
                        il vous reste :
                        <span>7h 11min 44s</span>
                    </div>
                    <p class="mysold-info-item"><span class="mysold-info-item__value">37.03 dhs </span> de recharge à consommer avant le 02/10/2016.</p>
                </div>
            </div>

             <div class="block-my-ligne__item_second">
                <div class="grid-3-tiny-3 myconsumation-items">
                    <div class="myconsumation-item">
                        <i class="icon ic-call ic-FS-60"></i>
                        <h4 class="myconsumation-item__title"><span class="picto-conso bg-yellow"></span>Appels</h4>
                        <p class="myconsumation-item__desc">Reste 15 min en national</p>
                    </div>
                    <div class="myconsumation-item">
                        <i class="icon ic-Internet ic-FS-60"></i>
                        <h4 class="myconsumation-item__title"><span class="picto-conso bg-red-function"></span>Internet</h4>
                        <p class="myconsumation-item__desc">94 0MO</p>
                    </div>
                    <div class="myconsumation-item">
                        <i class="icon  ic-Orange_Messenger ic-FS-60"></i>
                        <h4 class="myconsumation-item__title"><span class="picto-conso bg-green-function"></span>SMS</h4>
                        <p class="myconsumation-item__desc">473</p>
                    </div>
                </div>
                <div class="mysold">
                    <div>
                        <h3 class="simpletoggle-title js-st-title">Solde gratuités</h3>
                        <div class="mysold-info-items simpletoggle-content">
                            <p class="mysold-info-item"><span class="mysold-info-item__value">28h 33min 1s</span> vers votre numéro préféré méditel</p>
                            <p class="mysold-info-item"><span class="mysold-info-item__value">472</span> SMS nationaux.</p>
                            <p class="mysold-info-item"><span class="mysold-info-item__value">940 MO</span> d'internet sur mobile.</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn--important mrs">Voir ma consommation</a>
                    <a href="#" class="btn">Mon détail d'appel</a>
                </div>
            </div>

            <div class="clear"></div>
            
        </div>
    </div>
</div>