<div class="block-options ">
    <div class="container">
        <a class="link-wi mbl inbl" href=""><i class="icon ic-left"></i>Retour</a>
        <div class="sslist-block">
            <h2 class="o-mbm inbl">Mes options</h2>
        </div>
        <div class="toggle-option mbl">
            <div class="toggle-option__item">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input1"/>
                <div  class="toggle-option__header cssAccordion-header mod ">
                    <label class="cssAccordion-label" for="cssAccordion-input1"></label>
                    <div class="grid-2 items-option-active">
                        <div class="mob-w50" >
                            <h3 class="  n3-title--alt mob-w100 res-w80">Option avantage DUO</h3>
                        </div>
                        <div class="mob-w34">
                            <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>30 DH / mois</span></p>
                            <a  class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cssAccordion-body">
                    <div class="toggle-option__body">
                        <div class="mb28">
                            <div>
                                <p class="w70 inbl">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                                <div class="zone-info">
                                    <a class="picto-info" href="#" title="">
                                        <i class="icon ic-assistance"></i>
                                    </a> 
                                    <div class="content-info">          
                                        <div class="arrow_box">
                                            This is Photoshop's version  of Lorem Ipsum. Proin gravida
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-option__item">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input2"/>
                <div  class="toggle-option__header cssAccordion-header mod ">
                    <label class="cssAccordion-label" for="cssAccordion-input2"></label>
                    <div class="grid-2 items-option-active">
                        <div class="mob-w50" >
                            <h3 class="  n3-title--alt mob-w100 res-w80">Option sécurité</h3>
                        </div>
                        <div class="mob-w34">
                            <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>25 DH / mois</span></p>
                            <a  class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cssAccordion-body">
                    <div class="toggle-option__body">
                        <div class="mb28">
                            <div><p class="w80">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-option__item">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input3"/>
                <div  class="toggle-option__header cssAccordion-header mod ">
                    <label class="cssAccordion-label" for="cssAccordion-input3"></label>
                    <div class="grid-2 items-option-active">
                        <div class="mob-w50" >
                            <h3 class="  n3-title--alt mob-w100 res-w80">Option double SIM</h3>
                        </div>
                        <div class="mob-w34">
                            <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>50 DH / mois</span></p>
                            <a  class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                            </a>
                        </div>
                    </div>
                </div> 
                <div class="cssAccordion-body">
                    <div class="toggle-option__body">
                        <div class="mb28">
                            <div><p class="w80">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p></div>
                        </div>
                        <button class="btn btn--important">Activer</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
