<section class="block block-vos-services block--n ">
    <div class="container">
        <h2>Vos services</h2>
        <div class="grid-4-tiny-2 items-links-service">
            <article class="item-links-service">

                <i class="icon ic-bill ic-FS-75 mbs"></i>
                <h3 class="n3-title--alt">Facture</h3>

            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-Child_Protection ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Recharge</h3>
                </a>
            </article>
            <article class="item-links-service">

                <i class="icon ic-My_Orange ic-FS-75 mbs"></i>
                <h3 class="n3-title--alt">Application<br/>My Orange</h3>

            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-Inbox ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Suivi de commande</h3>
                </a>
            </article>
        </div>
    </div>
</section>
