<div class="block">
    <div class="container">
        <h2 class="o-mbl plr">Mon offre</h2>
        <div class="block_step step mbl">
            <ul class="step3 clearfix">
                <li class="previous-step">
                    <span class="number-step">1.</span><span class="step-txt">Choix du forfait</span>
                </li>
                <li class="current">
                    <span class="number-step">2.</span><span class="step-txt">Récapitulatif</span>
                </li>
                <li>
                    <span class="number-step">3.</span><span class="step-txt">Confirmation</span>
                </li>
            </ul>
        </div>

        <div class="plr">

            <h3 class="mbl"> Ma commande</h3>



            <form class="form-parsley-validate form-plan" novalidate>
                <fieldset title="">

                    <div class="grid-3-small-2-tiny-2">

                        <div class="mbl">
                            <h3 class="n3-title--alt">Mon numéro</h3>
                            <p>0663000000</p>
                        </div>


                        <div class="mbl">
                            <h3 class="n3-title--alt">Frais de changement de forfait TTC</h3>
                            <p><span class="txt-color-size">99.99 DH</span></p>
                        </div>

                    </div>

                    <div class="grid-3-small-2-tiny-2">

                        <div class="o-mbl">
                            <h3 class="n3-title--alt">Mon forfait actuel</h3>
                            <p>Forfait Orange à 99 DH</p>
                        </div>

                        <div class="o-mbl">
                            <h3 class="n3-title--alt">Mon nouveau Forfait</h3>
                            <p>Forfait 2H + 2GO</p>
                        </div>


                        <div class="o-mbl">
                            <h3 class="n3-title--alt">Montant du Forfait:</h3>
                            <p>99 Dh/Mois</p>
                        </div>

                        <div class="o-mbl">
                            <h3 class="n3-title--alt">Date de changement de forfait</h3>
                            <p>18-03-2017</p>
                        </div>

                    </div>

                    <div class="grid-3-small-1-tiny-1">

                        <div class="item-form">
                            <label for="mail">Adresse e-mail <span>*</span></label>
                            <div class="item-form-input">

                                <input type="email" data-parsley-trigger="input" placeholder="mobel@orange.ma" class="input-form" name="mail" id="mail" required>
                            </div>
                        </div>
                    </div>


                    <h3 class="mbm">Mode de paiement</h3>

                    <div class="item-form item-form-picto">

                        <i class="icon ic-bill ic-FS-30"></i> <span class="w85 valign-top"><small><a href="#">Les frais de changement de forfait seront reportés sur votre facture</a></small></span>

                    </div>

                    <div class="item-form">
                        <div class="form-type-checkbox">

                            <input type="checkbox" id="checkbox-1" name="conditions" data-parsley-trigger="change" required>
                            <label for="checkbox-1" class="option">J'ai lu et j'accepte les <a href="#"> conditions générales d'utilisation de l'espace client entreprise Orange,</a> ce traitement est autorisé sous le numéro D-W-19/2016 <span>*</span></label>
                        </div>

                    </div>

                    <div class="mbs">
                        <div class="mrs inbl">
                            <input type="reset" class="btn" value="Annuler">
                        </div>
                        <div class="inbl">
                            <input type="submit" value="Envoyer" class="btn btn--important inactive submit" disabled>
                        </div>
                    </div>

                </fieldset>

            </form>

        </div>

    </div>

</div>
