<section class="block block-bg-stand bg-green "> 
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Recharge en rapide</h2>
            <div class="onlineediteur mbm">
                <p>
                    Découvrez un moyen simple et sécurisé pour profiter de l'ensemble des offres et promotions mobile et internet ! 
                </p>  
            </div>
            <div class="block-btns">
                <a class="btn btn--standard" href="#">Recharger</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-25.png" alt="">
        </div>
    </div>
</section>