<div class="block-options ">
    <div class="container">
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mbl inbl">Mes options</h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
            </div>
        </div>
        <h3>Mes option activées</h3>
        <div class="toggle-option">
            <div class="toggle-option__item">
                <div class="toggle-option__header">
                    <div class="grid-2-tiny-1">
                        <div><h3 class="n3-title--alt w80">15 minutes d'appels vers l'étranger (30 jours)</h3></div>
                        <div>
                            <div class="grid-2-1 price-detail">
                                <div>
                                    <p class="n3-title--alt"><span>25 DH</span></p>
                                </div>
                                <div class="txtright">
                                    <a href="#blockOptions1" class="link-edite js-header-toggle">
                                        <span class="edit">Afficher le détail</span>
                                        <span class="close"><i class="icon ic-Delete "></i></span>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-blockEdite toggle-option__body" id="blockOptions1">
                    <h5>Description</h5>
                    <div class="grid-2-tiny-1 mb28">
                        <div><p class="w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p></div>
                        <div><p class="w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p></div>
                    </div>
                    <button class="btn"> Supprimer l'option</button>
                </div>
            </div>
            <div class="toggle-option__item">
                <div class="toggle-option__header">
                    <div class="grid-2-tiny-1">
                        <div><h3 class="n3-title--alt w80">Un numéro préféré gratuit</h3>   </div>
                        <div>
                            <div class="grid-2-1 price-detail">
                                <div><p class="n3-title--alt"><span>Gratuit</span></p></div>
                                <div class="txtright">
                                    <a href="#blockOptions2" class="link-edite js-header-toggle">
                                        <span class="edit">Afficher le détail</span>
                                        <span class="close"><i class="icon ic-Delete "></i></span>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-blockEdite toggle-option__body" id="blockOptions2">
                    <h5>Description</h5>
                    <div class="grid-2-tiny-1 mb28">
                        <div><p class="w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p></div>
                        <div><p class="w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p></div>
                    </div>
                    <button class="btn"> Supprimer l'option</button>
                </div>
            </div>
            <div class="toggle-option__item">
                <div class="toggle-option__header">
                    <div class="grid-2-tiny-1">
                        <div><h3 class="n3-title--alt w80">5 Go d'internet sur mobile (30 jours)</h3>   </div>
                        <div>
                            <div class="grid-2-1 price-detail">
                                <div><p class="n3-title--alt"><span>50 DH</span></p></div>
                                <div class="txtright">
                                    <a href="#blockOptions3" class="link-edite js-header-toggle">
                                        <span class="edit">Afficher le détail</span>
                                        <span class="close"><i class="icon ic-Delete "></i></span>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-blockEdite toggle-option__body" id="blockOptions3">
                    <h5>Description</h5>
                    <div class="grid-2-tiny-1 mb28">
                        <div><p class="w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p></div>
                        <div><p class="w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p></div>
                    </div>
                    <button class="btn"> Supprimer l'option</button>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="block-addOptions">
    <div class="container">
        <h3 class="mbl">Ajouter des options</h3></div>
    <div class="toggle-add-option">
        <div class="toggle-add-option__item">
            <div class="container">
                <div class="toggle-add-option__header">
                    <div class="grid-2-1">
                        <div><h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Mes numéros préférés</h3></div>
                        <div class="txtright"><a href="#blockOptions15" class="js-header-toggle linkOpenOptions">3 options disponibles<i class="icon ic-Arrow_down mlm"></i></a></div>
                    </div>
                </div>
            </div>
            <div id="blockOptions15" class="toggle-add-option__body js-blockEdite pbl">
                <div class="container">
                    <div class="toggle-option">
                        <div class="toggle-option__item">
                            <div class="toggle-option__header">
                                <div class="grid-2-tiny-1">
                                    <div><h3 class="n3-title--alt w90">Mes numéros préférés payants</h3></div>
                                    <div>
                                        <div class="grid-2-1 price-detail">
                                            <div>
                                                <p class="n3-title--alt"><span>79 DH</span></p>
                                            </div>
                                            <div class="txtright">
                                                <a href="#blockOptions20" class="link-edite js-header-toggle">
                                                    <span class="edit">Afficher le détail</span>
                                                    <span class="close"><i class="icon ic-Delete "></i></span>
                                                </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>






                            <div class="js-blockEdite toggle-option__body" id="blockOptions20" >
                                <h5>1 numéro préféré gratuit</h5>
                                <p class="mbm"><span>votre offre vous permet d'avoir 1 numéro </span></p>
                                <div class="mb28">
                                    <div>
                                        <ul class="liste-wp">
                                            <li>
                                                0666447785 
                                                <a  href="#editnum" class="link-edite js-header-toggle">
                                                    <span class="edit"><i class="icon ic-Pencil "></i></span>
                                                    <span class="close"><i class="icon ic-Delete "></i></span>
                                                </a>
                                                <div id="editnum" class=" js-blockEdite mtm"> 
                                                    <h4>Modifier numéro</h4>
                                                    <div class="grid-2-tiny-1">
                                                        <p class="w50 mbm">vous vaes choisi de modifier votre numéro préféré gratuit méditel. cette opération vous doûtra 
                                                            <span>25dhs</span> et dera déduite de votre solde de recharge.veuillez saisir et 
                                                            confirmer votre nouveau numéro préféré
                                                        </p>
                                                    </div>
                                                    <form >
                                                        <fieldset>
                                                            <div class="grid-2-tiny-1">
                                                                <div>
                                                                    <div class="item-form  ">
                                                                        <div class="item-form-input">
                                                                            <input type="text" class="input-form" name="input1" id="input900" placeholder="1245780157" />
                                                                            <span class="msg-error">Numéro invalide</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item-form  ">
                                                                        <div class="item-form-input">
                                                                            <input type="text" class="input-form" name="input1" id="input9922" placeholder="nouveau numéro" />
                                                                            <span class="msg-error">Numéro invalide</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item-form  ">
                                                                        <div class="item-form-input">
                                                                            <input type="text" class="input-form" name="input1" id="input8055" placeholder="Confirmer le numéro" />
                                                                            <span class="msg-error">Numéro invalide</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="regular mbm"><small>Tous les chapms sont obligatoire</small></p>
                                                            <div class="item-form">
                                                                <a href="#" class="btn">Annuler</a> 
                                                                <a href="#" class="btn btn--important">valider</a> 
                                                            </div>
                                                        </fieldset>
                                                    </form>

                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#addOptions1" class="link-edite js-header-toggle">
                                    <span class="edit btn btn--important"> Ajouter un numéro</span>
                                    <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                </a>
                                <div class="js-blockEdite addOptions" id="addOptions1" style="display: none;">
                                    <h4 class="mbm">Ajouter un numéro</h4>
                                    <p class="mbm">Veullez saisir votre numéro préféré gratuit méditel</p>
                                    <form >
                                        <fieldset>
                                            <div class="grid-2">
                                                <div>
                                                    <div class="item-form  ">
                                                        <div class="item-form-input">
                                                            <input type="text" class="input-form" name="numero" id="numero" placeholder="numéro" />
                                                            <span class="msg-error">Numéro invalide</span>
                                                        </div>
                                                    </div>
                                                    <div class="item-form  ">
                                                        <div class="item-form-input">
                                                            <input type="text" class="input-form" name="confirmernumero" id="confirmernumero" placeholder="Confirmer le numéro" />
                                                            <span class="msg-error">Numéro invalide</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="regular mbm"><small>Tous les chapms sont obligatoire</small></p>
                                            <div class="item-form">
                                                <a href="#" class="btn">Annuler</a> 
                                                <a href="#" class="btn btn--important">valider</a> 
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-option__item">
                            <div class="toggle-option__header">
                                <div class="grid-2-tiny-1">
                                    <div><h3 class="n3-title--alt w90">Mes numéros préférés gratuits</h3>   </div>
                                    <div>
                                        <div class="grid-2-1 price-detail">
                                            <div><p class="n3-title--alt"><span>Gratuit</span></p></div>
                                            <div class="txtright">
                                                <a href="#blockOptions22" class="link-edite js-header-toggle">
                                                    <span class="edit">Afficher le détail</span>
                                                    <span class="close"><i class="icon ic-Delete "></i></span>
                                                </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-add-option__item">
            <div class="container">
                <div class="toggle-add-option__header">
                    <div class="grid-2-1">
                        <div><h3 class="n3-title--alt"><i class="icon  ic-Internet ic-FS-40"></i>Mes options vers l’international</h3></div>
                        <div class="txtright"><a href="#blockOptions16" class="js-header-toggle linkOpenOptions">2 options disponibles<i class="icon ic-Arrow_down mlm"></i></a></div>
                    </div>
                </div>
            </div>
            <div id="blockOptions16" class="toggle-add-option__body js-blockEdite pbl">
                <div class="container">
                    <div class="toggle-option">
                        <div class="toggle-option__item">
                            <div class="toggle-option__header">
                                <div class="grid-2-tiny-1">
                                    <div><h3 class="n3-title--alt w90">15 minutes d'appels vers l'étranger (30 jours)</h3></div>
                                    <div>
                                        <div class="grid-2-1 price-detail">
                                            <div>
                                                <p class="n3-title--alt"><span>25 DH</span></p>
                                            </div>
                                            <div class="txtright">
                                                <a href="#blockOptions19" class="link-edite js-header-toggle">
                                                    <span class="edit">Afficher le détail</span>
                                                    <span class="close"><i class="icon ic-Delete "></i></span>
                                                </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="js-blockEdite toggle-option__body" id="blockOptions19">
                                <h5>Description</h5>
                                <div class="grid-2-tiny-1 mb28">
                                    <div><p class="w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p></div>
                                    <div><p class="w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p></div>
                                </div>
                                <button class="btn"> Supprimer l'option</button>
                            </div>
                        </div>
                        <div class="toggle-option__item">
                            <div class="toggle-option__header">
                                <div class="grid-2-tiny-1">
                                    <div><h3 class="n3-title--alt w90">Un numéro préféré gratuit</h3>   </div>
                                    <div>
                                        <div class="grid-2-1 price-detail">
                                            <div><p class="n3-title--alt"><span>Gratuit</span></p></div>
                                            <div class="txtright">
                                                <a href="#blockOptions2" class="link-edite js-header-toggle">
                                                    <span class="edit">Afficher le détail</span>
                                                    <span class="close"><i class="icon ic-Delete "></i></span>
                                                </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-option__item">
                            <div class="toggle-option__header">
                                <div class="grid-2-tiny-1">
                                    <div><h3 class="n3-title--alt w90">5 Go d'internet sur mobile (30 jours)</h3>   </div>
                                    <div>
                                        <div class="grid-2-1 price-detail">
                                            <div><p class="n3-title--alt"><span>50 DH</span></p></div>
                                            <div class="txtright">
                                                <a href="#blockOptions3" class="link-edite js-header-toggle">
                                                    <span class="edit">Afficher le détail</span>
                                                    <span class="close"><i class="icon ic-Delete "></i></span>
                                                </a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-add-option__item">
            <div class="container">
                <div class="toggle-add-option__header">
                    <div class="grid-2-1">
                        <div><h3 class="n3-title--alt"><i class="icon  ic-Orange_Messenger ic-FS-40"></i>Pass SMS</h3></div>
                        <div class="txtright"><a href="#blockOptions17" class="js-header-toggle linkOpenOptions">2 options disponibles<i class="icon ic-Arrow_down mlm"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-add-option__item">
            <div class="container">
                <div class="toggle-add-option__header">
                    <div class="grid-2-1">
                        <div><h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Mes options vers le national</h3></div>
                        <div class="txtright"><a href="#blockOptions18" class="js-header-toggle linkOpenOptions">3 options disponibles<i class="icon ic-Arrow_down mlm"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>