<div class="block block--n block-cloud-activate">
            <div class="container">
                <div class="block_step block_step_2col step o-mbl">
                    <ul class="step2 clearfix">
                        <li class="current">
                            <span class="number-step">1.</span><span class="step-txt">Activation</span>
                        </li>
                        <li>
                            <span class="number-step">2.</span><span class="step-txt">Confirmation</span>
                        </li>
                    </ul>
                </div>


                <div class="block-content-step plr">
                        <div>

                            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>

                            <!-- Form -->
                            <div class="block block--n">
                                <div class="container">
                                    <div class="block-content-step plr">
                                        <form class="form-parsley-validate" novalidate>
                                            <fieldset>
                                                <div>
                                                    <div class="grid-3-tiny-1">
                                                        <div class="o-mbl">
                                                            <div class="block-form-radio-item">
                                                                <div class="form-type-radio mh40">
                                                                    <input type="radio" name="genre" id="radio-1" required data-parsley-trigger="change">
                                                                    <label class="option" for="radio-1">Lorem ipsum dolor sit amet, consectetur adipisicing.</label>
                                                                </div>
                                                                <div class="block-content-puce">
                                                                    <a class="block-content-puce__link js-st-title" title="" href="#">Détails</a>
                                                                    <div class="simpletoggle-content " style="display: none;">
                                                                        <ul class="liste-wp liste-wp__small">
                                                                            <li>Routeur Internet Wifi ;</li>
                                                                            <li>Compatible avec l'offre FTTH de Méditel ;</li>
                                                                            <li>Wi-Fi 802.11n ;</li>
                                                                            <li>Partage multimédia DLNA via port USB ;</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="o-mbl">
                                                            <div class="block-form-radio-item">
                                                                <div class="form-type-radio mh40">
                                                                    <input type="radio" name="genre" id="radio-2">
                                                                    <label class="option" for="radio-2">Lorem ipsum dolor sit amet.</label>
                                                                </div>
                                                                <div class="block-content-puce">
                                                                    <a class="block-content-puce__link js-st-title" title="" href="#">Détails</a>
                                                                    <div class="simpletoggle-content " style="display: none;">
                                                                        <ul class="liste-wp liste-wp__small">
                                                                            <li>Routeur Internet Wifi ;</li>
                                                                            <li>Compatible avec l'offre FTTH de Méditel ;</li>
                                                                            <li>Wi-Fi 802.11n ;</li>
                                                                            <li>Partage multimédia DLNA via port USB ;</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="o-mbl">
                                                            <div class="block-form-radio-item">
                                                                <div class="form-type-radio mh40">
                                                                    <input type="radio" name="genre" id="radio-3">
                                                                    <label class="option" for="radio-3">Lorem ipsum dolor sit amet, consectetur.</label>
                                                                </div>
                                                                <div class="block-content-puce">
                                                                    <a class="block-content-puce__link js-st-title" title="" href="#">Détails</a>
                                                                    <div class="simpletoggle-content " style="display: none;">
                                                                        <ul class="liste-wp liste-wp__small">
                                                                            <li>Routeur Internet Wifi ;</li>
                                                                            <li>Compatible avec l'offre FTTH de Méditel ;</li>
                                                                            <li>Wi-Fi 802.11n ;</li>
                                                                            <li>Partage multimédia DLNA via port USB ;</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="mrs inbl">
                                                        <input type="reset" value="Annuler" class="btn">
                                                    </div>
                                                    <div class="inbl">
                                                        <input type="submit" class="btn btn--important inactive submit" value="Valider" disabled="">
                                                    </div>
                                                </div>


                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Form -->
                            
                        </div>
                </div>

            </div>

        </div>