<section class="block-mon-cloud block bg-black color-white">
    <div class="container">
        <h2 class="mbm">Mon cloud</h2>
        <div class="grid-2-1">
            <div>
                <div class="grid-1-2 mob-mbm">
                    <div class="mob-mbm">
                        <img src="../img/contenus/visuel-29.png" alt="" />
                    </div>
                    <div>
                        <p class="mbs">Vous bénéficiez d'un espace de 10Go gratuit.</p>
                        <h4 class="mbs">Votre espace disponible.</h4>
                        <div class="zone-progress">
                            <div class="progress progress--yellow">
                                <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-yellow-function">
                                    <span class="sr-only">60% Complete</span>
                                    <div class="picto-progress-bar ">
                                        40%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="fr"><small>Reste <span class="number-direction">2Go/ 10Go</span></small></p>
                    </div>
                </div>
            </div>
            <div class="block-mon-cloud__visuel">
                <a href="#popin-cloud" class="btn btn--bb btn--important w80 mbs js-popup-open">Accéder à mon cloud</a>
                <a href="#" class="btn btn--bb w80">Plus d'espace</a>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <div class="popin-block po-pup-dest" id="popin-cloud">
            <div class="container-popup">
                <p class="mbm">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <a href="#lien-desktop" class="btn btn--important desktop-show">Accéder à mon cloud</a>
                <a href="#lien-android" class="btn btn--important android-show">Accéder à mon cloud</a>
                <a href="#lien-iOS" class="btn btn--important iOS-show">Accéder à mon cloud</a>
            </div>
        </div>
    </div>
</section>
