<section class="block-avantages block">
    <div class="container">
        <h2 class="mbm">Mes Avantages</h2>
        <div class="grid-3-tiny-1">
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img src="../img/contenus/visuel-26.jpg" alt="" />
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3> <a href="#">Mes SMS gratuits</a></h3>
                    <p>It is a long established fact that a reader </p>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img src="../img/contenus/visuel-27.jpg" alt="" />
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3> <a href="#">Orange Cineday</a></h3>
                    <p>It is a long established fact that a reader that a reader </p>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img src="../img/contenus/visuel-28.jpg" alt="" />
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Tfaraj M3ana</a></h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content  </p>
                </div>
            </div>
        </div>
    </div>
</section>
