<section class="block bg-gray7">
    <div class="container">
        <h2>Orange vous accompagne</h2>
        <div class="items-links-service grid-4-tiny-2">
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-My_Boutique ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt ">Trouver un shop</h3>
                </a>
            </article>
            <article class="item-links-service">
                <a href="#">

                    <i class="icon ic-assistance ic-FS-75 mbs"></i>

                    <h3 class="n3-title--alt ">Assistance et dépannage</h3>
                </a>
            </article>
            <article class="item-links-service">
                <a href="#">

                    <i class="icon ic-Control_Centre ic-FS-75 mbs"></i>

                    <h3 class="n3-title--alt ">Service client</h3>
                </a>
            </article>
            <article class="item-links-service">
                <a href="#">

                    <i class="icon ic-Orange_Experts_Expert ic-FS-75 mbs"></i>

                    <h3 class="n3-title--alt ">Orange expert</h3>
                </a>
            </article>
        </div>
    </div>
</section>
