<section class="block block-bg-stand bg-yellow ">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Modifier mon numéro</h2>
            <div class="onlineediteur mbm">
                <p>
                    It is a long established fact that a reader It is a long established fact that a reader
                </p>
            </div>
            <div class="block-btns">
                <a class="btn btn--standard" href="#">Modifier le numéro</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-92.png" alt="">
        </div>
    </div>
</section>