<section class="block-avantages block block--n">
    <div class="container">
        <h2 class="mbm">Les avantages Orange</h2>
        <div class="grid-4-tiny-2">
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">

                    <img src="../img/contenus/visuel-26.jpg" alt=""  />

                </figure>
                <div class="item-av__content">
                    <p>It is a long established fact that a reader </p>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img src="../img/contenus/visuel-27.jpg" alt="" />
                    </a>
                </figure>
                <div class="item-av__content">
                    <p>It is a long established fact that a reader  </p>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">

                    <img src="../img/contenus/visuel-28.jpg" alt=""  />

                </figure>
                <div class="item-av__content">
                    <p>It is a long established fact that a reader   </p>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img src="../img/contenus/visuel-26.jpg" alt=""  />
                    </a>
                </figure>
                <div class="item-av__content">
                    <p>It is a long established fact that a reader </p>
                </div>
            </div>
        </div>
    </div>
</section>
