<div class="block">

    <div class="container">
        <!---->
        <!---->
        <div>
            <h2 class="o-mbl plr">Ajouter une ligne</h2>


            <div class="block_step block_step_2col step o-mbl">
                <ul class="step1 clearfix">
                    <li class="current">
                        <span class="number-step">1.</span><span class="step-txt">Choix de la ligne</span>
                    </li>
                    <li>
                        <span class="number-step">2.</span><span class="step-txt">Confirmation</span>
                    </li>
                </ul>
            </div>

            <div class="plr "> 


                <form  method="post" action="#" class="form-tab">
                    <fieldset title="">

                        <div class="grid-2-1">

                            <div>

                                <div>



                                    <p class="txt-large-1">Vous allez recevoir un code d'activation par SMS au <strong class="number-direction"> 0663123123 </strong> </p>


                                </div>



                                <div class="grid-2-tiny-1">


                                    <div class="item-form">
                                        <label for="code">Saisissez le code d'activation</label>

                                        <div class="item-form-input">
                                            <input id="code" type="text" placeholder="123" class="input-form">
                                            <span class="msg-error">Numéro invalide</span>
                                        </div>

                                    </div>


                                </div>


                                <div class="mbs">
                                    <div class="mrs inbl">
                                        <input type="reset" value="Annuler" class="btn">
                                    </div>
                                    <div class="inbl">
                                        <input type="submit" class="btn btn--important" value="Valider">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </fieldset>
                </form> 



            </div>

        </div>
        <!---->
        <!---->


    </div>

</div>