<section class="block block-nos-solutions">
    <div class="container">
        <h2>Nos solutions</h2>
        <div class="grid-3-tiny-2 items-links-service">
            <article class="item-links-service">
                <i class="icon  ic-Finance ic-FS-75 mbs"></i>
                <h3 class="n3-title--alt">Cartes prépayées</h3>
            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-Sim ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Forfaits Orange</h3>
                </a>
            </article>
            <article class="item-links-service">

                <i class="icon ic-G2 ic-FS-75 mbs"></i>
                <h3 class="n3-title--alt">Internet 4G</h3>

            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-Gauge-Mon-Reseau ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Internet ADSL</h3>
                </a>
            </article>
            <article class="item-links-service">

                <i class="icon ic-device_smart_phone ic-FS-75 mbs"></i>
                <h3 class="n3-title--alt">Smartphones</h3>

            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-Inbox ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Equipements internet</h3>
                </a>
            </article>
        </div>
    </div>
</section>
