<div class="block-send-sms">
    <div class="container">
        <a href="" class="link-wi mbms inbl"><i class="icon ic-left"></i> Reteur  </a>
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mb50 inbl">Envoyer des SMS </h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
            </div>
        </div>
        <div class="sms-reste w32 mll mbm fr">
            <p class="mb5">Décompte des SMS restants 20/20</p>
            <div class="zone-progress">
                <div class="progress progress--green">
                    <div style="width: 100%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-red-function">
                        <span class="sr-only">60% Complete</span>
                        <div class="picto-progress-bar">
                            40%
                        </div>
                    </div>
                </div>
            </div>
            <p class="mbm ">Envie de liberté ? Faites-vous plaisir sur toute la ligne ! méditel vous offre chaque jour, 20 SMS gratuits !</p>
        </div>

        <form class="form-parsley-validate form-nummobile" novalidate>
            <fieldset>
                <div class=" clearfix mbl">
                    <div class="item-form num-mobile  clearfix">
                        <label for="numero-mobile" class="label">Numero de mobile<span>*</span> </label>
                        <div class="item-form-input w62 fl mbs">
                            <input type="text" class="input-form tel multiple" name="numero-mobile" placeholder="0661626364, 0661626364, ..." data-parsley-trigger="input" id="numero-mobile" minlength="10" data-parsley-mn data-parsley-error-message="Inérer un numéro valide au minimum" required>
                        </div>
                        <div class="zone-info fl">
                            <a class="picto-info" href="#" title="">
                                <i class="icon ic-assistance ic-FS-25"></i>
                            </a>
                            <div class="content-info ">
                                <div class="arrow_box">
                                    This is Photoshop's version  of Lorem Ipsum. Proin gravida
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class=""><small><a class="js-popup-open" href="#inline_po-pup-dest" title="">Ajouter des destinataires depuis votre répertoire</a></small></p>

                    <div style="display:none;">
                        <div class="popin-block po-pup-dest" id="inline_po-pup-dest">

                            <div class="container-popup">

                                <div class="ptm">
                                    <div class="form-group-search clearfix grid-4-1">

                                        <div class="first-elementgroup">
                                            <i class="icon ic-search"></i>
                                            <input type="search" class="sb-search-input-site" name="the_search" placeholder="">

                                        </div>

                                        <div class="second-elementgroup">

                                            <input type="submit" value="Chercher" class="btn btn--important">
                                        </div>

                                    </div>

                                </div>

                                <table class="table-grop_alph">
                                    <tbody>

                                        <tr>
                                            <td class="grop_alph">
                                                <a class="lienActionP sortAlpha" href="#" id="1">Tous</a>
                                                <a href="#" id="a" class="lienActionP sortAlpha">A</a>
                                                <a href="#" id="b" class="lienActionP sortAlpha">B</a>
                                                <a href="#" id="c" class="lienActionP sortAlpha">C</a>
                                                <a href="#" id="d" class="lienActionP sortAlpha">D</a>
                                                <a href="#" id="e" class="lienActionP sortAlpha">E</a>
                                                <a href="#" id="f" class="lienActionP sortAlpha">F</a>
                                                <a href="#" id="g" class="lienActionP sortAlpha">G</a>
                                                <a href="#" id="h" class="lienActionP sortAlpha">H</a>
                                                <a href="#" id="i" class="lienActionP sortAlpha">I</a>
                                                <a href="#" id="j" class="lienActionP sortAlpha">J</a>
                                                <a href="#" id="k" class="lienActionP sortAlpha">K</a>
                                                <a href="#" id="l" class="lienActionP sortAlpha">L</a>
                                                <a href="#" id="m" class="lienActionP sortAlpha">M</a>
                                                <a href="#" id="n" class="lienActionP sortAlpha">N</a>
                                                <a href="#" id="o" class="lienActionP sortAlpha">O</a>
                                                <a href="#" id="p" class="lienActionP sortAlpha">P</a>
                                                <a href="#" id="q" class="lienActionP sortAlpha">Q</a>
                                                <a href="#" id="r" class="lienActionP sortAlpha">R</a>
                                                <a href="#" id="s" class="lienActionP sortAlpha">S</a>
                                                <a href="#" id="t" class="lienActionP sortAlpha">T</a>
                                                <a href="#" id="u" class="lienActionP sortAlpha">U</a>
                                                <a href="#" id="v" class="lienActionP sortAlpha">V</a>
                                                <a href="#" id="w" class="lienActionP sortAlpha">W</a>
                                                <a href="#" id="x" class="lienActionP sortAlpha">X</a>
                                                <a href="#" id="y" class="lienActionP sortAlpha">Y</a>
                                                <a href="#" id="z" class="lienActionP sortAlpha">Z</a>



                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <!---->

                                <div id="actions-results"></div>

                                <div>


                                    <table class="tablesorter">
                                        <thead>
                                            <tr>
                                                <th>Nom &amp; Prénom</th>
                                                <th>Tél</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <span class="form-type-checkbox">
                                                        <input type="checkbox" id="checkbox-1" name="genre">
                                                        <label for="checkbox-1" class="option">lorem ipsum</label>
                                                    </span>

                                                </td>
                                                <td>0663636363</td>
                                                <td>lorem ipsum</td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="form-type-checkbox">
                                                        <input type="checkbox" id="checkbox-2" name="genre">
                                                        <label for="checkbox-2" class="option">lorem ipsum</label>
                                                    </span>

                                                </td>
                                                <td>0663636363</td>
                                                <td>lorem ipsum</td>
                                            </tr>

                                            <tr class="odd">
                                                <td colspan="3">
                                                    Vous n'avez pas de contact.
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>


                                    <!---->

                                </div>

                                <!---->


                                <div class="mbm fr">
                                    <a href="#" class="link-picto-right">Valider le(s) contact(s) sélectionné(s)
                                    </a>
                                </div>

                                <div class="clear"></div>


                                <a href="#" class="showFormContact mbm fr js-st-title">Ajouter un nouveau contact</a>


                                <div class="mbm simpletoggle-content clear clearfix" style="display: none">

                                    <div class="grid-3-tiny-1">


                                        <div class="item-form">
                                            <div class="item-form-input">
                                                <input type="text" name="input1" class="input-form"  placeholder="Nom">
                                            </div>
                                        </div>


                                        <div class="item-form">
                                            <div class="item-form-input">
                                                <input type="text" name="input1" class="input-form"  placeholder="Prénom">
                                            </div>
                                        </div>


                                        <div class="item-form">
                                            <div class="item-form-input">
                                                <input type="text" name="input1" class="input-form"  placeholder="Tél">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="mbm fl pts">
                                        <a href="#" class="link-picto-right">Exporter mes contacts (CSV : Excel)
                                        </a>
                                    </div>

                                    <div class="items-form-row fr">
                                        <input type="reset" value="Annuler" class="btn mrs">
                                        <input type="submit" value="Ajouter" class="btn btn--important submit">
                                    </div>

                                </div>



                            </div>

                        </div>

                    </div>

                </div>

                <div class="items-form-row">
                    <p class="mbs">Langue utilisée</p>
                    <div class="item-form">
                        <div class="form-type-radio">

                            <input value="fr" type="radio" name="genre" id="radio-1" class="lang_sms_used" required data-parsley-trigger="change" checked>
                            <label class="option" for="radio-1">Frainçais</label>

                        </div>
                        <div class="form-type-radio">

                            <input value="ar" type="radio" name="genre" id="radio-2"  class="lang_sms_used" >
                            <label class="option " for="radio-2">Arabe</label>

                        </div>
                    </div>
                </div>
                <div class="items-form-row">
                    <div class="unstyled  mbl clearfix">
                        <div class="item-form mb0">




                            <label for="message" class="label ">Message </label>
                            <div class="item-form-input w80 wlarge-mob mod">
                                <textarea cols="15" class="input-form mbm keyboardInput" id="message" name="message" data-parsley-trigger-after-failure="focusout input change focusin " data-parsley-trigger="input change focusin focusout" data-parsley-minlength="20" data-parsley-maxlength="115" data-parsley-minlength-message="Vous devez entrer au moins un commentaire de 20 caractères .."></textarea>
                                <p class="fr"><a class="js-popup-open" href="#inline_po-pup">Dico SMS</a></p>

                                <div style="display:none;">

                                    <div class="deco_sms popin-block" id="inline_po-pup">
                                        <div class="container-popup">


                                            <h2>Dico SMS</h2>


                                            <ul id="navigation">
                                                <li><a href="#" class="cboxElement">
                                                        Smileys</a></li>
                                                <li class="current"><a href="#" class="cboxElement">
                                                        Expression</a></li>
                                            </ul>


                                            <table class="table-grop_alph">

                                                <tr>
                                                    <td class="grop_alph">
                                                        <a class="lienActionP sortAlpha cboxElement current" href="#">A</a>
                                                        <a class="lienActionP sortAlpha cboxElement" href="#">B</a>
                                                        <a class="lienActionP sortAlpha cboxElement" href="#">C</a>

                                                    </td>
                                                </tr>

                                            </table>


                                            <p class="mbs">Consultez les expressions par ordre alphabétique</p>


                                            <div id="user-contacts-content">

                                                <table class="tablesorter">
                                                    <thead>
                                                        <tr>
                                                            <th>Expression</th>
                                                            <th>Traduction SMS</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr class="">
                                                            <td class="term">après-midi</td>
                                                            <td class="def">aprem</td>
                                                        </tr>
                                                        <tr class="pyjama">
                                                            <td class="term">beaucoup</td>
                                                            <td class="def">bcp</td>
                                                        </tr>
                                                        <tr class="">
                                                            <td class="term">bien</td>
                                                            <td class="def">bi1</td>
                                                        </tr>
                                                        <tr class="pyjama">
                                                            <td class="term">je t'aime</td>
                                                            <td class="def">jtm, je t'M</td>
                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div>



                                        </div>
                                    </div>

                                </div>
                                <p class="fl lh15"><small>0 /115 caractères</small></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="items-form-row">
                    <input type="reset" value="Annuler" class="btn mrs">
                    <input type="submit" value="Envoyer" class="btn btn--important submit inactive" disabled>
                </div>
            </fieldset>
        </form>
    </div>
</div>
