<div class="container">

    <div class=" block block--n">
        <h2 class="mbm">Mr Mohamed Nadif</h2>
        <h3 class="mbs n3-title--alt ">Votre numero de la ligne: <span class="color-orangeW number-direction">0663123123</span></h3>  
        <div class="separator mbm mtl"></div>
        <div class="block-internet mbm clearfix">
            <div class="block-icon-Internet">
                <i class="icon ic-Internet ic-FS-85"></i>
                <span>Internet</span>
            </div>
            <div class="mod">
                <span class="date-progress">À la date du 26/05/2016</span>
                <div class="zone-progress">
                    <div class="progress">
                        <div style="width: 92%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-red-function">
                            <span class="sr-only">60% Complete</span>
                            <div class="picto-progress-bar">
                                40%
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="clearfix">
                    <span class="fr">18,4/20 GO <span class="picto-conso bg-orangeB"></span></span>
                    <p class="fl">
                        <small>
                            Il vous reste 1,6 Go à consommer avant le 12/09/2016
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <p>Pour éviter la coupure de votre connexion au-delà de votre volume mensuel, vous pouvez activer à tout moment un PASS internet depuis la recharge</p>
        <div class="separator mbm mtl"></div>
        <div class="mbm">
            <h2 class="mbm">Ma recharge</h2>
            <p class="o-mbl"><span class="number-large-color">0,00 DH</span></p>
            <div>
                <a href="#" class="btn btn--important mrm mbs">Recharger ma ligne</a>
                <a class="btn mbs js-popup-open" href="#inline_po-pup">Activer un Pass</a>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    <div class="popin-block" id="inline_po-pup">
        <div class="container-popup">
            <h2>Connexion :</h2>
            <p class="mbl">Veuillez saisir votre mot de passe ou créer un nouveau compte sur l'espace client meditel</p>
            <form class="form-parsley-validate" novalidate>
                <fieldset>
                    <div class="item-form">
                        <label for="mot-passe">Votre mot de passe <span>*</span></label>
                        <div class="item-form-input">
                            <input type="password" class="input-form password" id="mot-passe" data-parsley-trigger="input" required="">
                        </div>
                    </div>
                    <input type="reset" value="Annuler" class="btn mrs">
                    <input type="submit" value="Valider" class="btn btn--important inactive submit" disabled="">                    
                </fieldset>
            </form>
        </div>
    </div>
</div>
