<div class="block-theme" style="background: url(../img/contenus/visuel-1222-mob.jpg) no-repeat;">
    <div class="block-theme-inside" style="background: url(../img/contenus/visuel-1222.jpg) no-repeat;">
        <div class="block block-theme-container container">
            <div class="grid-2">
                <div class="group-left">
                    <div class="ic ic-family popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                        <span class="popout-title">Geréz votre compte à la carte</span>
                    </div>
                    <div class="txtleft-theme">
                        <p class="mbs">Rechargez votre compte ou celui d’un proche avec la carte prépayée et profitez de bons plans.</p>

                        <a role="button" class="btn mbs" href="#" title="">En savior plus</a>
                    </div>
                </div>
                <div>
                    <div class="grid-2-tiny-1">
                        <div class=" push group-right">
                            <div>
                                <div class="ic ic-family-out popout  popout-out popout--rt mbs color-black">
                                    <span class="popout-title"><i class="icon ic-G ic-FS-65"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
