<div class="block block--n block-cloud-confirm">

            <div class="container">



                <div class="block_step block_step_2col step o-mbl">
                    <ul class="step2 clearfix">
                        <li class="previous-step">
                            <span class="number-step">1.</span><span class="step-txt">Activation</span>
                        </li>
                        <li class="current">
                            <span class="number-step">2.</span><span class="step-txt">Confirmation</span>
                        </li>
                    </ul>
                </div>


                <div class="block-content-step  plr">


                    <div class="grid-2-1">

                        <form class="form-tab" action="#" method="post">
                            <fieldset title="">


                                <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>

                                <div>
                                    <div class="inbl">
                                        <a class="btn m-mbs mrs" href="#">Retour</a>
                                    </div>
                                </div>




                            </fieldset>

                        </form>


                    </div>


                </div>

            </div>

        </div>