<div class="block-options ">
    <div class="container">
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mbl inbl">Mes options</h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
            </div>
        </div>
        <h3>Mes option activées</h3>
        <div class="toggle-option">
            <div class="toggle-option__item">
                <input type="radio" name="radiogroup1" class="cssAccordion-input" id="cssAccordion-input1" checked=""/>
                <div class="toggle-option__header cssAccordion-header mod ">
                    <label class="cssAccordion-label" for="cssAccordion-input1"></label>
                    <div class="grid-2 items-option-active">
                        <div class="mob-w65">
                            <h3 class="  n3-title--alt mob-w100 res-w80">15 minutes d'appels vers l'étranger (30 jours)</h3>
                        </div>
                        <div class="mob-w20">
                            <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>25 DH</span></p>
                            <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                            </a> -->


                            <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                <i class="cssAccordion-header-close ic-Arrow_down"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="cssAccordion-body  mod">
                    <div class="toggle-option__body">
                        <h5>Description</h5>
                        <div class="grid-2-tiny-1 mb28">
                            <div>
                                <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                            </div>
                            <div>
                                <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                            </div>
                        </div>
                        <button class="btn"> Supprimer l'option</button>
                    </div>
                </div>
            </div>
            <div class="toggle-option__item">
                <input type="radio" name="radiogroup1" class="cssAccordion-input" id="cssAccordion-input2" />
                <div class="toggle-option__header cssAccordion-header mod ">
                    <label class="cssAccordion-label" for="cssAccordion-input2"></label>
                    <div class="grid-2 items-option-active">
                        <div class="mob-w65">
                            <h3 class="  n3-title--alt mob-w100 res-w80">Un numéro préféré gratuit</h3>
                        </div>
                        <div class="mob-w20">
                            <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>Gratuit</span></p>
                            <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                            </a> -->
                            <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                <i class="cssAccordion-header-close ic-Arrow_down"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cssAccordion-body  mod">
                    <div class="toggle-option__body">
                        <h5>Description</h5>
                        <div class="grid-2-tiny-1 mb28">
                            <div>
                                <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                            </div>
                            <div>
                                <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                            </div>
                        </div>
                        <button class="btn"> Supprimer l'option</button>
                    </div>
                </div>
            </div>
            <div class="toggle-option__item">
                <input type="radio" name="radiogroup1" class="cssAccordion-input" id="cssAccordion-input3" />
                <div class="toggle-option__header cssAccordion-header mod ">
                    <label class="cssAccordion-label" for="cssAccordion-input3"></label>
                    <div class="grid-2 items-option-active">
                        <div class="mob-w65">
                            <h3 class="  n3-title--alt mob-w100 res-w80">5 Go d'internet sur mobile (30 jours)</h3>
                        </div>
                        <div class="mob-w20">
                            <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>50 DH</span></p>
                            <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                            </a> -->
                            <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                <i class="cssAccordion-header-close ic-Arrow_down"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cssAccordion-body  mod">
                    <div class="toggle-option__body">
                        <h5>Description</h5>
                        <div class="grid-2-tiny-1 mb28">
                            <div>
                                <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                            </div>
                            <div>
                                <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                            </div>
                        </div>
                        <button class="btn"> Supprimer l'option</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-addOptions ">
    <div class="container">
        <h3 class="mbl">Ajouter des options</h3>
    </div>
    <div class="toggle-add-option">
        <div class="toggle-add-option__item">
            <input type="radio" name="radiogroup2" class="cssAccordion-input" id="cssAccordion-input4" checked=""/>
            <div class="container cssAccordion-header">
                <label class="cssAccordion-label" for="cssAccordion-input4"></label>
                <div class="toggle-add-option__header">
                    <div class="grid-2">
                        <div class="mob-w65">
                            <h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Mes numéros préférés</h3></div>
                        <div class="mob-w20 txtright">
                            <a href="#" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-add-option__body cssAccordion-body">
                <div class="container">
                    <div class="toggle-option">
                        <!-- toggle-option__item -->
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input8" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input8"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">Mes numéros préférés payants</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>79 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body ">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p>Votre offre vous permet d’avoir 2 numéros préréfés payants méditel à partir de 79 dhs, 24h/24</p>
                                        </div>
                                    </div>

                                    <a href="#addOptions199" class="link-edite js-header-toggle addOptionsmrs is-toggle">
                                        <span class="edit btn btn--important"> Ajouter un numéro</span>
                                        <span class="close"><i class="icon ic-Delete"></i>Fermer</span>
                                    </a>
                                    <div class="js-blockEdite addOptions" id="addOptions199" style="display: none;">
                                        <h4 class="mbm">Ajouter un numéro</h4>
                                        <p class="mbm">Veullez saisir votre numéro préféré gratuit méditel</p>
                                        <form class="form-parsley-validate" novalidate="">
                                            <fieldset>
                                                <div class="grid-2">
                                                    <div>
                                                        <div class="item-form  ">
                                                            <div class="item-form-input">
                                                                <input type="text" class="input-form" name="numero" id="nouveauNumero" placeholder="numéro" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" required="" />
                                                            </div>
                                                        </div>
                                                        <div class="item-form  ">
                                                            <div class="item-form-input">
                                                                <input type="text" class="input-form" name="confirmernumero" id="confirmernumero" placeholder="Confirmer le numéro" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Les numéros ne sont pas identiques" required="" data-parsley-equalto="#nouveauNumero" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="regular mbm"><small>Tous les chapms sont obligatoire</small></p>
                                                <div class="item-form">
                                                    <input type="reset" value="Annuler" class="btn mrs">
                                                    <input type="submit" value="valider" class="btn btn--important inactive submit" disabled="">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end toggle-option__item -->
                        <!--  toggle-option__item -->
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input9" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input9"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">Mes numéros préférés payants</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>79 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle  ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body ">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p>Votre offre vous permet d’avoir 2 numéros préréfés payants méditel à partir de 79 dhs, 24h/24</p>
                                        </div>
                                    </div>
                                    <p class="mbm"><span>Votre offre vous permet d'avoir 2 numéros </span></p>
                                    <div class="mb28">
                                        <div>
                                            <ul class="liste-wp">
                                                <li>
                                                    <span class="number-direction">0666447785 </span>
                                                    <a href="#editnum1" class="link-edite js-header-toggle is-toggle">
                                                        <span class="edit"><i class="icon ic-Pencil "></i></span>
                                                        <span class="close"><i class="icon ic-Delete "></i></span>
                                                    </a>
                                                    <div id="editnum1" class=" addOptions js-blockEdite">
                                                        <h4 class="mbm">Modifier numéro</h4>
                                                        <div class="grid-2-tiny-1">
                                                            <p class="mbm">vous vaes choisi de modifier votre numéro préféré gratuit méditel. cette opération vous doûtra
                                                                <span>25dhs</span> et dera déduite de votre solde de recharge.veuillez saisir et confirmer votre nouveau numéro préféré
                                                            </p>
                                                        </div>
                                                        <form class="form-parsley-validate" novalidate="">
                                                            <fieldset>
                                                                <div class="grid-2-tiny-1">
                                                                    <div>
                                                                        <div class="item-form">
                                                                            <div class="item-form-input">
                                                                                <input type="text" class="input-form" name="input1" id="input9045" placeholder="1245780157" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" required="" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-form  ">
                                                                            <div class="item-form-input">
                                                                                <input type="text" class="input-form" name="input1" id="input9149" placeholder="nouveau numéro" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" required="" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-form  ">
                                                                            <div class="item-form-input">
                                                                                <input type="text" class="input-form" name="input1" id="input841420" placeholder="Confirmer le numéro" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Les numéros ne sont pas identiques" required="" data-parsley-equalto="#input9149" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p class="regular mbm"><small>Tous les chapms sont obligatoire</small></p>
                                                                <div class="item-form">
                                                                    <input type="reset" value="Annuler" class="btn mrs">
                                                                    <input type="submit" value="valider" class="btn btn--important inactive submit" disabled="">
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#addOptions1" class="link-edite js-header-toggle is-toggle">
                                        <span class="edit btn btn--important">Ajouter un numéro</span>
                                        <span class="close"><i class="icon ic-Delete"></i>Fermer</span>
                                    </a>
                                    <div class="js-blockEdite addOptions" id="addOptions1" style="display: none;">
                                        <h4 class="mbm">Ajouter un numéro</h4>
                                        <p class="mbm">Veullez saisir votre numéro préféré gratuit méditel</p>
                                        <form class="form-parsley-validate" novalidate="">
                                            <fieldset>
                                                <div class="grid-2">
                                                    <div>
                                                        <div class="item-form  ">
                                                            <div class="item-form-input">
                                                                <input type="text" class="input-form" name="numero" id="nouveauNumero" placeholder="numéro" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" required="" />
                                                            </div>
                                                        </div>
                                                        <div class="item-form  ">
                                                            <div class="item-form-input">
                                                                <input type="text" class="input-form" name="confirmernumero" id="confirmernumero" placeholder="Confirmer le numéro" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Les numéros ne sont pas identiques" required="" data-parsley-equalto="#nouveauNumero" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="regular mbm"><small>Tous les chapms sont obligatoire</small></p>
                                                <div class="item-form">
                                                    <input type="reset" value="Annuler" class="btn mrs">
                                                    <input type="submit" value="valider" class="btn btn--important inactive submit" disabled="">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <a href="#addOptions58" class="link-edite js-header-toggle is-toggle">
                                        <span class="edit btn">  Supprimer l'option</span>
                                        <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                    </a>
                                    <div class="js-blockEdite addOptions" id="addOptions58">
                                        <h4 class="mbm">Supprimer l'option</h4>
                                        <p class="mbm">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                        <a href="#" class="btn">Annuler</a>
                                        <a href="#" class="btn btn--important">valider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- toggle-option__item -->
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input10" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input10"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">Mes numéros préférés gratuits</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>Gratuit</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body ">
                                <div class="toggle-option__body">
                                    <h5>1 numéro préféré gratuit</h5>
                                    <p class="mbm"><span>Votre offre vous permet d'avoir 1 numéro </span></p>
                                    <div class="mb28">
                                        <div>
                                            <ul class="liste-wp">
                                                <li>
                                                    <span class="number-direction">0666447785</span>
                                                    <a href="#editnum2" class="link-edite js-header-toggle is-toggle">
                                                        <span class="edit"><i class="icon ic-Pencil "></i></span>
                                                        <span class="close"><i class="icon ic-Delete "></i></span>
                                                    </a>
                                                    <div id="editnum2" class=" js-blockEdite mtm">
                                                        <h4>Modifier numéro</h4>
                                                        <div class="grid-2-tiny-1">
                                                            <p class="w50 mbm">vous vaes choisi de modifier votre numéro préféré gratuit méditel. cette opération vous doûtra
                                                                <span>25dhs</span> et dera déduite de votre solde de recharge.veuillez saisir et confirmer votre nouveau numéro préféré
                                                            </p>
                                                        </div>
                                                        <form class="form-parsley-validate" novalidate="">
                                                            <fieldset>
                                                                <div class="grid-2-tiny-1">
                                                                    <div>
                                                                        <div class="item-form  ">
                                                                            <div class="item-form-input">
                                                                                <input type="text" class="input-form" name="input1" id="input90" placeholder="1245780157" />
                                                                                <span class="msg-error">Numéro invalide</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-form  ">
                                                                            <div class="item-form-input">
                                                                                <input type="text" class="input-form" name="input1" id="input99" placeholder="nouveau numéro" />
                                                                                <span class="msg-error">Numéro invalide</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-form  ">
                                                                            <div class="item-form-input">
                                                                                <input type="text" class="input-form" name="input1" id="input80" placeholder="Confirmer le numéro" />
                                                                                <span class="msg-error">Numéro invalide</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p class="regular mbm"><small>Tous les chapms sont obligatoire</small></p>
                                                                <div class="item-form">
                                                                    <input type="reset" value="Annuler" class="btn mrs">
                                                                    <input type="submit" value="valider" class="btn btn--important inactive submit" disabled="">
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#addOptions125" class="link-edite js-header-toggle is-toggle">
                                        <span class="edit btn">  Supprimer l'option</span>
                                        <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                    </a>
                                    <div class="js-blockEdite addOptions" id="addOptions125">
                                        <h4 class="mbm">Ajouter l’option</h4>
                                        <p class="mbm">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                        <a href="#" class="btn">Annuler</a>
                                        <a href="#" class="btn btn--important">valider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-add-option__item">
            <input type="radio" name="radiogroup2" class="cssAccordion-input" id="cssAccordion-input14" />
            <div class="container cssAccordion-header">
                <label class="cssAccordion-label" for="cssAccordion-input14"></label>
                <div class="toggle-add-option__header">
                    <div class="grid-2">
                        <div class="mob-w65">
                            <h3 class="n3-title--alt"><i class="icon  ic-Internet ic-FS-40"></i>
                                Mes options vers l’international
                            </h3>
                        </div>
                        <div class="mob-w20 txtright">
                            <a href="#" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-add-option__body cssAccordion-body">
                <div class="container">
                    <div class="toggle-option">
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input15" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input15"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">15 minutes d'appels vers l'étranger (30 jours)</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>25 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                                        </div>
                                        <div>
                                            <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                                        </div>
                                    </div>
                                    <button class="btn btn--important"> Ajouter option</button>
                                    <button class="btn"> Supprimer l'option</button>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input16" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input16"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">5 Go d'internet sur mobile (30 jours))</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>50 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                                        </div>
                                        <div>
                                            <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                                        </div>
                                    </div>
                                    <button class="btn"> Supprimer l'option</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-add-option__item">
            <input type="radio" name="radiogroup2" class="cssAccordion-input" id="cssAccordion-input17" />
            <div class="container cssAccordion-header">
                <label class="cssAccordion-label" for="cssAccordion-input17"></label>
                <div class="toggle-add-option__header">
                    <div class="grid-2">
                        <div class="mob-w65">
                            <h3 class="n3-title--alt"><i class="icon  ic-Orange_Messenger ic-FS-40"></i>Pass SMS</h3>
                        </div>
                        <div class="mob-w20 txtright">
                            <a href="#" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-add-option__body cssAccordion-body">
                <div class="container">
                    <div class="toggle-option">
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input18" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input18"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">15 minutes d'appels vers l'étranger (30 jours)</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>25 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                                        </div>
                                        <div>
                                            <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                                        </div>
                                    </div>
                                    <button class="btn btn--important"> Ajouter option</button>
                                    <button class="btn"> Supprimer l'option</button>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input19" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input19"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">5 Go d'internet sur mobile (30 jours))</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>50 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                                        </div>
                                        <div>
                                            <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                                        </div>
                                    </div>
                                    <button class="btn"> Supprimer l'option</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-add-option__item">
            <input type="radio" name="radiogroup2" class="cssAccordion-input" id="cssAccordion-input20" />
            <div class="container cssAccordion-header">
                <label class="cssAccordion-label" for="cssAccordion-input20"></label>
                <div class="toggle-add-option__header">
                    <div class="grid-2">
                        <div class="mob-w65">
                            <h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Mes options vers le national</h3>
                        </div>
                        <div class="mob-w20 txtright">
                            <a href="#" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-add-option__body cssAccordion-body">
                <div class="container">
                    <div class="toggle-option">
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input21" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input21"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">15 minutes d'appels vers l'étranger (30 jours)</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>25 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                                        </div>
                                        <div>
                                            <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                                        </div>
                                    </div>
                                    <button class="btn btn--important"> Ajouter option</button>
                                    <button class="btn"> Supprimer l'option</button>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input22" />
                            <div class="toggle-option__header cssAccordion-header mod ">
                                <label class="cssAccordion-label" for="cssAccordion-input22"></label>
                                <div class="grid-2 items-option-active">
                                    <div class="mob-w65">
                                        <h3 class="  n3-title--alt mob-w100 res-w80">5 Go d'internet sur mobile (30 jours))</h3>
                                    </div>
                                    <div class="mob-w20">
                                        <p class=" fl w50 mob-w100 n3-title--alt mob-txtright"><span>50 DH</span></p>
                                        <!-- <a class=" fl w50 txtright hidden-tiny  link-edite js-header-toggle ">
                                            <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                            <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                        </a> -->
                                        <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                            <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                            <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <h5>Description</h5>
                                    <div class="grid-2-tiny-1 mb28">
                                        <div>
                                            <p class="res-w80">Ce pass vous offre 15 minutes d'appels vers l'étranger (zone 1) à 25 Dh. </p>
                                        </div>
                                        <div>
                                            <p class="res-w80">Zone 1: France, Espagne, Portugal, Italie, Grèce, États-Unis, Canada, Pays Bas, Belgique, Irlande, Chypre, Finlande, Autriche, Royaume Uni, Suède, Norvège, Allemagne, Islande.</p>
                                        </div>
                                    </div>
                                    <button class="btn"> Supprimer l'option</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
