<div class="block-Bonus-Pass plr">
    <div class="container">
        <a class="link-wi mbl inbl" href=""><i class="icon ic-left"></i>Retour</a>
            <h2 class="headband-title mbl inbl">Mes Bonus et Pass</h2>
        <div class="alert alert-success mbm">
            <a class="close"><i class="icon ic-Delete "></i></a>
            <i class="icon ic-ok fl mrs"></i>
            <span class="w80">Votre pass 10 dh a été bien activé</span>
        </div>
        <h3 class="mbl">Mes Bonus</h3>
        <div class="grid-3-1">
            <div class="o-mbl wm94">
                <h3 class="n3-title--alt">Les Bonus 1 jour</h3>
                <div>
                    <p class="w90 w80-resp inbl">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                    <div class="zone-info">
                            <a class="picto-info" href="#" title="">
                                <i class="icon ic-assistance"></i>
                            </a> 
                            <div class="content-info">          
                                <div class="arrow_box">
                                            This is Photoshop's version  of Lorem Ipsum. Proin gravida
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator o-mbl container-large"></div>
        <div class="grid-3-1">
            <div class="o-mbl wm94">
                <h3 class="n3-title--alt">Le Bonus 30 Mo Dayma</h3>
                <div>
                    <p class="w90 w80-resp mbm inbl">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                    <a class="btn btn--important">Activer</a>
                </div>
            </div>
            
        </div>
    </div> 
</div>
