<div class="block block-communication plr">

    <div class="container">
        <a class="link-wi mbms inbl" href=""><i class="icon ic-left"></i>Retour à ma consommation</a>
        <h2 class="mbl">Détail de mes communications</h2>
        <form action="#" method="post">
            <fieldset title="">

                <div class="clearfix">

                    <div class="block-communication__itemfirst block-filter clearfix">

                        <div class="block-filter_content fr">

                            <div class="dropdown-links hidden-tiny">
                                <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                <div class="dropdown-links__contentr simpletoggle-content">
                                    <a href="#"><i class="icon ic-PDF_file"></i>PDF</a>
                                    <a href="#"><i class="icon ic-Excel"></i>Excel</a>
                                    <a href="#">Visualiser</a>
                                </div>
                            </div>

                            <div class="block-radio">
                                <h3>Choisir</h3>

                                <div class="form-type-radio">

                                    <input type="radio" name="appel" id="appel">
                                    <label class="option" for="appel">Appels</label>

                                </div>

                                <div class="form-type-radio">
                                    <input type="radio" name="appel" id="SMS">
                                    <label class="option" for="SMS">SMS</label>
                                </div>
                            </div>
                            <div class="hidden-tiny">

                                <input type="submit" class="btn btn--important btn--ml" value="Appliquer">
                            </div>

                        </div>

                    </div>

                    <div class="block-communication__itemsecond">

                        <div class="block-datepicker">

                            <div class="grid-2-tiny-1">

                                <div class="item-form">
                                    <label>Du</label>
                                    <div class="item-form-input item-form-datepicker">
                                        <input type="text" class="input-form zone-datepicker datepicker-icon" title="" placeholder="JJ / MM / AAAA">
                                    </div>

                                </div>



                                <div class="item-form">
                                    <label>Au</label>

                                    <div class="item-form-input item-form-datepicker">
                                        <input type="text" class="input-form zone-datepicker datepicker-icon" title="" placeholder="JJ / MM / AAAA">
                                    </div>
                                </div>


                            </div>


                            <div class="visible-tiny">


                                <div class="fl mbm">
                                    <input type="submit" class="btn btn--important btn--ml" value="Appliquer">

                                </div>

                                <div class="dropdown-links fr mbm">
                                    <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                    <div class="dropdown-links__contentr simpletoggle-content">
                                        <a href="#"><i class="icon ic-PDF_file"></i>PDF</a>
                                        <a href="#"><i class="icon ic-Excel"></i>Excel</a>
                                        <a href="#">Visualiser</a>
                                    </div>
                                </div>



                            </div>


                        </div>

                        <div class="clearfix block-table-stand">
                            <table class="table-stand table-stand-inverse-bg">
                                <thead>
                                    <tr>
                                        <th>N° appelés</th>
                                        <th>Date</th>
                                        <th>Heure</th>
                                        <th class="cell-small">Durée</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th colspan="4">Appels</th>
                                    </tr>
                                    <tr>
                                        <td data-label="N° appelés" ><strong class="number-direction">06 63 12 31 23</strong></td>
                                        <td data-label="Date" class="regular">28/12/2016</td>
                                        <td data-label="Heure" class="regular">17:37</td>
                                        <td data-label="Durée"  class="regular cell-small">55min 20s</td>
                                    </tr>

                                    <tr>
                                        <td data-label="N° appelés" ><strong class="number-direction">06 63 12 31 23</strong></td>
                                        <td data-label="Date" class="regular">28/12/2016</td>
                                        <td data-label="Heure" class="regular">17:37</td>
                                        <td data-label="Durée"  class="regular cell-small">0:00:00</td>
                                    </tr>

                                    <tr>
                                        <td data-label="N° appelés" ><strong class="number-direction">06 63 12 31 23</strong></td>
                                        <td data-label="Date" class="regular">28/12/2016</td>
                                        <td data-label="Heure" class="regular">17:37</td>
                                        <td data-label="Durée"  class="regular cell-small">0:00:00</td>
                                    </tr>

                                    <tr>
                                        <td data-label="N° appelés" ><strong class="number-direction">06 63 12 31 23</strong></td>
                                        <td data-label="Date" class="regular">28/12/2016</td>
                                        <td data-label="Heure" class="regular">17:37</td>
                                        <td data-label="Durée"  class="regular cell-small">0:00:00</td>
                                    </tr>

                                    <tr>
                                        <td data-label="N° appelés" ><strong class="number-direction">06 63 12 31 23</strong></td>
                                        <td data-label="Date" class="regular">28/12/2016</td>
                                        <td data-label="Heure" class="regular">17:37</td>
                                        <td data-label="Durée"  class="regular cell-small">0:00:00</td>
                                    </tr>

                                    <tr>
                                        <td data-label="N° appelés" ><strong class="number-direction">06 63 12 31 23</strong></td>
                                        <td data-label="Date" class="regular">28/12/2016</td>
                                        <td data-label="Heure" class="regular">17:37</td>
                                        <td data-label="Durée"  class="regular cell-small">0:00:00</td>
                                    </tr>

                                    <tr>
                                        <td data-label="N° appelés" ><strong class="number-direction">06 63 12 31 23</strong></td>
                                        <td data-label="Date" class="regular">28/12/2016</td>
                                        <td data-label="Heure" class="regular">17:37</td>
                                        <td data-label="Durée"  class="regular cell-small">0:00:00</td>
                                    </tr>

                                </tbody>
                            </table>
                            <a href="#" title="" class="link-souligne fr">Charger la suite</a>

                            <a class="link-wi mbms fl" href="#"><i class="icon ic-top"></i>Retour en haut de page</a>
                        </div>

                    </div>


                </div>

            </fieldset>

        </form>

    </div>

</div>