<div class=" block block--n block-avant-premiere">
    <div class="container">
        <div class="grid-2-1 mbm mob-mbl">
            <div class="block-tv mbm fl ">
                <img src="../img/contenus/banner-avant.png" alt="" />
            </div>
            <div>
                <p class="mbm">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                </p>
                <a class="btn">En savoir plus</a>
            </div>
        </div>
        <div class="mbm onlineediteur">
            <p>
                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            </p>
        </div>
        <p class="mbl"><a href="#">Télécharger le règlement du jeu</a></p>
        <h3 class="n3-title--alt mbm color-orangeW">Où voudriez-vous voir le film ?</h3>
        <form class="form-parsley-validate" novalidate>
            <fieldset>
                <div class="item-form">
                    <div class="grid-3-tiny-1">
                        <div>
                            <div class="form-type-radio mrl">
                                <input type="radio" name="genre" id="radio-1"  required data-parsley-trigger="change">
                                <label class="option" for="radio-1">Mégarama Casablanca</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-type-radio mrl">
                                <input type="radio" name="genre" id="radio-2">
                                <label class="option" for="radio-2">Mégarama Marrakech</label>
                            </div>
                        </div>

                        <div>
                            <div class="form-type-radio mrl">
                                <input type="radio" name="genre" id="radio-3">
                                <label class="option" for="radio-3">Mégarama Fès</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-form">



                    <div class="form-type-checkbox mrl">
                        <input type="checkbox" id="conditions" name="conditions" data-parsley-trigger="change" required>
                        <label for="conditions" class="option">J'ai lu et j'accepte <a href="#">règlements de partcipation.</a></label>
                    </div>




                </div>
                <div class="item-form">
                    <input value="Annuler" type="reset" class="btn mrs"/>
                    <input value="valider" type="submit" class="btn btn--important inactive submit" disabled=""/>
                </div>
            </fieldset>
        </form>
    </div>
</div>