<div class="block">

    <div class="container">
        <!---->
        <!---->
        <div>
            <!--<h2 class="o-mbl plr">Ajouter une ligne</h2>-->


            <div class="block_step block_step_2col step o-mbl">
                <ul class="step1 clearfix">
                    <li class="current">
                        <span class="number-step">1.</span><span class="step-txt">Tokenization</span>
                    </li>
                    <li>
                        <span class="number-step">2.</span><span class="step-txt">Confirmation</span>
                    </li>
                </ul>
            </div>

            <div class="plr">

                <form  method="post" action="#" class="form-tab form-parsley-validate" novalidate>
                    <fieldset>
                    <div class="mbm">
                        <div class="onlineediteur mbm">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim nunc libero,
                                vel blandit justo pretium lacinia. In porttitor tortor tellus, nec cursus felis placerat non.
                            </p>
                        </div>
                    </div>



                    <div class="item-form">
                        <div class="form-type-checkbox mrl">
                        <input type="checkbox" data-chackall="chackall-num" id="toutes" name="toutes" data-parsley-trigger="change" class="chackallinput" required="" data-parsley-multiple="conditions">
                        <label for="toutes" class="option">Enregistrer mes informations bancaire</label>
                        </div>
                    </div>
                    <div class="items-form-row">
                        <input type="reset" value="Annuler" class="btn mrs">
                        <input type="submit" value="Valider" class="btn btn--important inactive submit" disabled="">
                    </div>
                    </fieldset>
                </form>



            </div>

        </div>
        <!---->
        <!---->


    </div>

</div>
