<section class="block block-bg-stand">
    <div class="container"> 
        <div class="block-bg-stand__content">
            <h2 class="mbm">Orange et Moi</h2>
            <div class="onlineediteur mbm">
                <p>Gardez un œil sur votre forfait principal, vos gratuités, vos options et suivez votre solde en un seul clic.</p>
            </div>
            <div class="block-btns">
                <a role="button" class="btn " href="#">Découvrir</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-58.gif" alt="phone">
        </div>
    </div>
</section>