<div class="block-theme bg-yellow">
    <div class="block-theme-inside"> 
        <div class="block block-theme-container container ">             
            <div class="grid-2">
                <div class="group-left">
                    <div class="ic ic-fun popout ic-FS-300 popout--lt color-orangeW mbs">
                        <span class="popout-title">Let the good times roll</span>
                    </div>
                    <div class="txtleft-theme">
                        <p class="mbs">Enjoy amazing HD videos and photos to capture every moment of fun and take it away wherever you go.</p>
                        <a class="btn btn--standard">get it</a>
                    </div>
                </div>
                <div>
                    <div class="grid-2-tiny-1">
                        <div class=" push group-right">
                            <div>
                                <div class="ic ic-fun-out popout  popout-out popout--rt mbs color-black  ">
                                    <span class="popout-title color-white fs-18">Iphone 6s<span class="fs-14 color-orangeW mts">120MAD</span></span>
                                </div>
                            </div>
                            <div>
                                <div class="ic ic-fun-out popout  popout-out popout--rt mbs color-black  ">
                                    <span class="popout-title color-white fs-18">Iphone 6s<span class="fs-14 color-orangeW mts">120MAD</span></span>
                                </div>
                            </div>
                            <div>
                                <div class="ic ic-fun-out popout  popout-out popout--rt mbs color-black  ">
                                    <span class="popout-title color-white fs-18">Iphone 6s<span class="fs-14 color-orangeW mts">120MAD</span></span>
                                </div>
                            </div>

                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>