<div class="block block-myOffre-data">
    <div class="container">
        <div class="grid-2-tiny-1">
            <div class="mob-mbm">
                <h2 class="mbm">Mes options activées</h2>
                <ul class="liste-wp mbm">
                    <li>Option double SIM</li>
                    <li>Avantage double DUO</li>
                </ul>
                <a href="#" class="btn btn--important">Gérer mes options</a>
            </div>
            <div>
                <h2 class="mbm">Mon offre</h2>
                <p class="mbs">Forfait confort</p>
                <ul class="liste-wp mbm">
                    <li>06 63 12 12 12</li>
                </ul>
                <p class="mbs">Les avantages de l’offre</p>
                <ul class="liste-wp">
                    <li>20 GO de volume</li>
                </ul>
            </div>
        </div>
    </div>
</div>