<div class="block">
    <div class="container">
        <a href="#" class="link-wi mbms inbl plr"><i class="icon ic-left"></i>Retour à mon compte</a>
        <h2 class="o-mbl plr">Mon offre</h2>
        <div class="block_step step mbl">
            <ul class="step3 clearfix">
                <li class="current">
                    <span class="number-step">1.</span><span class="step-txt">Choix du forfait</span>
                </li>
                <li>
                    <span class="number-step">2.</span><span class="step-txt">Récapitulatif</span>
                </li>
                <li>
                    <span class="number-step">3.</span><span class="step-txt">Confirmation</span>
                </li>
            </ul>
        </div>
        <div class="plr">
            <h3 class="mbl"> Changer mon forfait</h3>
            <div class="clearfix mbl">
                <a title="" href="#" class="link-pos-flr btn fr o-mb-m">Gérer mes options</a>
                <h3 class="n3-title--alt">Découvrez le catalogue des offres Orange :</h3>
            </div>
            <div> 
                <h3 class="mbl"> Forfait Hany : <span class="color-orange"> 99 DH/mois</span> </h3>
                <div class="grid-4-small-3-tiny-3 block-icon-offer"> 
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-call ic-FS-35"></i>
                            <span class="txt-icon-medium">1h</span>
                        </div>
                        <p class="mbs regular">
                            vers tous les numéros
                        </p>
                        <p class="mbs regular">
                            + 30h vers un numéro méditel
                        </p>
                    </div>
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-Orange_Messenger ic-FS-35"></i>
                            <span class="txt-icon-medium">illimités</span>
                        </div>
                        <p class="mbs regular">
                            SMS
                        </p>
                    </div>
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-Internet ic-FS-35"></i>
                            <span class="txt-icon-medium">10 Go</span>
                        </div>
                        <p class="mbs regular">
                            Internet haut débit
                        </p>
                    </div>
                </div>
                <a title="" href="#" class="btn btn--important btn--ml mbl">Sélectionner</a>
            </div>
            <div class="separator mbm"></div>
            <div>
                <h3 class="mbl"> Hany@Net : <span class="color-orange"> 229 DH/mois</span> </h3>

                <div class="grid-4-small-3-tiny-3 block-icon-offer">

                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-call ic-FS-35"></i>
                            <span class="txt-icon-medium">illimités</span>
                        </div>

                        <p class="mbs regular">
                            vers tous les numéros nationaux
                        </p>

                        <p class="mbs regular">
                            + 1h d'appels vers l'international (zone 1)
                        </p>
                    </div>
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-Orange_Messenger ic-FS-35"></i>
                            <span class="txt-icon-medium">illimités</span>
                        </div>
                        <p class="mbs regular">
                            SMS
                        </p>
                    </div>
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-Internet ic-FS-35"></i>
                            <span class="txt-icon-medium">5 Go</span>
                        </div>
                        <p class="mbs regular">
                            Internet haut débit
                        </p>
                    </div>
                </div>
                <a title="" href="#" class="btn btn--important btn--ml mbl">Sélectionner</a>
            </div>
            <div class="separator mbm"></div>
            <div>
                <h3 class="mbl"> Hany : <span class="color-orange"> 399 DH/mois</span> </h3>
                <div class="grid-4-small-3-tiny-3 block-icon-offer">
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-call ic-FS-35"></i>
                            <span class="txt-icon-medium">illimités</span>
                        </div>
                        <p class="mbs regular">
                            vers tous les numéros nationaux et internationaux
                        </p>
                        <p class="mbs regular">
                            +2h d'appels en Roaming (zone 1)
                        </p>
                    </div>
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-Orange_Messenger ic-FS-35"></i>
                            <span class="txt-icon-medium">illimités</span>
                        </div>
                        <p class="mbs regular">
                            SMS
                        </p>
                    </div>
                    <div class="mbm">
                        <div class="mbs">
                            <i class="icon ic-Internet ic-FS-35"></i>
                            <span class="txt-icon-medium">12 Go</span>
                        </div>
                        <p class="mbs regular">
                            Internet haut débit
                        </p>
                    </div>
                </div>
                <a title="" href="#" class="btn btn--important btn--ml mbl">Sélectionner</a>
            </div>
            <div class="separator"></div>
        </div>
    </div>
</div>