<form class="form-parsley-validate" novalidate="">
  <fieldset>
    <div class="toggle-add-option bg-black mbm">
      <div class="toggle-add-option__item">
        <input type="radio" name="radiogroup2" data-chackall="chackall1" class="cssAccordion-input" id="cssAccordion-input4" />
        <div class="container cssAccordion-header">
          <label class="cssAccordion-label" for="cssAccordion-input4"></label>
          <div class="toggle-add-option__header color-white">
            <div class="grid-2">
              <div class="mob-w65">
                <h3 class="n3-title--alt"><i class="icon mrs ic-device_smart_phone ic-FS-45"></i>06 45 78 12 45</h3></div>
              <div class="mob-w20 txtright">
                <a href="#" class="js-header-toggle linkOpenOptions">
                  <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                  <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="toggle-add-option__body cssAccordion-body">
          <div class="container">
            <div class="table-facture table-liste w100">
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox inactive">
                    <input type="checkbox"  name="factureImpayee" data-chackall="chackall1" id="checkboxab" required data-parsley-trigger="change" disabled="" data-parsley-multiple="invoice"  checked=""/>
                    <label for="checkboxab"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Facture Avance
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox inactive">
                    <input type="checkbox"  name="factureImpayee" data-chackall="chackall1" id="checkboxabc" required data-parsley-trigger="change" disabled="" data-parsley-multiple="invoice"  checked=""/>
                    <label for="checkboxabc"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox inactive">
                    <input type="checkbox"  name="factureImpayee" data-chackall="chackall1" id="checkbox13p" required data-parsley-trigger="change" disabled="" data-parsley-multiple="invoice"  checked=""/>
                    <label for="checkbox13p"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <a href="#" title="" class="link-souligne fr mbm">Charger la suite</a>
            <div class="fl chackall-contener mbm" >
              <span class="form-type-checkbox">
                <input type="checkbox" class="chackallinput"  name="invoice" id="checkbox55" />
                <label for="checkbox55">Cocher tous</label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="toggle-add-option__item">
        <input type="radio" name="radiogroup2" class="cssAccordion-input" id="cssAccordion-input3"/>
        <div class="container cssAccordion-header">
          <label class="cssAccordion-label" for="cssAccordion-input3"></label>
          <div class="toggle-add-option__header  color-white">
            <div class="grid-2">
              <div class="mob-w65">

                <h3 class="n3-title--alt"><i class="icon mrs ic-HDMI_Card ic-FS-45"></i>06 45 78 13 88</h3></div>
              <div class="mob-w20 txtright">
                <a href="#" class="js-header-toggle linkOpenOptions">
                  <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                  <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="toggle-add-option__body cssAccordion-body">
          <div class="container">
            <div class="table-facture table-liste w100">
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox inactive">
                    <input type="checkbox"  name="factureImpayee"  id="aaaaa" required data-parsley-trigger="change" disabled="" data-parsley-multiple="invoice1"  checked=""/>
                    <label for="aaaaa"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox">
                    <input type="checkbox" class="" name="factureImpayee"  id="bbbbb" required data-parsley-trigger="change" data-parsley-multiple="invoice1" />
                    <label for="bbbbb"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox inactive">
                    <input type="checkbox" class="" name="factureImpayee"  id="vvvv" required data-parsley-trigger="change" disabled="" data-parsley-multiple="invoice1"  checked=""/>
                    <label for="vvvv"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox inactive">
                    <input type="checkbox" class="" name="factureImpayee"   id="xxxx" required data-parsley-trigger="change" disabled="" data-parsley-multiple="invoice1"  checked=""/>
                    <label for="xxxx"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox">
                    <input type="checkbox" class="" name="factureImpayee"   id="yyyyy" required data-parsley-trigger="change" data-parsley-multiple="invoice1" />
                    <label for="yyyyy"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-facture__row">
                <div class="table-facture__cell table-liste__check p8cell">
                  <span class="form-type-checkbox">

                    <input type="checkbox" class="" name="factureImpayee"   id="pppppp"  data-parsley-multiple="invoice1"/>
                    <label for="pppppp"></label>
                  </span>
                </div>
                <div class="table-facture__cell npcell w42">
                  <div class="o-table w100">
                    <div class="table-facture__row ">
                      <div class="table-facture__cell  w50 table-liste__date">
                        Septembre 2015
                        <span>N° 2345 57654 A</span>
                      </div>
                      <div class="table-facture__cell  w50 table-liste__montant">
                        99,00 DH
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-facture__cell npcell">
                  <div class="o-table w100">
                    <div class="table-facture__row ">

                      <div class="table-facture__cell table-liste__visualiser w20">
                        <div class="visualiser-content">
                          <a href="#" >
                            <i class="icon ic-accessibility_vision"></i>
                            Visualiser
                          </a>
                        </div>
                      </div>
                      <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                        <div class="dropdown-links">
                          <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                          <div class="dropdown-links__contentr simpletoggle-content">
                            <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                            <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="fl chackall-contener mbm" >
              <span class="form-type-checkbox">
                <input type="checkbox" class="chackallinput"  name="invoice1" id="checkbox5995" />
                <label for="checkbox5995">Cocher tous</label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="my-payment clear">

        <div class="total-facture">
          Total : 99.00 MAD TTC
        </div>
        <input class="btn btn--important submit inactive" type="submit" value="Payer" disabled="">
      </div>
    </div>
  </fieldset>
</form>