<div class="block">
    <div class="container">
        <div class="w90">
            <article>
                <h3 class="n3-title--alt">Actionnariat</h3>
                <p class="mbm">A sa création en 1999, méditel est le fruit d’une alliance entre les majors des télécoms en Méditerranée et de solides groupes financiers et industriels marocains.
                    <br> En décembre 2010, le Groupe France Telecom (Orange) a signé son entrée définitive dans le capital de méditel. </p>
            </article>
            <article>
                <h3 class="n3-title--alt">Finance Com</h3>
                <p class="mbm">Groupe marocain privé aux ambitions régionales et internationales affirmées, Finance Com est présent notamment dans les services financiers (Groupe BMCE bank), les assurances (RMA Watanya) et les télécommunications (Méditélécom).</p>
            </article>
            <article>
                <h3 class="n3-title--alt">La Caisse des Dépôts et de Gestion</h3>
                <p class="mbm">Le groupe CDG est un groupe financier dédié au développement économique et social du Maroc. Avec plus de 5 000 collaborateurs et une quarantaine de filiales métiers, le groupe CDG est un acteur de référence dans la gestion de fonds institutionnels, les métiers bancaires et financiers et le développement territorial.</p>
            </article>
            <article>
                <h3 class="n3-title--alt">Orange, Groupe France Telecom</h3>
                <p>Orange est la marque phare de France Télécom, un des principaux opérateurs européens du mobile et l’accès internet ADSL et l’un des leaders mondiaux des services de télécommunications aux entreprises multinationales, sous la marque Orange Business Services.</p>
            </article>
        </div>
    </div>
</div>
