<div class="block-fournisseurs block block--n">
    <div class="container">
                <p class="mbs">Pour permettre à votre entreprise de faire partie de la liste des fournisseurs agrées à travailler avec MEDI TELECOM, vous êtes priés de compléter le questionnaire de référencement suivant.</p>
                <p class="mbm">Pour toute mise à jour des données fournies, merci de les adresser à <span>support.achats@meditel.ma</span></p>
                <div class="block_step block_step--four step o-mbl">
                    <ul class="step4 clearfix">
                        <li class="previous-step">
                            <span class="number-step">1.</span><span class="step-txt">Coordonnées</span>
                        </li>
                        <li class="previous-step">
                            <span class="number-step">2.</span><span class="step-txt">Activités </span>
                        </li>
                        <li class="previous-step">
                            <span class="number-step">3.</span><span class="step-txt">Compétences</span>
                        </li>
                        <li class="current">
                            <span class="number-step">4.</span><span class="step-txt">Confirmation</span>
                        </li>
                    </ul>
                </div>
                <div class="grid-2-1 tiny-1">
                    <article>
                        <h3 class="n3-title--alt o-mbl">Confirmation d’enregistrement</h3>
                        <p>Nous avons bien reçus votre demande de référencement, et nous vous remercions de l’intérêt porté à l’égard de Orange.</p>
                    </article>
                </div>
    </div>
</div>
