<div class="block-fournisseurs block block--n">
    <div class="container">
        <p class="mbs">Pour permettre à votre entreprise de faire partie de la liste des fournisseurs agrées à travailler avec MEDI TELECOM, vous êtes priés de compléter le questionnaire de référencement suivant.</p>
        <p class="mbm">Pour toute mise à jour des données fournies, merci de les adresser à <span>support.achats@meditel.ma</span></p>
        <div class="block_step block_step--four step o-mbl">
            <ul class="step2 clearfix">
                <li class="previous-step">
                    <span class="number-step">1.</span><span class="step-txt">Coordonnées</span>
                </li>
                <li class="previous-step">
                    <span class="number-step">2.</span><span class="step-txt">Activités </span>
                </li>
                <li class="current">
                    <span class="number-step">3.</span><span class="step-txt">Compétences</span>
                </li>
                <li>
                    <span class="number-step">4.</span><span class="step-txt">Confirmation</span>
                </li>
            </ul>
        </div>
        <div class="competences">
            <section class="informations-financieres">
                <header>
                    <h3 class="n3-title--alt o-mbl">Informations financières</h3>
                    <p class="o-mbl">Il n'y a pas de ligne dans la matrice.</p>
                </header>
            </section>
            <div class="separator o-mbl"></div>
            <section class="clients">
                <h3 class="n3-title--alt o-mbl">Clients / Références</h3>
                <article>
                    <header>
                        <h4 class="mbm">Vos principaux clients</h4>
                    </header>
                    <div class="clearfix">
                        <a href="#" class="btn btn--ms fr mtm-10 mbm mob-nof">Ajouter un client</a>
                        <p class="mbm fl ">Il n'y a pas de ligne dans la matrice.</p>
                    </div>
                </article>
                <article>
                    <header>
                        <h4 class="mbm">Vos principales réalisations</h4>
                    </header>
                    <div class="clearfix">
                        <a href="#" class="btn btn--ms fr mtm-10 mbm mob-nof">Ajouter une réalisation</a>
                        <p class="mbm fl">Il n'y a pas de ligne dans la matrice.</p>
                    </div>
                </article>
            </section>
            <div class="separator o-mbl"></div>
            <section class="w85">
                <header>
                    <h3 class="n3-title--alt mbs">Pièces à joindre</h3>
                    <p class="o-mbl">Joindre les fichiers aux formats PDF,JPG,PNG,ZIP ou RAR avec une taille limite de 2 Mo</p>
                </header>
                <div class="o-mbl">
                    <div class="upload">
                        <input type="file" />
                    </div>
                </div>
                <div>
                    <ul class="liste-wp mbl">
                        <li class="liste-wp__item">Une copie du registre du commerce original certifiée conforme, mentionnant le capital, la raison sociale et l’activité;</li>
                        <li class="liste-wp__item">Une liste des actionnaires ou associés de l’entreprise et leurs parts en % au capital, certifiée conforme par son représentant légal ;</li>
                        <li class="liste-wp__item">Une plaquette commerciale ; </li>
                        <li class="liste-wp__item">La ou les pièces justifiant les pouvoirs conférés à la personne agissant au nom de l’entreprise ; Organigramme de l’entreprise ;</li>
                        <li class="liste-wp__item">Une copie du bilan de l’exercice précédent ; </li>
                        <li class="liste-wp__item">Une attestation d’affiliation à la C.N.S.S précisant la masse salariale réelle et le nombre moyen des salariés déclarés durant les trois dernières années ;</li>
                        <li class="liste-wp__item">Une attestation du chiffre d’affaires réalisé durant les trois dernières années, délivrée par l’Administration des Impôts ;</li>
                        <li class="liste-wp__item">Une copie des attestations d’assurances obligatoires : assurance accident du travail, assurance responsabilité civile ;</li>
                        <li class="liste-wp__item">Une liste des moyens humains et techniques ;</li>
                        <li class="liste-wp__item">Une copie des certifications obtenues ;</li>
                        <li class="liste-wp__item">Des attestations de bonne exécution des principaux travaux réalisés par votre entreprise durant les trois dernières années.</li>
                    </ul>
                </div>
                <div>
                    <div class="mrs inbl">
                        <input type="reset" value="Annuler" class="btn">
                    </div>
                    <div class="inbl">
                        <input type="submit" value="Suivant" class="btn btn--important">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
