<div class="block plr">
    <div class="container">
        <div class="grid-4-tiny-2 mbl">
            <div class="push mob-push-none">
                <select name="test" class="dropdown-black">
                    <option value="">Filtrer par</option>
                    <option value="Titre">Titre</option>
                    <option value="description">Description</option>
                </select>
            </div>
        </div>
        <div class="mb80">
            <div class="grid-3-tiny-1">
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-16.png" alt="" />
                        <p class="item-art__title">Plus je parraine et plus je gagne </P>
                        <p class="item-art__desc mbs">Avec le parrainage Orange, tout le monde est gagnant </p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-17.png" alt="" />
                        <p class="item-art__title">Alerte Orange </P>
                        <p class="item-art__desc mbs">Une vague de SMS frauduleux a été envoyés à certains de nos clients</p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-18.png" alt="" />
                        <p class="item-art__title">Plus je parraine et plus je gagne </P>
                        <p class="item-art__desc mbs">Avec le parrainage Orange, tout le monde est gagnant </p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-16.png" alt="" />
                        <p class="item-art__title">Plus je parraine et plus je gagne </P>
                        <p class="item-art__desc mbs">Avec le parrainage Orange, tout le monde est gagnant </p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-17.png" alt="" />
                        <p class="item-art__title">Alerte Orange </P>
                        <p class="item-art__desc mbs">Une vague de SMS frauduleux a été envoyés à certains de nos clients</p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-18.png" alt="" />
                        <p class="item-art__title">Plus je parraine et plus je gagne </P>
                        <p class="item-art__desc mbs">Avec le parrainage Orange, tout le monde est gagnant </p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-16.png" alt="" />
                        <p class="item-art__title">Plus je parraine et plus je gagne </P>
                        <p class="item-art__desc mbs">Avec le parrainage Orange, tout le monde est gagnant </p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-17.png" alt="" />
                        <p class="item-art__title">Alerte Orange </P>
                        <p class="item-art__desc mbs">Une vague de SMS frauduleux a été envoyés à certains de nos clients</p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art">
                        <img class="mbs" src="../img/contenus/visuel-18.png" alt="" />
                        <p class="item-art__title">Plus je parraine et plus je gagne </P>
                        <p class="item-art__desc mbs">Avec le parrainage Orange, tout le monde est gagnant </p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="txtcenter mob-mbm">
            <nav>
                <ul class="pager">
                    <li class="pager__item "><a href="#" class="prev"><i class="icon ic-left"></i></a></li>
                    <li class="pager__item "><a href="#">1</a></li>
                    <li class="pager__item "><span class="active">2</span></li>
                    <li class="pager__item"><a href="#">3</a></li>
                    <li class="pager__item"><a href="#">4</a></li>
                    <li class="pager__item"><a href="#">5</a></li>
                    <li class="pager__item"><a href="#" class="next"><i class="icon ic-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
