<div class="block-fournisseurs block block--n">
    <div class="container">
        <p class="mbs">Pour permettre à votre entreprise de faire partie de la liste des fournisseurs agrées à travailler avec MEDI TELECOM, vous êtes priés de compléter le questionnaire de référencement suivant.</p>
        <p class="mbm">Pour toute mise à jour des données fournies, merci de les adresser à <span>support.achats@meditel.ma</span></p>
        <div class="block_step block_step--four step o-mbl">
            <ul class="step2 clearfix">
                <li class="previous-step">
                    <span class="number-step">1.</span><span class="step-txt">Coordonnées</span>
                </li>
                <li class="previous-step">
                    <span class="number-step">2.</span><span class="step-txt">Activités </span>
                </li>
                <li class="current">
                    <span class="number-step">3.</span><span class="step-txt">Compétences</span>
                </li>
                <li>
                    <span class="number-step">4.</span><span class="step-txt">Confirmation</span>
                </li>
            </ul>
        </div>
        <div class="competences">
            <section class="informations-financieres">
                <header>
                    <h3 class="n3-title--alt o-mbl">Informations financières</h3>
                    <table class="table1 table-stand table-activites" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="tight">Année</th>
                                <th>Dernière année - 2</th>
                                <th>Dernière année - 1</th>
                                <th>Dernière année</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <th class="t-txt">Chiffre d'affaire</th>
                                <td data-label="Dernière année - 2"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année - 1"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                            </tr>
                            <tr class="pyjama">
                                <th class="t-txt">Fonds propres</th>
                                <td data-label="Dernière année - 2"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année - 1"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                            </tr>
                            <tr class="">
                                <th class="t-txt">Dettes à moyen et long terme</th>
                                <td data-label="Dernière année - 2"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année - 1"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                            </tr>
                            <tr class="pyjama">
                                <th class="t-txt">Résultat net</th>
                                <td data-label="Dernière année - 2"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année - 1"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                            </tr>
                            <tr class="">
                                <th class="t-txt">Montant des investissements</th>
                                <td data-label="Dernière année - 2"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année - 1"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                                <td data-label="Dernière année"><input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216047[]" type="text"></td>
                            </tr>
                        </tbody>
                    </table>
                </header>
            </section>
            <div class="separator o-mbl"></div>
            <section class="clients">
                <h3 class="n3-title--alt o-mbl">Clients / Références</h3>
                <article>
                    <header>
                        <h4 class="mbm">Vos principaux clients</h4>
                    </header>
                    <div class="clearfix">
                        <a href="#" class="btn btn--ms fr mtm-10 mbm mob-nof">Ajouter un client</a>
                        <table id="ezcoa-2077_major_customers_rows" class="table-stand table-activites" cellpadding="0" cellspacing="0">
                            <thead>
                            <th class="w45">Principaux clients</th>
                            <th class="w45">% de votre CA</th> 
                            <th></th>
                            <th class="last_col_table"></th>
                            </thead>

                            <tbody>

                                <tr class="bglight">


                                    <td  data-label="Principaux clients">
                                        <input data-parsley-group="block-2" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td data-label="% de votre CA">
                                        <input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"> <span>%</span></td>
                                    <td class="last_col_table">
                                        <a style="display: none;" class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_major_customers_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer le client</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bgdark">


                                    <td  data-label="Principaux clients">
                                        <input data-parsley-group="block-2" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td data-label="% de votre CA">
                                        <input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"> <span>%</span></td>
                                    <td class="last_col_table">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_major_customers_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer le client</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bglight">


                                    <td  data-label="Principaux clients">
                                        <input data-parsley-group="block-2" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td data-label="% de votre CA">
                                        <input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"> <span>%</span></td>
                                    <td class="last_col_table">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_major_customers_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer le client</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bgdark">


                                    <td  data-label="Principaux clients">
                                        <input data-parsley-group="block-2" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td data-label="% de votre CA">
                                        <input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"> <span>%</span></td>
                                    <td class="last_col_table">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_major_customers_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer le client</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bglight">


                                    <td  data-label="Principaux clients">
                                        <input data-parsley-group="block-2" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td data-label="% de votre CA">
                                        <input data-parsley-group="block-2" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216048[]" type="text">
                                    </td>
                                    <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"> <span>%</span></td>
                                    <td class="last_col_table">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_major_customers_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer le client</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </article>
                <article>
                    <header>
                        <h4 class="mbm">Vos principales réalisations</h4>
                    </header>
                    <div class="clearfix">
                        <a href="#" class="btn btn--ms fr mtm-10 mbm mob-nof">Ajouter une réalisation</a>
                        <table class="main_achievement table-stand table-activites" id="ezcoa-2078_main_achievement_rows" cellpadding="0" cellspacing="0">

                            <thead>
                                <tr>
                                    <th class="w32">Objet des principales réalisations</th>
                                    <th class="w20">Clients</th>
                                    <th class="w20">Montant</th>
                                    <th class="w20 t-date">Date</th>
                                    <th class="last_col_table"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bglight">


                                    <td data-label="Objet des réalisations">
                                        <textarea data-parsley-group="block-2" class="textarea box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" rows="2" cols="6" name="ContentObjectAttribute_smilematrix_cell_2216049[]"></textarea>
                                    </td>
                                    <td data-label="Clients">
                                        <input data-parsley-group="block-2" class="input002 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" id="ezcoa-2078_main_achievement_matrix_cell_0_1" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Montant">
                                        <input data-parsley-group="block-2" class="input003 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" id="ezcoa-2078_main_achievement_matrix_cell_0_2" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Date">
                                        <input data-parsley-group="block-2" class="datepicker_input input004 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td class="last_col_table td-top">
                                        <a style="display: none;" class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_main_achievement_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer la réalisation</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bgdark">


                                    <td data-label="Objet des réalisations">
                                        <textarea data-parsley-group="block-2" class="textarea box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" rows="2" cols="6" name="ContentObjectAttribute_smilematrix_cell_2216049[]"></textarea>
                                    </td>
                                    <td data-label="Clients">
                                        <input data-parsley-group="block-2" class="input002 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" id="ezcoa-2078_main_achievement_matrix_cell_1_1" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Montant">
                                        <input data-parsley-group="block-2" class="input003 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" id="ezcoa-2078_main_achievement_matrix_cell_1_2" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Date">
                                        <input data-parsley-group="block-2" class="datepicker_input input004 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td class="last_col_table td-top">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_main_achievement_remove_row remove_row " title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer la réalisation</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bglight">


                                    <td data-label="Objet des réalisations">
                                        <textarea data-parsley-group="block-2" class="textarea box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" rows="2" cols="6" name="ContentObjectAttribute_smilematrix_cell_2216049[]"></textarea>
                                    </td>
                                    <td data-label="Clients">
                                        <input data-parsley-group="block-2" class="input002 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" id="ezcoa-2078_main_achievement_matrix_cell_2_1" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Montant">
                                        <input data-parsley-group="block-2" class="input003 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" id="ezcoa-2078_main_achievement_matrix_cell_2_2" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Date">
                                        <input data-parsley-group="block-2" class="datepicker_input input004 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement  input-form" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td class="last_col_table td-top">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_main_achievement_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer la réalisation</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bgdark">


                                    <td data-label="Objet des réalisations">
                                        <textarea data-parsley-group="block-2" class="textarea box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" rows="2" cols="6" name="ContentObjectAttribute_smilematrix_cell_2216049[]"></textarea>
                                    </td>
                                    <td data-label="Clients">
                                        <input data-parsley-group="block-2" class="input002 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" id="ezcoa-2078_main_achievement_matrix_cell_3_1" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Montant">
                                        <input data-parsley-group="block-2" class="input003 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" id="ezcoa-2078_main_achievement_matrix_cell_3_2" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Date">
                                        <input data-parsley-group="block-2" class="datepicker_input input004 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td class="last_col_table td-top">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_main_achievement_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer la réalisation</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                                <tr class="bglight">


                                    <td data-label="Objet des réalisations">
                                        <textarea data-parsley-group="block-2" class="textarea box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" rows="2" cols="6" name="ContentObjectAttribute_smilematrix_cell_2216049[]"></textarea>
                                    </td>
                                    <td data-label="Clients">
                                        <input data-parsley-group="block-2" class="input002 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" id="ezcoa-2078_main_achievement_matrix_cell_4_1" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Montant">
                                        <input data-parsley-group="block-2" class="input003 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" id="ezcoa-2078_main_achievement_matrix_cell_4_2" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td data-label="Date">
                                        <input data-parsley-group="block-2" class="datepicker_input input004 box ezcc-supplier_registration_form ezcca-supplier_registration_form_main_achievement input-form" name="ContentObjectAttribute_smilematrix_cell_2216049[]" type="text">
                                    </td>
                                    <td class="last_col_table td-top">
                                        <a class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_main_achievement_remove_row remove_row" title="Remove row from the matrix." href="#">
                                            <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                            <span class="visible-tiny inbl">Supprimer la réalisation</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                        </a>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </article>
            </section>
            <div class="separator o-mbl"></div>
            <section class="w85">
                <header>
                    <h3 class="n3-title--alt mbs">Pièces à joindre</h3>
                    <p class="o-mbl">Joindre les fichiers aux formats PDF,JPG,PNG,ZIP ou RAR avec une taille limite de 2 Mo</p>
                </header>
                <div class="o-mbl">
                    <div class="upload">
                        <input type="file" />
                    </div>
                </div>
                <div>
                    <ul class="liste-wp mbl">
                        <li class="liste-wp__item">Une copie du registre du commerce original certifiée conforme, mentionnant le capital, la raison sociale et l’activité;</li>
                        <li class="liste-wp__item">Une liste des actionnaires ou associés de l’entreprise et leurs parts en % au capital, certifiée conforme par son représentant légal ;</li>
                        <li class="liste-wp__item">Une plaquette commerciale ; </li>
                        <li class="liste-wp__item">La ou les pièces justifiant les pouvoirs conférés à la personne agissant au nom de l’entreprise ; Organigramme de l’entreprise ;</li>
                        <li class="liste-wp__item">Une copie du bilan de l’exercice précédent ; </li>
                        <li class="liste-wp__item">Une attestation d’affiliation à la C.N.S.S précisant la masse salariale réelle et le nombre moyen des salariés déclarés durant les trois dernières années ;</li>
                        <li class="liste-wp__item">Une attestation du chiffre d’affaires réalisé durant les trois dernières années, délivrée par l’Administration des Impôts ;</li>
                        <li class="liste-wp__item">Une copie des attestations d’assurances obligatoires : assurance accident du travail, assurance responsabilité civile ;</li>
                        <li class="liste-wp__item">Une liste des moyens humains et techniques ;</li>
                        <li class="liste-wp__item">Une copie des certifications obtenues ;</li>
                        <li class="liste-wp__item">Des attestations de bonne exécution des principaux travaux réalisés par votre entreprise durant les trois dernières années.</li>
                    </ul>
                </div>
                <div>
                    <div class="mrs inbl">
                        <input type="reset" value="Annuler" class="btn">
                    </div>
                    <div class="inbl">
                        <input type="submit" value="Suivant" class="btn btn--important">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
