<div class="block-fournisseurs block block--n">
    <div class="container">
                <p class="mbs">Pour permettre à votre entreprise de faire partie de la liste des fournisseurs agrées à travailler avec MEDI TELECOM, vous êtes priés de compléter le questionnaire de référencement suivant.</p>
                <p class="mbm">Pour toute mise à jour des données fournies, merci de les adresser à <span>support.achats@meditel.ma</span></p>
                <div class="block_step block_step--four step o-mbl">
                    <ul class="step2 clearfix">
                        <li class="current">
                            <span class="number-step">1.</span><span class="step-txt">Coordonnées</span>
                        </li>
                        <li>
                            <span class="number-step">2.</span><span class="step-txt">Activités </span>
                        </li>
                        <li>
                            <span class="number-step">3.</span><span class="step-txt">Compétences</span>
                        </li>
                        <li>
                            <span class="number-step">4.</span><span class="step-txt">Confirmation</span>
                        </li>
                    </ul>
                </div>
                <section>
                    <form class="form-parsley-validate" novalidate>
                        <fieldset>
                            <div class="grid-2-1 tiny-1">
                                <div>
                                    <h3 class="n3-title--alt o-mbl">Représentant légal</h3>
                                    <div class="row-form grid-2-tiny-1">
                                        <div class="item-form">
                                            <label for="Nom">Prénom et Nom</label>
                                            <div class="item-form-input">
                                                <input type="text" class="input-form" id="Nom" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                        <div class="item-form ">
                                            <label for="email">Adresse e-mail</label>
                                            <div class="item-form-input">
                                                <input type="email" class="input-form" id="email" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-form grid-2-tiny-1">
                                        <div class="item-form ">
                                            <label for="telephone">Téléphone</label>
                                            <div class="item-form-input">
                                                <input type="tel" class="input-form tel" id="telephone" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" required>
                                            </div>
                                        </div>
                                        <div class="item-form ">
                                            <label for="telecopie">Télécopie</label>
                                            <div class="item-form-input">
                                                <input type="tel" class="input-form" id="telecopie" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <div class="item-form">
                                            <div class="form-type-checkbox mrl">
                                                <input type="checkbox" id="conditions" name="conditions" data-parsley-trigger="change" required>
                                                <label class="option" for="conditions">J'accepte les <a href="#">conditions générales de vente.</a></label>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="n3-title--alt o-mbl">Société</h3>
                                    <div class="row-form grid-2-tiny-1">
                                        <div class="item-form">
                                            <label for="raison-sociale">Raison sociale</label>
                                            <div class="item-form-input">
                                                <input type="text" class="input-form" id="raison-sociale" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                        <div class="item-form">
                                            <label for="statut-juridique">Statut juridique</label>
                                            <div class="item-form-input">
                                                <input type="text" class="input-form" id="statut-juridique" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-form grid-2-tiny-1">
                                        <div class="item-form">
                                            <label for="capital-social">Capital social</label>
                                            <div class="item-form-input">
                                                <input type="number" class="input-form" id="capital-social" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                        <div class="item-form">
                                            <label for="date-creation">Date de création</label>
                                            <div class="item-form-input">
                                                <input type="text" class="input-form" id="date-creation" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-form grid-2-tiny-1">
                                        <div class="item-form">
                                            <label for="registre-commerce">N° de registre de commerce</label>
                                            <div class="item-form-input">
                                                <input type="number" class="input-form" id="registre-commerce" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                        <div class="item-form">
                                            <label for="lieu-enregistrement">Lieu d'enregistrement</label>
                                            <div class="item-form-input">
                                                <input type="text" class="input-form" id="lieu-enregistrement" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-form grid-2-tiny-1">
                                        <div class="item-form">
                                            <label for="identification-fiscale">N° d'identification fiscale </label>
                                            <div class="item-form-input">
                                                <input type="number" class="input-form" id="identification-fiscale" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                        <div class="item-form">
                                            <label for="cnss">N° de CNSS</label>
                                            <div class="item-form-input">
                                                <input type="number" class="input-form" id="cnss" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-form grid-2-tiny-1">
                                        <div class="item-form">
                                            <label for="patente">N° de Patente</label>
                                            <div class="item-form-input">
                                                <input type="number" class="input-form" id="patente" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                        <div class="item-form">
                                            <label for="siege-social">Siège social</label>
                                            <div class="item-form-input">
                                                <input type="text" class="input-form" id="siege-social" required data-parsley-trigger="input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-form">
                                        <input type="reset" class="btn mrs" value="Annuler" />
                                        <input type="submit" class="btn btn--important inactive submit" value="Suivant" disabled />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
    </div>
</div>
