<div class="block block--n">
    <div class="container">
        <p class="info-p mbm">25 janvier 2016</p>
        <div class="onlineediteur mbl">
            <ul >
                <li >Une plus grande générosité internet pour permettre aux utilisateurs de vivre pleinement leurs passions
                </li>
                <li >Plus de confort grâce à une offre adaptée</li>
            </ul>
            <div>
                <p>
                    Casablanca, le 25 janvier 2016 – méditel a annoncé, sous le slogan « Connecté comme Jamais » le lancement du premier forfait dédié à la communauté des jeunes utilisateurs, une offre de téléphonie mobile post-payée tout-compris avec une plus grande générosité internet. Grâce à un mix voix, SMSet data spécialement étudié, l’opérateur permet aux jeunes d’accéder à une offre les libérant descontraintes liées au budget et au volume de données consommées.</p>
            </div>
            <div>
                <p>méditel bouscule une fois de plus le marché et lance le forfait jeunes «H@ny net ». L’offre est disponible à partir de 99 dirhams seulement par mois, donnant accès à 10 Go de données internet,des SMS illimités, 30 Heures vers un numéro préféré méditel et 1 heure de communications nationales et internationales. En plus du forfait, les abonnés ont la possibilité d’activer différents Pass en toute simplicité.
                    <br> ls ont le choix d’activer les Pass pour des appels vers le national ou vers l’étranger (Zone 1), pour plus de volume internet ou pour le Roaming.</p>
            </div>
            <div>
                <p>Le «H@ny net » innove également en terme d’accessibilité. Il propose une virtualisation totale de l’abonnement et de la gestion du compte sur les plateformes digitales méditel. L’offre est disponibleen ligne via la e-boutique méditel. Ainsi, à partir de leur espace client « méditel et moi » en ligne,les abonnés ont la possibilité d’activer des Pass, consulter les différents indicateurs de consommation de leur forfait, payer leur facture,… etc.</p>
            </div>
            <div>
                <p >Avec cette nouvelle offre, méditel confirme sa démarche d’innovation basée sur une écoute permanente de ses clients, aussi bien particuliers, professionnels et qu’entreprises, pour anticiper leurs besoins et y répondre au mieux.</p>
            </div> 
        </div>
        <div class="clearfix">
            <p class="mbs fr mob-nof"><small>Contact presse : Kawtar Nafid <br>
                    GSM : 06 25 99 22 90 <br>
                    kawtar.nafid@meditel.ma</small>
            </p>
            <a class="btn fl mbs" href="#" role="button">Télécharger le communiqué de presse (PDF)</a>
        </div>
    </div>
</div>
