<section class="block-actu block">
    <div class="container">
        <a class="btn btn-small btn--ms fr" role="button" href="#">Toute les actualités</a>
        <h2 class="mb28">Actualités</h2>
        <div class="items-art">
            <div class="grid-2-1 small-w100">
                <div>
                    <div class="item-art item-art--larg">
                        <figure>
                            <img class="mbs" src="../img/contenus/visuel-16.png" alt="" />
                        </figure>
                        <p class="item-art__title mbm">Orange certifié top employeur au Maroc par le Top Employers Institute </p>
                        <span class="item-art__time"><small>9 février 2016</small></span>
                    </div>
                </div>
                <div>
                    <div class="item-art mbm">
                        <figure>
                            <img class="mbs" src="../img/contenus/visuel-17.png" alt="" />
                        </figure>
                        <p class="item-art__title">Plus je parraine et plus je gagne</p>
                        <p class="item-art__desc mbs">Avec le parrainage Orange, tout le monde est gagnant </p>
                        <span class="item-art__time"><small>23 Mars 2016</small></span>
                    </div>
                    <div class="item-art">
                        <figure>
                            <img class="mbs" src="../img/contenus/visuel-18.png" alt="" />
                        </figure>
                        <p class="item-art__title">Alerte Orange</p>
                        <p class="item-art__desc mbs">Une vague de SMS frauduleux a été envoyés à certains de nos clients</p>
                        <span class="item-art__time"><small>12 Octobre 2016</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
