<div class="publication-press block">
    <div class="container">
        <div class="publication-items grid-3-tiny-1 mbl">
            <article class="publication-item">
                <h5 class="mbs">Orange certifié top employeur au Maroc </h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Casablanca, le 9 février 2016 – méditel a été certifié top employeur au Maroc par le Top Employers Institute, l’organe international de certification de l’excellence des conditions de travail proposées par les employeurs à leurs salariés.
                </p>
                <a href="#" class="btn" role="button">Lire la suite </a>
            </article>
            <article class="publication-item">
                <h5 class="mbs">Orange certifié top employeur au Maroc </h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Casablanca, le 9 février 2016 – méditel a été certifié top employeur au Maroc par le Top Employers Institute, l’organe international de certification de l’excellence des conditions de travail proposées par les employeurs à leurs salariés.
                </p>
                <a href="#" class="btn" role="button">Lire la suite </a>
            </article>
            <article class="publication-item">
                <h5 class="mbs">Orange certifié top employeur au Maroc </h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Casablanca, le 9 février 2016 – méditel a été certifié top employeur au Maroc par le Top Employers Institute, l’organe international de certification de l’excellence des conditions de travail proposées par les employeurs à leurs salariés.
                </p>
                <a href="#" class="btn" role="button">Lire la suite </a>
            </article>
            <article class="publication-item">
                <h5 class="mbs">Orange certifié top employeur au Maroc </h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Casablanca, le 9 février 2016 – méditel a été certifié top employeur au Maroc par le Top Employers Institute, l’organe international de certification de l’excellence des conditions de travail proposées par les employeurs à leurs salariés.
                </p>
                <a href="#" class="btn" role="button">Lire la suite </a>
            </article>
            <article class="publication-item">
                <h5 class="mbs">Orange certifié top employeur au Maroc </h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Casablanca, le 9 février 2016 – méditel a été certifié top employeur au Maroc par le Top Employers Institute, l’organe international de certification de l’excellence des conditions de travail proposées par les employeurs à leurs salariés.
                </p>
                <a href="#" class="btn" role="button">Lire la suite </a>
            </article>
            <article class="publication-item">
                <h5 class="mbs">Orange certifié top employeur au Maroc </h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Casablanca, le 9 février 2016 – méditel a été certifié top employeur au Maroc par le Top Employers Institute, l’organe international de certification de l’excellence des conditions de travail proposées par les employeurs à leurs salariés.
                </p>
                <a href="#" class="btn" role="button">Lire la suite </a>
            </article>
        </div>
        <div class="txtcenter mob-mbm">
            <nav>
                <ul class="pager">
                    <li class="pager__item "><a href="#" class="prev"><i class="icon ic-left"></i></a></li>
                    <li class="pager__item "><a href="#">1</a></li>
                    <li class="pager__item "><span class="active">2</span></li>
                    <li class="pager__item"><a href="#">3</a></li>
                    <li class="pager__item"><a href="#">4</a></li>
                    <li class="pager__item"><a href="#" class="next"><i class="icon ic-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
