<div class="publication-press block plr">
    <div class="container">
        <div class="publication-items grid-3-tiny-1 mbl">
            <article class="publication-item">
                <img class="mbs" src="../img/contenus/visuel-16.png" alt="">
                <h5 class="mbs">Plaquette institutionnelle 2015</h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Depuis sa création, méditel s'investit pour contribuer à améliorer le quotidien de millions de marocains, particuliers, professionnels et entreprises, au moyen de ses solutions simples et utiles.
                </p>
                <div class="publication-item__action">
                    <a href="#" class="btn mrss btn--ms btn--icon" role="button"><i class="icon ic-PDF_file"></i>Télécharger </a>
                    <a href="#" class="btn" role="button">Lire la suite </a>
                </div>
            </article>
            <article class="publication-item">
                <img class="mbs" src="../img/contenus/visuel-17.png" alt="">
                <h5 class="mbs">Plaquette institutionnelle 2015</h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Depuis sa création, méditel s'investit pour contribuer à améliorer le quotidien de millions de marocains, particuliers, professionnels et entreprises, au moyen de ses solutions simples et utiles.
                </p>
                <div class="publication-item__action">
                    <a href="#" class="btn mrss btn--ms btn--icon" role="button"><i class="icon ic-PDF_file"></i>Télécharger </a>
                    <a href="#" class="btn" role="button">Lire la suite </a>
                </div>
            </article>
            <article class="publication-item">
                <img class="mbs" src="../img/contenus/visuel-18.png" alt="">
                <h5 class="mbs">Plaquette institutionnelle 2015</h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Depuis sa création, méditel s'investit pour contribuer à améliorer le quotidien de millions de marocains, particuliers, professionnels et entreprises, au moyen de ses solutions simples et utiles.
                </p>
                <div class="publication-item__action">
                    <a href="#" class="btn mrss btn--ms btn--icon" role="button"><i class="icon ic-PDF_file"></i>Télécharger </a>
                    <a href="#" class="btn" role="button">Lire la suite </a>
                </div>
            </article>
            <article class="publication-item">
                <img class="mbs" src="../img/contenus/visuel-16.png" alt="">
                <h5 class="mbs">Plaquette institutionnelle 2015</h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Depuis sa création, méditel s'investit pour contribuer à améliorer le quotidien de millions de marocains, particuliers, professionnels et entreprises, au moyen de ses solutions simples et utiles.
                </p>
                <div class="publication-item__action">
                    <a href="#" class="btn mrss btn--ms btn--icon" role="button"><i class="icon ic-PDF_file"></i>Télécharger </a>
                    <a href="#" class="btn" role="button">Lire la suite </a>
                </div>
            </article>
            <article class="publication-item">
                <img class="mbs" src="../img/contenus/visuel-18.png" alt="">
                <h5 class="mbs">Plaquette institutionnelle 2015</h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Depuis sa création, méditel s'investit pour contribuer à améliorer le quotidien de millions de marocains, particuliers, professionnels et entreprises, au moyen de ses solutions simples et utiles.
                </p>
                <div class="publication-item__action">
                    <a href="#" class="btn mrss btn--ms btn--icon" role="button"><i class="icon ic-PDF_file"></i>Télécharger </a>
                    <a href="#" class="btn" role="button">Lire la suite </a>
                </div>
            </article>
            <article class="publication-item">
                <img class="mbs" src="../img/contenus/visuel-17.png" alt="">
                <h5 class="mbs">Plaquette institutionnelle 2015</h5>
                <p class="info-p mbs">9 février 2016</p>
                <p>
                    Depuis sa création, méditel s'investit pour contribuer à améliorer le quotidien de millions de marocains, particuliers, professionnels et entreprises, au moyen de ses solutions simples et utiles.
                </p>
                <div class="publication-item__action">
                    <a href="#" class="btn mrss btn--ms btn--icon" role="button"><i class="icon ic-PDF_file"></i>Télécharger </a>
                    <a href="#" class="btn" role="button">Lire la suite </a>
                </div>
            </article>
        </div>
        <div class="txtcenter mob-mbm">
            <nav>
                <ul class="pager">
                    <li class="pager__item "><a href="#" class="prev"><i class="icon ic-left"></i></a></li>
                    <li class="pager__item "><a href="#">1</a></li>
                    <li class="pager__item "><span class="active">2</span></li>
                    <li class="pager__item"><a href="#">3</a></li>
                    <li class="pager__item"><a href="#">4</a></li>
                    <li class="pager__item"><a href="#" class="next"><i class="icon ic-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
