<div class="block-histoire block">
    <div class="container">
        <p class="w70 mbl">Orange est devenue en quelques années une entreprise marocaine de référence. Retour sur quelques dates clés d’une histoire riche en événements :</p>
        <article class="onlineediteur">
            <div class="items-histoire">
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2001</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50 ">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2002</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2003</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2004</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2005</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2006</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2007</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2008</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2009</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2010</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2011</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">2012</h3>
                    <p class="item-histoire__centent simpletoggle-content mb50">Arrivée de méditel permettant une démonopolisation du marché des télécoms.</p>
                </div>
            </div>
        </article>
    </div>
</div>
