<section class="plr">
    <div class="container">
        <div class="grid-2-tiny-1">
            <div class="mbl">
                <figure>
                    <img alt="" src="../img/contenus/visuel-50.jpg">
                </figure>
            </div>
            <div class="mbl">
                <div class="clearfix">
                    <a href="#" class="btn btn--ms fr mob-nof" role="button"><small>10 Photos</small></a>
                    <h3 class="n3-title--alt fl mbs block-patclear mob-nof">Dernier diaporama</h3>
                </div>
                <p><b>Projet e-vision</b></p>
                <p class="info-p mbs-05">Top Management</p>
                <p class="o-mbl">This is Photoshop's version of Lorem Ipsum.
                    <br> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                <a href="#" class="btn btn--important btn--ms" role="button">Télécharger les photos - HD</a>
            </div>
        </div>
        <div class="separator o-mbl"></div>
    </div>
</section>
