<div class="block block--n plr">
    <div class="container">
        <div class="filtre clearfix">
            <div class="block-large-stable-select fr mob-nof o-mbl">
                <select name="filtre" class="dropdown-black">
                    <option value="">Filtrer par thème</option>
                    <option value="titre">Filtrer par titre</option>
                </select>
            </div>
            <h3 class="n3-title--alt fl mbm block-patclear">Tous les diaporamas</h3>
        </div>
        <div class="grid-3-tiny-1">
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-48.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05 no-hover-cl js-popup-open" href="#inline-galerie"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>12 photos</small></a>
                    <p class="item-art__desc mbs">Point de vente Anfa</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-49.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>04 photos</small></a>
                    <p class="item-art__desc mbs">Morocco Mall Magasin</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-48.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>230 photos</small></a>
                    <p class="item-art__desc mbs">Point de vente Rabat</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-48.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>12 photos</small></a>
                    <p class="item-art__desc mbs">Point de vente Anfa</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-49.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>04 photos</small></a>
                    <p class="item-art__desc mbs">Morocco Mall Magasin</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-48.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>230 photos</small></a>
                    <p class="item-art__desc mbs">Point de vente Rabat</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-48.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>12 photos</small></a>
                    <p class="item-art__desc mbs">Point de vente Anfa</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-49.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>04 photos</small></a>
                    <p class="item-art__desc mbs">Morocco Mall Magasin</p>
                </div>
            </div>
            <div class="mbm">
                <div class="item-art">
                    <div class="mbs-05">
                        <figure>
                            <img src="../img/contenus/visuel-48.jpg" alt="" />
                        </figure>
                    </div>
                    <a class="item-art__time mbs-05"><i class="icon ic-Camera ic-FS-20 mrs-05"></i><small>230 photos</small></a>
                    <p class="item-art__desc mbs">Point de vente Rabat</p>
                </div>
            </div>
        </div>
        <div class="txtcenter mob-mbm">
            <nav>
                <ul class="pager">
                    <li class="pager__item "><a href="#" class="prev"><i class="icon ic-left"></i></a></li>
                    <li class="pager__item "><a href="#">1</a></li>
                    <li class="pager__item "><span class="active">2</span></li>
                    <li class="pager__item"><a href="#">3</a></li>
                    <li class="pager__item"><a href="#">4</a></li>
                    <li class="pager__item"><a href="#">5</a></li>
                    <li class="pager__item"><a href="#" class="next"><i class="icon ic-right"></i></a></li>
                </ul>
            </nav>
        </div>
        <div style="display:none;">
            <div class="diaporama-popout popin-block po-pup-dest" id="inline-galerie">

                <div class="container-popup">
                 
                            <h3 class="mbl" >Projet e-vision <small>(10 photos)</small></h3>
                            <div class="diaporama mb60">
                                <div class="diaporama-nav">
                                    <a class="nav-link prev" href="#"><i class="icon ic-left"></i></a>
                                    <a class="nav-link next" href="#"><i class="icon ic-right"></i></a>
                                </div>
                                
                                <img src="../img/contenus/visuel-50.jpg" alt=""/>
                                    
                                
                                    
                            </div>
                            <div class="txtcenter">
                            <a href="#" class="btn">  Télécharger les photos - HD </a>
                            </div>
                       

                </div>

            </div>

        </div>
    </div>
</div>
