<div class="block">
    <div class="container">
        <div class="onlineediteur">
            <p >En tant qu’acteur clé du développement technologique marocain, méditel se devait d’investir également dans la modernisation sociale et culturelle de son environnement.</p>
            <p >En tant que sponsor des plus grands événements culturels, mais également par son soutien actif et durable à de nombreuses actions de solidarité, méditel contribue à consolider une société plus ouverte, plus créative, plus généreuse, plus responsable…</p>
            <span class="inb mbm mtm"></span>
            <div class="grid-2-tiny-1">
                <div>
                    <article>
                        <figure>
                            <img alt="visuel" src="../img/contenus/visuel-24.jpg">
                        </figure>

                        <h2>Nos engagements</h2>
                        <ul>
                            <li >Responsabilité</li>
                            <li>Sociale</li>
                            <li>Environnement</li>
                            <li>Education</li>
                            <li>Culture</li>
                            <li>Solidarité</li>
                        </ul>
                    </article>
                </div>
                <div>
                    <article>

                        <figure>
                            <img alt="visuel" src="../img/contenus/visuel-25.jpg">
                        </figure>

                        <h2>Fondation Orange</h2>
                        <ul>
                            <li>Présentation</li>
                            <li>Projet e-vision</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
