<div class="block-fournisseurs block block--n">
    <div class="container">
        <p class="mbs">Pour permettre à votre entreprise de faire partie de la liste des fournisseurs agrées à travailler avec MEDI TELECOM, vous êtes priés de compléter le questionnaire de référencement suivant.</p>
        <p class="mbm">Pour toute mise à jour des données fournies, merci de les adresser à <span>support.achats@meditel.ma</span></p>
        <div class="block_step block_step--four step mbl">
            <ul class="step2 clearfix">
                <li class="previous-step">
                    <span class="number-step">1.</span><span class="step-txt">Coordonnées</span>
                </li>
                <li class="current">
                    <span class="number-step">2.</span><span class="step-txt">Activités </span>
                </li>
                <li>
                    <span class="number-step">3.</span><span class="step-txt">Compétences</span>
                </li>
                <li>
                    <span class="number-step">4.</span><span class="step-txt">Confirmation</span>
                </li>
            </ul>
        </div>
        <div class="activites">
            <h3 class="n3-title--alt mbm">Activités</h3>
            <a href="#" title="" class="btn fr mob-nof" role="button">Ajouter  une activité</a>
            <p class="block-patclear">Il n'y a pas de ligne dans la matrice.</p>
            <div class="clearfix"></div>
            <div class="separator mtm mbl"></div>
            <form class="form-parsley-validate" novalidate>
                <fieldset>
                    <h3 class="n3-title--alt o-mbl">Champs de compétences</h3>
                    <div class="grid-2-1 tiny-1">
                        <div>
                            <div class="row-form">
                                <div class="item-form clearfix">
                                    <label>Achats Marketing</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right"></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left"></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]" required></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats Réseaux</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left "></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats Services &amp; ouvrages</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left "></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats produits de marchés</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left "></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats SI et plates-formes</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left"></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row-form">
                                <input type="reset" class="btn mrs" value="Annuler" />
                                <input type="submit" class="btn btn--important inactive" value="Suivant" disabled />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
