<div class="block-fournisseurs block block--n">
    <div class="container">
        <p class="mbs">Pour permettre à votre entreprise de faire partie de la liste des fournisseurs agrées à travailler avec MEDI TELECOM, vous êtes priés de compléter le questionnaire de référencement suivant.</p>
        <p class="mbm">Pour toute mise à jour des données fournies, merci de les adresser à <span>support.achats@meditel.ma</span></p>
        <div class="block_step block_step--four step mbl">
            <ul class="step2 clearfix">
                <li class="previous-step">
                    <span class="number-step">1.</span><span class="step-txt">Coordonnées</span>
                </li>
                <li class="current">
                    <span class="number-step">2.</span><span class="step-txt">Activités </span>
                </li>
                <li>
                    <span class="number-step">3.</span><span class="step-txt">Compétences</span>
                </li>
                <li>
                    <span class="number-step">4.</span><span class="step-txt">Confirmation</span>
                </li>
            </ul>
        </div>
        <div class="activites">
            <h3 class="n3-title--alt mbm">Activités</h3>

            <div class="block-patclear">
                <table id="ezcoa-2075_activities_rows" cellpadding="0" cellspacing="0" class="table-stand table-activites">
                    <thead>
                        <tr>
                            <th class="w45">Nature de principales activités</th>
                            <th class="w45">% du C.A</th>               
                            <th>

                            </th>
                            <th class="last_col_table"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bglight"> 


                            <td data-label="Nature activités"> <input data-parsley-id="36" data-parsley-group="block-1" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216046[]" type="text"></td>
                            <td data-label="% du C.A"> <input data-parsley-id="38" data-parsley-group="block-1" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216046[]" type="text"></td>

                            <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"><span>%</span></td>

                            <td class="last_col_table">
                                <a style="display: none;" class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_activities_remove_row remove_row" title="Remove row from the matrix." href="#">
                                    <img alt="remove" src="Orange%20accueil_files/remove.html">
                                </a>
                            </td>

                        </tr>
                        <tr>
                            <td data-label="Nature activités"><input data-parsley-id="164" data-parsley-group="block-1" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216046[]" type="text"></td>
                            <td data-label="% du C.A"><input data-parsley-id="166" data-parsley-group="block-1" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216046[]" type="text"></td>

                            <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"><span>%</span></td>

                            <td class="last_col_table">
                                <a style="" class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_activities_remove_row remove_row" title="Remove row from the matrix." href="#">
                                    <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                    <span class="visible-tiny inbl">Supprimer l'activité</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                </a>
                            </td>
                        </tr>
                         <tr>
                            <td data-label="Nature activités"><input data-parsley-id="164" data-parsley-group="block-1" class="input02 input-form" name="ContentObjectAttribute_smilematrix_cell_2216046[]" type="text"></td>
                            <td data-label="% du C.A"><input data-parsley-id="166" data-parsley-group="block-1" class="input01 input-form" name="ContentObjectAttribute_smilematrix_cell_2216046[]" type="text"></td>

                            <td style="text-align: center;" align="center" width="50" class="hidden-mob td-middle"><span>%</span></td>

                            <td class="last_col_table">
                                <a style="" class="remove ezcc-supplier_registration_form_remove_row ezcca-supplier_registration_form_activities_remove_row remove_row" title="Remove row from the matrix." href="#">
                                    <img alt="remove" src="Orange%20accueil_files/remove.html" class="hidden">
                                    <span class="visible-tiny inbl">Supprimer l'activité</span><i class="icon ic-Delete ic-FS-30 color-red-function"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <a href="#" title="" class="btn fr mob-nof" role="button">Ajouter  une activité</a>
            <div class="clearfix"></div>
            <div class="separator mtm mbl"></div>
            <form class="form-parsley-validate" novalidate>
                <fieldset>
                    <h3 class="n3-title--alt o-mbl">Champs de compétences</h3>
                    <div class="grid-2-1 tiny-1">
                        <div>
                            <div class="row-form">
                                <div class="item-form clearfix">
                                    <label>Achats Marketing</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right"></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left"></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]" required></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats Réseaux</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left "></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats Services &amp; ouvrages</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left "></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats produits de marchés</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left "></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                                <div class="item-form clearfix">
                                    <label>Achats SI et plates-formes</label>
                                    <div class="select-multiple-item">
                                        <select class="select-multiple fl from" multiple size="10">
                                            <option value="Agences de création">Agences de création</option>
                                            <option value="Achat de contenu">Achat de contenu</option>
                                            <option value="Below the Line Agencies">Below the Line Agencies</option>
                                            <option value="Impression">Impression</option>
                                            <option value="Agences de création">Agences de création</option>
                                        </select>
                                        <div class="controls-select-multiple fl">
                                            <a href="#" class="js-moveToRight moveAction mbs"><i class="icon ic-right "></i></a>
                                            <a href="#" class="js-moveToLeft moveAction mbs"><i class="icon ic-left"></i></a>
                                        </div>
                                        <select class="select-multiple fl to" multiple size="10" name="topics[]"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row-form">
                                <input type="reset" class="btn mrs" value="Annuler" />
                                <input type="submit" class="btn btn--important inactive" value="Suivant" disabled />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
