<div class="block">
    <div class="container">
        <div class="onlineediteur">
            <p>La politique de recrutement à méditel s’inscrit dans le cadre d’une stratégie globale de Gestion des Ressources humaines qui vise la recherche de profils à haut potentiel dotés de compétences métiers affirmées et de qualités managériales avérées notamment en termes de leadership, d’esprit d’initiative et de responsabilité. </p>
            <p>Au-delà des compétences techniques et de l’expertise métier, méditel oriente sa politique de recrutement vers la recherche de profils à forts potentiels souhaitant s’investir durablement dans des projets à grande valeur ajoutée. Savoir-faire, savoir-être et implication sont, ainsi, les critères que méditel recherche dans la sélection de ses futurs collaborateurs.</p>
            <p>Rigueur, créativité, esprit d’équipe, prise d’initiatives, professionnalisme et engagement sont autant de critères que méditel recherche pour la sélection de ses futurs collaborateurs.</p>
            <p>Un Plan Annuel d’Emploi est établi et constitue une feuille de route en matière de recrutement, il est défini en fonction des besoins exprimés par les différentes métiers. L’ensemble du processus est géré en étroite collaboration avec les différentes directions. L’objectif étant d’assurer la meilleure adéquation poste/profil.</p>
            <p>Toutes nos offres d’emploi sont publiées sur notre site web. Vous pourrez ainsi y postuler directement en vous inscrivant.</p>
            <p><small>Le candidat reconnaît que méditel pourra avoir accès à ses données personnelles. <br>Le candidat dispose à tout moment d'un droit d'accès, de rectification à ses données à caractère personnel et, le cas échéant, d'opposition au traitement de celles-ci en envoyant un courrier mentionnant les nom et prénom et numéro de la Carte National d'Identité.</small></p>
        </div>
    </div>
</div>
