<div class="block-dashboard-profil">
    <div class="container">
        <div class="grid-2-tiny-1 mbm">
            <div class="mbm">
                <span class="cercel-icon  mrm ic-Avatar ic-FS-35 fl"></span>
                <div class="mod">
                    <h2>Smile Maroc</h2>
                    <h4 class="mbm">Points fidélité : <span class="color-orangeW">20486</span></h4>
                    <a class="btn btn--important" href="#">Gérer mon profil</a>
                </div>
            </div>
            <div class="mbm">
                <div>
                    <h2>Notifications</h2>
                    <h4>Facture impayées</h4>
                    <p><small>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</small></p>
                </div>
            </div>
        </div>
    </div>
</div>