<div class="container">

    <a class="btn btn-small btn-all fr" href="#" title="">Voir tous les sites</a>

    <h2 class="mbl">Sites connectés</h2>

    <div class="grid-4-tiny-1">

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Hay Hassani</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>


            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Sidi Maârouf</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Maarif</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Rabat, Hay RIyad</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Hay Hassani</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Sidi Maârouf</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Maarif</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Rabat, Hay RIyad</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Hay Hassani</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>


            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Sidi Maârouf</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Casablanca, Maarif</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>

            <div class="mbl">

                <div class="fl">

                    <i class="icon ic-Map_Pin ic-FS-45 ml-9 mrs"></i>

                </div>

                <div class="mod">

                    <h5 class="mbs title-height">Rabat, Hay RIyad</h5>
                    <p>Sercices : </p>
                    <ul class="list-color-num">

                        <li><span>3</span>ligne voix </li>
                        <li><span>4</span>lignes internet </li>
                        <li><span>2</span>lignes DATA</li>
                    </ul>

                </div>

            </div>


    </div>


    <a class="link-souligne fr mbm" title="" href="#">Charger la liste</a>
                                   
    <div class="clear"></div>

</div>