<div class="block-options block-option-one mbm">
    <div class="container">
        <a class="link-wi mbms inbl" href=""><i class="icon ic-left"></i>Retour</a>
        <div class="sslist-block">
            <h2 class="mbl inbl">Restrictions</h2>
        </div>
        <h3>Mes options activées</h3>
        <div class="toggle-option">
            <div class="toggle-option__item">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input3"/>
                <div class="cssAccordion-header mod ">
                    <div class="toggle-option__header">
                        <label class="cssAccordion-label" for="cssAccordion-input3"></label>
                        <div class="grid-2 items-option-active">
                            <div class="mob-w50" >
                                <h3 class="  n3-title--alt mob-w100 res-w80">Restrictions externes</h3>
                            </div>
                            <div class="mob-w34 txtright">
                                <a  class="hidden-tiny">
                                    <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                    <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                </a>
                                <a href="#" class="visible-tiny">
                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                    <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="cssAccordion-body">
                    <div class="toggle-option__body">
                        <div class="grid-2-1-tiny-1">
                            <div class="w80 mob-larg">
                                <div class="mbm">
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                </div>
                                <button class="btn"> Supprimer l'option</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
   
</div>
 <div class="block-addOptions block-addOptions-one">
        <div class="container">
            <h3 class="mbl">Gestion des restrictions</h3></div>
        <div class="toggle-add-option">
            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input20"/>
            <div class="container cssAccordion-header">
                <label class="cssAccordion-label" for="cssAccordion-input20"></label>
                <div class="toggle-add-option__header">
                    <div class="grid-2">
                        <div class="mob-w65">
                            <h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Restriction des appels</h3>
                        </div>
                        <div class="mob-w20 txtright">
                            <a href="#" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-add-option__body cssAccordion-body">
                <div class="container">
                    <div class="toggle-option">
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input10"/>
                            <div class="cssAccordion-header mod ">
                                <div class="toggle-option__header">
                                    <label class="cssAccordion-label" for="cssAccordion-input10"></label>
                                    <div class="grid-2 items-option-active">
                                        <div class="mob-w50" >
                                            <h3 class="  n3-title--alt mob-w100 res-w80">Restrictions internes</h3>
                                        </div>
                                        <div class="mob-w34 txtright">
                                            <a  class="hidden-tiny">
                                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                            </a>
                                            <a href="#" class="visible-tiny">
                                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <div class="w80 mob-larg">
                                        <div class="mbm">
                                            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                            <a href="#addOptions1" class="link-edite js-header-toggle">
                                                <span class="edit btn btn--important">Activer l'option</span>
                                                <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="js-blockEdite addOptions" id="addOptions1">
                                        <div class="grid-2-tiny-1">
                                            <div>
                                                <h4 class="mbm">Activer l'option</h4>

                                                <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>

                                                <a href="#" class="btn">Annuler</a> 
                                                <a href="#" class="btn btn--important">Valider</a> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-option__item">
                            <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input1"/>
                            <div class="cssAccordion-header mod ">
                                <div class="toggle-option__header">
                                    <label class="cssAccordion-label" for="cssAccordion-input1"></label>
                                    <div class="grid-2 items-option-active">
                                        <div class="mob-w50" >
                                            <h3 class="  n3-title--alt mob-w100 res-w80">Restrictions externes</h3>
                                        </div>
                                        <div class="mob-w34 txtright">
                                            <a  class="hidden-tiny">
                                                <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                                <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                            </a>
                                            <a href="#" class="visible-tiny">
                                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="cssAccordion-body">
                                <div class="toggle-option__body">
                                    <div class="w80 mob-larg">
                                        <div class="mbm">
                                            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                                            <button class="btn"> Supprimer l'option</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
