<div class="block">
    <div class="container">
        <a href="" class="link-wi mbms inbl"><i class="icon ic-left"></i>Retour</a>
        <h2 class="mbl">Mes utilisateurs</h2>
        <div class="w70 mbm mob-larg">
            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        </div>
        <div class="clearfix mbl block-table-stand">
            <a href="#addOptions1" class="link-edite js-header-toggle mbm">
                <span class="edit btn btn--important">Ajouter un utilisateur</span>
                <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
            </a>
            <div class="js-blockEdite addOptions" id="addOptions1" style="display: none;">
                <h4 class="mbm">Ajouter un utilisateur</h4>
                <div class="w90 mob-larg">
                    <form class="form-parsley-validate" novalidate>
                        <fieldset>
                            <div class="grid-4-tiny-1">
                                <div class="item-form">
                                    <label for="numero">Numéro</label>
                                    <div class="item-form-input">
                                        <input type="tel" class="input-form" id="numero" placeholder="" data-parsley-trigger="input" data-parsley-type="number" minlength="10" maxlength="10" data-parsley-error-message="Le numéro de téléphone doit être 10 chiffres" />
                                    </div>
                                </div>
                                <div class="item-form ">
                                    <label for="nom">Nom</label>
                                    <div class="item-form-input">
                                        <input type="text" class="input-form" id="nom" placeholder="" required data-parsley-trigger="input" />
                                    </div>
                                </div>
                                <div class="item-form">
                                    <label for="prenom">Prénom</label>
                                    <div class="item-form-input">
                                        <input type="text" class="input-form" id="prenom" placeholder="" required data-parsley-trigger="input" />
                                    </div>
                                </div>
                                <div class="item-form">
                                    <label for="email">Adresse e-mail</label>
                                    <div class="item-form-input">
                                        <input type="email" class="input-form" id="email" placeholder="" required data-parsley-trigger="input" />
                                    </div>
                                </div>
                            </div>
                            <div class="item-form">
                                <input type="reset" value="Annuler" class="btn mrs">
                                <input type="submit" value="Envoyer" class="btn btn--important inactive submit" disabled>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="separator-l mbm"></div>
            </div>
            <table class="table-stand">
                <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>Numéro</th>
                        <th>Compte</th>
                        <th>Dernier accès</th>
                        <th class="txtcenter">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="regular">Hicham El ganadi</td>
                        <td class="regular"><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">Administrateur</td>
                        <td class="regular">02/10/2016</td>
                        <td class="txtcenter cell-tiny-right">
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-modifier_no_access ic-FS-20 "></i></a>
                            <a class="js-popup-open link-ml-icon" href="#inline_po-pup" title=""><i class="icon  ic-Pencil ic-FS-20 "></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Delete ic-FS-20 "></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="regular">Hicham El ganadi</td>
                        <td class="regular"><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">Administrateur</td>
                        <td class="regular">02/10/2016</td>
                        <td class="txtcenter cell-tiny-right">
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-modifier_no_access ic-FS-20 "></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Pencil ic-FS-20 "></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Delete ic-FS-20 "></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="regular">Hicham El ganadi</td>
                        <td class="regular"><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">Administrateur</td>
                        <td class="regular">02/10/2016</td>
                        <td class="txtcenter cell-tiny-right">
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-modifier_no_access ic-FS-20 "></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Pencil ic-FS-20 "></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Delete ic-FS-20 "></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="regular">Hicham El ganadi</td>
                        <td class="regular"><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">Administrateur</td>
                        <td class="regular">02/10/2016</td>
                        <td class="txtcenter cell-tiny-right">
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-modifier_no_access ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Pencil ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Delete ic-FS-20"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="regular">Hicham El ganadi</td>
                        <td class="regular"><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">Administrateur</td>
                        <td class="regular">02/10/2016</td>
                        <td class="txtcenter cell-tiny-right">
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-modifier_no_access ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Pencil ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Delete ic-FS-20"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="regular">Hicham El ganadi</td>
                        <td class="regular"><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">Administrateur</td>
                        <td class="regular">02/10/2016</td>
                        <td class="txtcenter cell-tiny-right">
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-modifier_no_access ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Pencil ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Delete ic-FS-20"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="regular">Hicham El ganadi</td>
                        <td class="regular"><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">Administrateur</td>
                        <td class="regular">02/10/2016</td>
                        <td class="txtcenter cell-tiny-right">
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-modifier_no_access ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Pencil ic-FS-20"></i></a>
                            <a class="link-ml-icon" href="#" title=""><i class="icon  ic-Delete ic-FS-20"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="display:none;">
                <div class="popin-block popin-form" id="inline_po-pup">
                    <div class="container-popup">
                        <h2 class="o-mbl">Modifier un utilisateur</h2>
                        <form action="#" method="post">
                            <fieldset title="">
                                <div>
                                    <p class="mbm">Ayoub KERMANI, 0520000274</p>
                                    <div class="item-form">
                                        <label>Numéro<span>*</span></label>
                                        <div class="item-form-input">
                                            <input type="text" class="input-form">
                                        </div>
                                    </div>
                                    <div class="item-form">
                                        <label>Nom<span>*</span></label>
                                        <div class="item-form-input">
                                            <input type="text" class="input-form">
                                        </div>
                                    </div>
                                    <div class="item-form">
                                        <label>Prénom<span>*</span></label>
                                        <div class="item-form-input">
                                            <input type="text" class="input-form">
                                        </div>
                                    </div>
                                    <div class="item-form">
                                        <label>Adresse-email<span>*</span></label>
                                        <div class="item-form-input">
                                            <input type="text" class="input-form">
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="mrs inbl">
                                                <input type="reset" value="Annuler" class="btn">
                                            </div>
                                            <div class="inbl">
                                                <input type="submit" class="btn btn--important" value="Valider">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <a class="link-souligne fr" title="" href="#">Charger la suite</a>
        </div>
        <!---->
    </div>
</div>
