<div class="container"> 
    <ul class="tab-dash-header tab-dash-header-3col hidden-tiny">
    	<li class="active"><span>Tableau de bord</span></li>
    	<li><a href="#">Mon parc</a></li>
        <li><a href="#">Administration</a></li>
    </ul>

    <div class="visible-tiny plr">
       	<select name="select" class="dropdown-black">
            <option value="Tableau de bord">Tableau de bord</option>
            <option value="Mon parc">Mon parc</option>
            <option value="Administration">Administration</option>
        </select>
   </div>

</div>