<div class="block-admin plr">
    <div class="container">
        <h2 class="mbm">Administration</h2>
        <p class="mbl w70 mob-larg">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
        <div class="grid-3-tiny-1 mbm">
            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm">
                    <a href="">
                        <img alt="" src="../img/contenus/visuel-54.jpg">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3>
                        <a href="#">
                            Mon profil
                        </a>
                    </h3>
                    <p>Visualisez, modifiez et mettez à jour votre profil à votre convenance</p>
                    <a class="btn btn--bb btn--ms" href="#">Gèrer mon profil</a>
                </div>
            </div>
            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm">
                    <a href="">
                        <img  alt="" src="../img/contenus/visuel-52.jpg">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Mes groupes</a></h3>
                    <p>Créez, modifiez et gérez vos groupes en toute facilité</p>
                    <a class="btn btn--bb btn--ms" href="#">Gèrer mes groupes</a>
                </div>
            </div>
            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm">
                    <a href="">
                        <img  alt="" src="../img/contenus/visuel-53.jpg">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Mes utilisateurs</a></h3>
                    <p>Créez, modifiez et gérez vos groupes en toute facilité</p>
                    <a class="btn btn--bb btn--ms" href="#">Gèrer mes utilisateurs</a>
                </div>
            </div>
            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm">
                    <a href="">
                        <img  alt="" src="../img/contenus/visuel-53.jpg">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Mes filiales</a></h3>
                    <p>Créez, modifiez et gérez vos filiales en toute facilité</p>
                    <a class="btn btn--bb btn--ms" href="/b2b/mes-filiales.html">Gèrer mes filiales</a>
                </div>
            </div>
        </div>
    </div>
</div>