<div class="container">
    <ul class="tab-dash-header tab-dash-header-3col hidden-tiny">
        <li><a href="#">Tableau de bord</a></li>
        <li><a href="#">Mon parc</a></li>
        <li class="active"><span>Administration</span></li>
    </ul>

    <div class="visible-tiny plr">
       	<select name="select" class="dropdown-black selectBox-tab">
            <option value="#Monparc">Mon parc</option>
            <option value="#Administration">Administration</option>
            <option value="#Tableau">Tableau de bord</option>
        </select>
    </div>

</div>

