<div class="block-addOptions block-addOptions-pt15">
    <div class="toggle-add-option">
        <div class="toggle-add-option__item">
            <input type="radio" name="radioption" class="cssAccordion-input" id="cssAccordion-input3" checked="checked">
            <div class="container cssAccordion-header">
                <label class="cssAccordion-label" for="cssAccordion-input3"></label>

                <div class="toggle-add-option__header">
                    <div class="grid-2">
                        <div class="mob-w65">
                            <h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Parc voix</h3>
                        </div>
                        <div class="mob-w20 txtright">
                            <a href="#" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-add-option__body  cssAccordion-body">
                <div class="container">
                    <div class="grid-2-tiny-1 pbl o-ptl">

                        <div class="class-ptl57 prl">

                            <h3 class="n3-title--alt mbm"><span class="block-size-36">10</span> Lignes associées</h3>

                            <div class="zone-progress mbs">
                                <div class="progress progress--greenF">
                                    <div style="width: 32%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-green">
                                        <span class="sr-only">32%</span>
                                        <div class="picto-progress-bar ">
                                            32%
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <ul class="list-ligne">

                                <li class="mbs"><span class="picto-conso bg-green"></span> Lignes actives </li>
                                <li class="mbs"><span class="picto-conso bg-gray6"></span> Lignes suspendus </li>
                            </ul>

                        </div>


                        <div class="class-border-left">
                            <a href="#" class="fr btn btn--wi btn-small btn--ms"><i class="icon ic-Syncronise ic-FS-20"></i>Réinitialisation </a>
                            <h3 class="n3-title--alt o-mbl">Composition de parc 1</h3>

                            <div class="grid-2-tiny-1">

                                <div class="block-call-graph__graph">
                                    <img alt="graphe" src="../img/contenus/graphe-3.png">
                                </div>

                                <div class="block-call-graph__list">
                                    <ul class="list-calls">
                                        <li><span class="picto-call picto-call--national"></span>SDA</li>
                                        <li><span class="picto-call picto-call--international"></span>Accès primaire</li>
                                        <li><span class="picto-call picto-call--roaming"></span>Accès de base</li>
                                        <li><span class="picto-call picto-call--other"></span>Accèes indivi</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="toggle-add-option__item">
            <input type="radio" name="radioption" class="cssAccordion-input" id="cssAccordion-input1" >
            <div class="container cssAccordion-header">
                <label class="cssAccordion-label" for="cssAccordion-input1"></label>

                <div class="toggle-add-option__header">
                    <div class="grid-2">
                        <div class="mob-w65">
                            <h3 class="n3-title--alt"><i class="icon  ic-Internet ic-FS-40"></i>Parc internet</h3>
                        </div>
                        <div class="mob-w20 txtright">
                            <a href="#" class="js-header-toggle linkOpenOptions">
                                <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                            </a>
                        </div>
                    </div>
                </div>






            </div>
            <div class="toggle-add-option__body  cssAccordion-body">
                <div class="container">
                    <div class="grid-2-tiny-1 pbl o-ptl">

                        <div class="class-ptl57 prl">

                            <h3 class="n3-title--alt mbm"><span class="block-size-36">10</span> Lignes associées</h3>

                            <div class="zone-progress mbs">
                                <div class="progress progress--greenF">
                                    <div style="width: 32%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-green">
                                        <span class="sr-only">32%</span>
                                        <div class="picto-progress-bar ">
                                            32%
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <ul class="list-ligne">

                                <li class="mbs"><span class="picto-conso bg-green"></span> Lignes actives </li>
                                <li class="mbs"><span class="picto-conso bg-gray6"></span> Lignes suspendus </li>
                            </ul>

                        </div>


                        <div class="class-border-left">

                            <h3 class="n3-title--alt o-mbl">Composition de parc</h3>

                            <div class="grid-2-tiny-1">

                                <div class="block-call-graph__graph">
                                    <img alt="graphe" src="../img/contenus/graphe-3.png">
                                </div>

                                <div class="block-call-graph__list">
                                    <ul class="list-calls">
                                        <li><span class="picto-call picto-call--national"></span>SDA</li>
                                        <li><span class="picto-call picto-call--international"></span>Accès primaire</li>
                                        <li><span class="picto-call picto-call--roaming"></span>Accès de base</li>
                                        <li><span class="picto-call picto-call--other"></span>Accèes indivi</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>