<div class="block block-bg-stand bg-white">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm w80">Mon parc</h2>
            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh velvelit auctor aliquet enean sollicitudi.</p>
            <div class="block-btns">
                <a title="" href="#" class="btn btn--important mbs">Gérer mon parc</a>
            </div>

        </div>
        <div class="block-bg-stand__visuel">
           
        </div>
    </div>
</div>