<section class="block block-bg-stand bg-bleu">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm w80">Assistance</h2>
            <div class="onlineediteur">
                <p >This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
                </p>
            </div>
            <div class="block-btns">
                <a href="#" class="btn mrs mbs">Mes réclamations</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-56.png" alt="">
        </div>
    </div>
</section>