<section class="block block-bg-stand bg-white">
    <div class="container">
        <div class="block-bg-stand__content">

            <h2 class="w80">Administration</h2>
            <p class="mbm">Créez, modifiez et gérez vos utilisateurs et vos groupes en toute facilité</p>
            <div class="block-btns">
                <a title="" href="#" class="btn btn--important mrs mbs">Mes utilisateurs</a>
                <a title="" href="#" class="btn btn--important mbs">Mes groupes</a>
            </div>

        </div>
        <div class="block-bg-stand__visuel">
           
        </div>
    </div>
</section>