<div class="container">
    <ul class="tab-dash-header tab-dash-header-3col hidden-tiny">
        <li><a href="#">Tableau de bord</a></li>
        <li class="active"><span>Mon parc</span></li>
        <li><a href="#">Administration</a></li>
    </ul>

    <div class="visible-tiny plr">
       	<select name="select" class="dropdown-black">
            <option value="https://www.google.com/">Mon parc</option>
            <option value="https://www.google.com/">Administration</option>
            <option value="https://www.google.com/">Tableau de bord</option>
        </select>
    </div>

</div>
