<div class="block-bg-stand bg-bleu">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm w80">Options et restrictions</h2>
            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
            <div class="block-btns">
                <a href="#" class="btn btn--standard mrs mbs">Gèrer mes options</a>
                <a href="#" class="btn mrs mbs">Gèrer mes restrictions</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-25.png" alt="">
        </div>
    </div>
</div>