<div class="container"> 
    <ul class="tab-dash-header tab-dash-header-3col hidden-tiny">
      <li><a href="#">Tableau de bord</a></li>
      <li><a href="#">La ligne 0663000000</a></li>
      <li class="active"><span>Gestion de la ligne</span></li> 
    </ul>

    <div class="visible-tiny plr">
        <select name="select" class="dropdown-black">
            <option value="Gestion de la ligne">Gestion de la ligne</option>
            <option value="Tableau de bord">Tableau de bord</option>
            <option value="La ligne 0663000000">La ligne 0663000000</option>
        </select>
   </div>

</div>
