<div class="block-myProfil">
    <div class="container">
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mb50 inbl">Mon parc</h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Mes Pass<i class="icon ic-right fr"></i></a>
                <a href="#">Mon Suivi Conso<i class="icon ic-right fr"></i></a>
                <a href="#">Changer mon forfait<i class="icon ic-right fr"></i></a>
                <a href="#">Assistance<i class="icon ic-right fr"></i></a>
            </div>
        </div>


        <!---->

        <div>

            <form method="post" action="#">
                <fieldset title="">


                    <div>

                        <div class="grid-4-1">

                            <div>

                                <div class="grid-4-tiny-1">

                                    <div class="item-form">
                                        <label for="segment">Segment</label>
                                        <div class="item-form-input">
                                            <select name="fixe" class="dropdown-black" id="segment">
                                                <option>Fixe</option>
                                                <option>Fixe</option>
                                                <option>Fixe</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="item-form">
                                        <label for="produit">Produit</label>
                                        <div class="item-form-input">
                                            <select name="voix" class="dropdown-black" id="produit">
                                                <option>Voix</option>
                                                <option>Voix</option>
                                                <option>Voix</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="item-form">
                                        <label for="planTarifaire">Plan tarifaire</label>
                                        <div class="item-form-input">
                                            <select name="plan-tarifaire" class="dropdown-black" id="planTarifaire">
                                                <option>Plan tarifaire</option>
                                                <option>Plan tarifaire Plan tarifaire</option>
                                                <option>Plan tarifaire</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="item-form">
                                        <label for="keyword">Mot clé</label>
                                        <div class="item-form-input">
                                            <input type="text" class="input-form" placeholder="Mot clé" id="keyword">
                                        </div>
                                    </div>

                                </div>

                                <div class="items-form-row">
                                    <div class="item-form">
                                        <div class="form-type-checkbox mrl">
                                            <input type="checkbox" id="checkbox-1" name="genre">
                                            <label for="checkbox-1" class="option">Lignes actives</label>
                                        </div>
                                        <div class="form-type-checkbox mrl">
                                            <input type="checkbox" id="checkbox-2" name="genre">
                                            <label for="checkbox-2" class="option">Lignes inactives</label>
                                        </div>

                                    </div>

                                </div>

                            </div>


                            <div>

                                <div class="item-form">

                                    <input type="submit" class="btn btn--standard res-mt50 " value="Appliquer">

                                </div>
                            </div>


                        </div>

                    </div>




                </fieldset>


            </form>

        </div>


        <div class="clearfix mbl block-table-stand">
            <table class="table-stand">
                <thead>
                    <tr>
                        <th>Numéro </th>
                        <th>Plan tarifaire</th>
                        <th>site</th>
                        <th class="txtcenter">Etat de la ligne</th>
                        <th class="txtcenter cell-small">Action</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>

                            <div class="block-position-cell">
                                <strong class="number-direction">0663123123</strong>

                                <span class="picto-15-radius bg-green-function"></span>

                            </div>

                        </td>

                        <td class="regular">Abonnement Fixe</td>
                        <td class="regular">Ghandi</td>
                        <td class="txtcenter hidden-tiny-cell"><span class="picto-15-radius bg-green-function"></span></td>
                        <td class="txtcenter cell-small cell-tiny-right">

                            <a href="#"><i class="icon ic-Improvement ic-FS-20  mr-0"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>

                            <div class="block-position-cell">
                                <strong class="number-direction">0663123123</strong>

                                <span class="picto-15-radius bg-green-function"></span>

                            </div>

                        </td>
                        <td class="regular">Abonnement Fixe</td>
                        <td class="regular">Ghandi</td>
                        <td class="txtcenter hidden-tiny-cell"><span class="picto-15-radius bg-red-function"></span></td>
                        <td class="txtcenter cell-small cell-tiny-right"><a href="#"><i class="icon ic-Improvement ic-FS-20  mr-0"></i></a></i></td>
                    </tr>



                    <tr>
                        <td>

                            <div class="block-position-cell">
                                <strong class="number-direction">0663123123</strong>

                                <span class="picto-15-radius bg-green-function"></span>

                            </div>

                        </td>

                        <td class="regular">Abonnement Fixe</td>
                        <td class="regular">Ghandi</td>
                        <td class="txtcenter hidden-tiny-cell"><span class="picto-15-radius bg-green-function"></span></td>
                        <td class="txtcenter cell-small cell-tiny-right"><a href="#"><i class="icon ic-Improvement ic-FS-20  mr-0"></i></a></i></td>
                    </tr>

                    <tr>
                        <td>

                            <div class="block-position-cell">
                                <strong class="number-direction">0663123123</strong>

                                <span class="picto-15-radius bg-green-function"></span>

                            </div>

                        </td>
                        <td class="regular">Abonnement Fixe</td>
                        <td class="regular">Ghandi</td>
                        <td class="txtcenter hidden-tiny-cell"><span class="picto-15-radius bg-red-function"></span></td>
                        <td class="txtcenter cell-small cell-tiny-right"><a href="#"><i class="icon ic-Improvement ic-FS-20  mr-0"></i></a></i></td>
                    </tr>

                    <tr>
                        <td>

                            <div class="block-position-cell">
                                <strong class="number-direction">0663123123</strong>

                                <span class="picto-15-radius bg-green-function"></span>

                            </div>

                        </td>

                        <td class="regular">Abonnement Fixe</td>
                        <td class="regular">Ghandi</td>
                        <td class="txtcenter hidden-tiny-cell"><span class="picto-15-radius bg-green-function"></span></td>
                        <td class="txtcenter cell-small cell-tiny-right"><a href="#"><i class="icon ic-Improvement ic-FS-20  mr-0"></i></a></i></td>
                    </tr>

                    <tr>
                        <td>

                            <div class="block-position-cell">
                                <strong class="number-direction">0663123123</strong>

                                <span class="picto-15-radius bg-green-function"></span>

                            </div>

                        </td>
                        <td class="regular">Abonnement Fixe</td>
                        <td class="regular">Ghandi</td>
                        <td class="txtcenter hidden-tiny-cell"><span class="picto-15-radius bg-red-function"></span></td>
                        <td class="txtcenter cell-small cell-tiny-right"><a href="#"><i class="icon ic-Improvement ic-FS-20  mr-0"></i></a></i></td>
                    </tr>

                    <tr>
                        <td>

                            <div class="block-position-cell">
                                <strong class="number-direction">0663123123</strong>

                                <span class="picto-15-radius bg-green-function"></span>

                            </div>

                        </td>

                        <td class="regular">Abonnement Fixe</td>
                        <td class="regular">Ghandi</td>
                        <td class="txtcenter hidden-tiny-cell"><span class="picto-15-radius bg-green-function"></span></td>
                        <td class="txtcenter cell-small cell-tiny-right"><a href="#"><i class="icon ic-Improvement ic-FS-20  mr-0"></i></a></i></td>
                    </tr>




                </tbody>
            </table>
            <a class="link-souligne fr" title="" href="#">Charger la suite</a>

        </div>
        <!---->





    </div>
</div>
