<div class="block-myInvoice">
    <div class="container">
        <a href="" class="link-wi mbms inbl"><i class="icon ic-left"></i>Retour</a>
        <div class="sslist-block">
            <h2 class="js-st-title simpletoggle-title simpletoggle-title--alt mb50 inbl">Ma facture</h2>
            <div class="simpletoggle-content sslist">
                <a href="#"><i class="icon ic-left"></i>Acceuil tableau de bord</a>
                <a href="#">Mon profil<i class="icon ic-right fr"></i></a>
                <a href="#">Vue 360°<i class="icon ic-right fr"></i></a>
                <a href="#">Mon parc<i class="icon ic-right fr"></i></a>
                <a href="#">Mes groupes<i class="icon ic-right fr"></i></a>
                <a href="#">Mes utilisateurs<i class="icon ic-right fr"></i></a>
            </div>
        </div>
        <div class="total-dette">
            <div class="grid-1-2">
                <div class="total-dette-content">
                    <h3 class="mbl">Total de la dette</h3>
                    <div class="info-alert">
                        <i class="icon ic-Text_alerts ic-FS-75"></i>
                        <p class="mod pbm"><small>Le non-paiement de votre facture à la date d'échéance peut entrainer la suspension de vos services</small></p>
                    </div>
                </div>
                <div class="total-dette-value">
                    <span>
                        1 000 099,00 DH
                    </span>
                </div>
            </div>
        </div>
        <div class="separator-l  mtm mbl"></div>
        <div class="liste-facture">
            <div class="liste-facture__item">
                <h3 class="mbl">Mes factures impayées</h3>
                <div>
                        <i class="ic-FS-60 icon ic-ok color-green-function"></i>Vous n'avez aucune facture à payer pour le moment
                </div>
                
            </div>
            <div class="liste-facture__item">
                <h3 class="mbm">Synthèse de facturation</h3>
                <form>
                    <fieldset>
                        <div class="table-facture table-liste w100">
                            <div class="table-facture__row">
                                <div class="table-facture__cell npcell w50">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell  w50 table-liste__date">
                                                Juin - 2016
                                                <span>20 factures</span>
                                            </div>
                                            <div class="table-facture__cell  w50 table-liste__montant">
                                                333 148.22 DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-facture__cell npcell">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell table-liste__etat w20">
                                                <i class="icon ic-done_modifier picto-valide"></i>
                                                <span> payée </span>
                                            </div>
                                            <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                                                <div class="dropdown-links">
                                                    <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                                    <div class="dropdown-links__contentr simpletoggle-content">
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-Document_stack"></i><span class="txt-width-icon">Toutes les factures</span></a>
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-document_zip"></i><span class="txt-width-icon">Télécharger les factures</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-facture__row">
                                <div class="table-facture__cell npcell w50">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell  w50 table-liste__date">
                                                Juin - 2016
                                                <span>20 factures</span>
                                            </div>
                                            <div class="table-facture__cell  w50 table-liste__montant">
                                                333 148.22 DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-facture__cell npcell">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell table-liste__etat w20">
                                                <i class="icon ic-Modifier_delete picto-erreur"></i>
                                                <span class="color-red"> Non payée </span>
                                            </div>
                                            <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                                                <div class="dropdown-links">
                                                    <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                                    <div class="dropdown-links__contentr simpletoggle-content">
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-Document_stack"></i><span class="txt-width-icon">Toutes les factures</span></a>
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-document_zip"></i><span class="txt-width-icon">Télécharger les factures</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-facture__row">
                                <div class="table-facture__cell npcell w50">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell  w50 table-liste__date">
                                                Juin - 2016
                                                <span>20 factures</span>
                                            </div>
                                            <div class="table-facture__cell  w50 table-liste__montant">
                                                333 148.22 DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-facture__cell npcell">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell table-liste__etat w20">
                                                <i class="icon ic-done_modifier picto-valide"></i>
                                                <span> payée </span>
                                            </div>
                                            <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                                                <div class="dropdown-links">
                                                    <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                                    <div class="dropdown-links__contentr simpletoggle-content">
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-Document_stack"></i><span class="txt-width-icon">Toutes les factures</span></a>
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-document_zip"></i><span class="txt-width-icon">Télécharger les factures</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-facture__row">
                                <div class="table-facture__cell npcell w50">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell  w50 table-liste__date">
                                                Juin - 2016
                                                <span>20 factures</span>
                                            </div>
                                            <div class="table-facture__cell  w50 table-liste__montant">
                                                333 148.22 DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-facture__cell npcell">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell table-liste__etat w20">
                                                <i class="icon ic-done_modifier picto-valide"></i>
                                                <span> payée </span>
                                            </div>
                                            <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                                                <div class="dropdown-links">
                                                    <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                                    <div class="dropdown-links__contentr simpletoggle-content">
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-Document_stack"></i><span class="txt-width-icon">Toutes les factures</span></a>
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-document_zip"></i><span class="txt-width-icon">Télécharger les factures</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-facture__row">
                                <div class="table-facture__cell npcell w50">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell  w50 table-liste__date">
                                                Juin - 2016
                                                <span>20 factures</span>
                                            </div>
                                            <div class="table-facture__cell  w50 table-liste__montant">
                                                333 148.22 DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-facture__cell npcell">
                                    <div class="o-table w100">
                                        <div class="table-facture__row ">
                                            <div class="table-facture__cell table-liste__etat w20">
                                                <i class="icon ic-done_modifier picto-valide"></i>
                                                <span> payée </span>
                                            </div>
                                            <div class="table-facture__cell txtright table-liste__actions mob-mbs w20">
                                                <div class="dropdown-links">
                                                    <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                                    <div class="dropdown-links__contentr simpletoggle-content">
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-Document_stack"></i><span class="txt-width-icon">Toutes les factures</span></a>
                                                        <a class="link-width-icon" href="#"><i class="icon  ic-document_zip"></i><span class="txt-width-icon">Télécharger les factures</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="link-souligne fr mbm" title="" href="#">Charger la suite</a>
                    </fieldset>
                </form>
            </div>
        </div>
        <a class="link-wi mbms" href="#"><i class="icon ic-top"></i>Retour en haut de page</a>
    </div>
</div>
