<div class="block block--n block-generique-ptl">
    <div class="container">
        <h3 class="n3-title--alt mbm">Consommation moyenne mensuelle</h3>
        <div class="grid-2-1 mbm">
            <div>
                <img alt="graphe" src="../img/contenus/graphe-2.gif"/>
            </div>
            <div class="block-relative hidden-tiny">
                <img class="block-absolute-bottom hidden-tiny" alt="visuel" src="../img/contenus/visuel-14.png">
            </div>
        </div>
    </div>
</div>