<div class="block-options mbm">
    <div class="container">
        <a class="link-wi mbms inbl" href=""><i class="icon ic-left"></i>Retour</a>
        <div class="sslist-block">
            <h2 class="mbl inbl">Mes options et services</h2>
        </div>
        <h3>Mes options activées</h3>
        <div class="toggle-option">
            <div class="toggle-option__item">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input3"/>
                <div class="cssAccordion-header mod ">
                    <div class="toggle-option__header">
                        <label class="cssAccordion-label" for="cssAccordion-input3"></label>
                        <div class="grid-2 items-option-active">
                            <div class="mob-w50" >
                                <h3 class="  n3-title--alt mob-w100 res-w80">Roaming ouvert</h3>
                            </div>
                            <div class="mob-w34 txtright">
                                <!-- <a  class="hidden-tiny">
                                    <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                    <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                </a>
                                <a href="#" class="visible-tiny">
                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                    <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                </a> -->
                                <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                    <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cssAccordion-body">
                    <div class="toggle-option__body">
                        <div class="w80 mob-larg">
                            <p class="mbm">Cette formule vous permet de passer et recevoir vos appels depuis l’étranger à votre convenance en dehors de votre forfait, votre consommation (ou celle de vos collaborateurs) sera reportée en supplément sur votre facture.</p>
                            <button class="btn"> Supprimer l'option</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-addOptions ">
        <div class="container">
            <h3 class="mbl">Gestion des services et options</h3>
        </div>
        <div class="toggle-add-option">
            <div class="toggle-add-option__item">
                <input type="radio" name="radiooption" class="cssAccordion-input" id="cssAccordion-input20" checked="checked"/>
                <div class="container cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input20"></label>
                    <div class="toggle-add-option__header">
                        <div class="grid-2">
                            <div class="mob-w65">
                                <h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Service Roaming</h3>
                            </div>
                            <div class="mob-w20 txtright">
                                <a href="#" class="js-header-toggle linkOpenOptions">
                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                    <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toggle-add-option__body cssAccordion-body">
                    <div class="container">
                        <div class="toggle-option">
                            <div class="toggle-option__item">
                                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input1"/>
                                <div  class="cssAccordion-header mod ">
                                    <div class="toggle-option__header">
                                        <label class="cssAccordion-label" for="cssAccordion-input1"></label>
                                        <div class="grid-2 items-option-active">
                                            <div class="mob-w50" >
                                                <h3 class="  n3-title--alt mob-w100 res-w80">Roaming ouvert</h3>
                                            </div>
                                            <div class="mob-w34 txtright">
                                                <!-- <a  class="hidden-tiny">
                                                    <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                                    <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                                </a>
                                                <a href="#" class="visible-tiny">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                                </a> -->
                                                <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cssAccordion-body">
                                    <div class="toggle-option__body">

                                        <div class="w80 mob-larg">

                                            <div class="mbm">

                                                <p class="mbm">Cette formule vous permet de passer et recevoir vos appels depuis l’étranger à votre convenance en dehors de votre forfait, votre consommation (ou celle de vos collaborateurs) sera reportée en supplément sur votre facture.</p>
                                                <button class="btn"> Supprimer l'option</button>

                                            </div>
                                            <div class="mbm">

                                                <h5 class="mbm"><i class="icon ic-right"></i>Option Roaming Tout-en-un 200 dh</h5>
                                                <div class="mlm">
                                                    <p class="mbm"><small>Cette option vous permet de bénéficier de  200 dh de solde et d'un bonus offert de 100 Dh en Roaming</small></p>
                                                    <a href="#addOptions1888" class="link-edite js-header-toggle">
                                                        <span class="edit btn btn--important">Activer l'option</span>
                                                        <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                                    </a>
                                                </div>
                                                <div class="js-blockEdite addOptions mlm" id="addOptions1888">

                                                    <div class="grid-2-tiny-1">

                                                        <div>
                                                            <h4 class="mbm">Activer l'option</h4>

                                                            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>

                                                            <input type="reset" value="Annuler" class="btn mrs">
                                                            <input type="submit" value="valider" class="btn btn--important inactive submit" disabled="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mbm">
                                                <h5 class="mbm"><i class="icon ic-right"></i>Option Roaming Tout-en-un 500 dh</h5>
                                                <div class="mlm">
                                                    <p  class="mbm" ><small>Cette option vous permet de bénéficier de  500 dh de solde et d'un bonus offert de 250 Dh en Roaming</small></p>

                                                    <a href="#addOptions18889" class="link-edite js-header-toggle">
                                                        <span class="edit btn ">Supprimer l'option</span>
                                                        <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                                    </a>
                                                </div>
                                                <div class="js-blockEdite addOptions mlm" id="addOptions18889">

                                                    <div class="grid-2-tiny-1">

                                                        <div>
                                                            <h4 class="mbm">Activer l'option</h4>

                                                            <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>

                                                            <input type="reset" value="Annuler" class="btn mrs">
                                                            <input type="submit" value="valider" class="btn btn--important submit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="toggle-option__item">
                                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input10"/>
                                <div  class="cssAccordion-header mod ">
                                    <div  class="toggle-option__header">
                                        <label class="cssAccordion-label" for="cssAccordion-input10"></label>
                                        <div class="grid-2 items-option-active">
                                            <div class="mob-w50" >
                                                <h3 class="  n3-title--alt mob-w100 res-w80">Roaming internet</h3>
                                            </div>
                                            <div class="mob-w34 txtright">
                                                <!-- <a  class="hidden-tiny">
                                                    <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                                    <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                                </a>
                                                <a href="#" class="visible-tiny">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                                </a> -->
                                                <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cssAccordion-body">
                                    <div class="toggle-option__body">

                                        <div class="w80 mob-larg">

                                            <div class="mbm">

                                                <p class="mbm">Cette formule vous permet de profiter d'une connexion internet depuis l'étranger, votre consommation (ou celle de vos collaborateurs) sera reportée en supplément sur votre facture.</p>

                                                <a href="#addOptions1" class="link-edite js-header-toggle">
                                                    <span class="edit btn btn--important">Activer l'option</span>
                                                    <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="js-blockEdite addOptions" id="addOptions1">

                                            <div class="grid-2-tiny-1">

                                                <div>
                                                    <h4 class="mbm">Activer l'option</h4>

                                                    <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>

                                                    <input type="reset" value="Annuler" class="btn mrs">
                                                    <input type="submit" value="valider" class="btn btn--important inactive submit" disabled="">
                                                </div>
                                            </div>
                                        </div>


                                    </div>



                                </div>
                            </div>
                            <div class="toggle-option__item">
                                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input14"/>
                                <div  class="cssAccordion-header mod ">
                                    <div  class="toggle-option__header">
                                        <label class="cssAccordion-label" for="cssAccordion-input14"></label>
                                        <div class="grid-2 items-option-active">
                                            <div class="mob-w50">
                                                <h3 class="  n3-title--alt mob-w100 res-w80">Roaming maitrisé</h3>
                                            </div>
                                            <div class="mob-w34 txtright">
                                                <!-- <a  class="hidden-tiny">
                                                    <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                                    <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                                </a>
                                                <a href="#" class="visible-tiny">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                                </a> -->
                                                <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cssAccordion-body">
                                    <div class="toggle-option__body">

                                        <div class="grid-2-tiny-1 w94">

                                            <div class="mbm">

                                                <p class="mbm">Cette formule vous permet de passer et recevoir vos appels depuis l’étranger à partir de votre forfait. Dés que ce dernier est épuisé, vous pouvez souscrire à des Pass Roaming ou effectuer des recharges pour continuer à profiter du service Roaming.</p>
                                                <a href="#addOptions2" class="link-edite js-header-toggle">
                                                    <span class="edit btn btn--important">Activer l'option</span>
                                                    <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                                </a>

                                            </div>


                                            <div class="mbm">

                                                <p><small>Liste des pays où le « Roaming maitrisé » est disponible : Afghanistan, Albanie, Algérie, Arménie, Belgique, Bermudes, Cameroun, Canada, République tchèque, Danemark, Egypte, Finlande, France, Allemagne, Grèce, Guinée Bissau, Guinée Conakry, Hongrie, Indonésie, Irak, Irlande, Israël, Italie, Côte d’Ivoire, Jordanie, Kenya, Koweït, Liechtenstein, Luxembourg, Madagascar, Mali, Malte, Maurice, Mauritanie, Moldavie, Pays-Bas, Nouvelle Zélande, Niger, Nigéria, Norvège, Pologne, Portugal, Qatar, Roumanie, Russie, Arabie Saoudite, Sénégal, Espagne, Suisse, Syrie, Tunisie, Turquie, Émirats arabes unis, Royaume-Uni, Ukraine, Etats-Unis, Yémen.</small></p>

                                            </div>

                                        </div>
                                        <div class="js-blockEdite addOptions" id="addOptions2">

                                            <div class="grid-2-tiny-1">

                                                <div>
                                                    <h4 class="mbm">Activer l'option</h4>

                                                    <p class="mbm">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>

                                                    <a href="#" class="btn js-blockEdite-close">Annuler</a>
                                                    <a href="#" class="btn btn--important">Valider</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="toggle-add-option__item">
                <input type="radio"  name="radiooption" class="cssAccordion-input" id="cssAccordion-input21"/>
                <div class="container cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input21"></label>
                    <div class="toggle-add-option__header">
                        <div class="grid-2">
                            <div class="mob-w65">
                                <h3 class="n3-title--alt"><i class="icon  ic-Internet ic-FS-40"></i>Options internet</h3>
                            </div>
                            <div class="mob-w20 txtright">
                                <a href="#" class="js-header-toggle linkOpenOptions">
                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                    <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toggle-add-option__body cssAccordion-body">
                    <div class="container">
                        <div class="toggle-option">
                            <div class="toggle-option__item">
                                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input16"/>
                                <div  class="cssAccordion-header mod ">
                                    <div class="toggle-option__header">
                                        <label class="cssAccordion-label" for="cssAccordion-input16"></label>
                                        <div class="grid-2 items-option-active">
                                            <div class="mob-w50" >
                                                <h3 class="  n3-title--alt mob-w100 res-w80">4 Go d'internet mobile</h3>
                                            </div>
                                            <div class="mob-w34 txtright">
                                                <!-- <a  class="hidden-tiny">
                                                    <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                                    <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                                </a>
                                                <a href="#" class="visible-tiny">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                                </a> -->
                                                <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cssAccordion-body">
                                    <div class="toggle-option__body">

                                        <div class="w80 mob-larg">

                                            <div class="mbm">

                                                <p class="mbm">Cette option vous permet de bénéficier de 4 Go d'internet sur mobile à <span> 50 Dh </span>.</p>
                                                <button class="btn"> Supprimer l'option</button>

                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="toggle-add-option__item">
                <input type="radio"  name="radiooption" class="cssAccordion-input" id="cssAccordion-input22"/>
                <div class="container cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input22"></label>
                    <div class="toggle-add-option__header">
                        <div class="grid-2">
                            <div class="mob-w65">
                                <h3 class="n3-title--alt"><i class="icon ic-call ic-FS-45"></i>Options de plafonnement</h3>
                            </div>
                            <div class="mob-w20 txtright">
                                <a href="#" class="js-header-toggle linkOpenOptions">
                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB"></i>
                                    <i class="cssAccordion-header-close ic-Arrow_down  color-white "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toggle-add-option__body cssAccordion-body">
                    <div class="container">
                        <div class="toggle-option">
                            <div class="toggle-option__item">
                                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input15"/>
                                <div  class="cssAccordion-header mod ">
                                    <div  class="toggle-option__header">
                                        <label class="cssAccordion-label" for="cssAccordion-input15"></label>
                                        <div class="grid-2 items-option-active">
                                            <div class="mob-w50" >
                                                <h3 class="  n3-title--alt mob-w100 res-w80">Option plafonnement</h3>
                                            </div>
                                            <div class="mob-w34 txtright">
                                                <!-- <a  class="hidden-tiny">
                                                    <span class="cssAccordion-header-close fs-18">Afficher le détail</span>
                                                    <span class="cssAccordion-header-open color-orangeW fs-18">Masquer le détail</span>
                                                </a>
                                                <a href="#" class="visible-tiny">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down  color-black "></i>
                                                </a> -->
                                                <a href="#blockOptionsoption1" class="js-header-toggle linkOpenOptions">
                                                    <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                                    <i class="cssAccordion-header-close ic-Arrow_down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cssAccordion-body">
                                    <div class="toggle-option__body">
                                        <div class="w80 mob-larg">
                                            <div class="mbm">
                                                <p class="mbm">Cette option vous permet de plafonner votre forfait à votre convenance à <span> 20 Dh / mois </span> </p>
                                                <button class="btn"> Supprimer l'option</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
