
<div class="block block--n block-generique-ptl hidden-tiny">

    <div class="container">

        <h2 class="o-mbl">Détail d'appel</h2>

        <form action="#" method="post"  class="form-parsley-validate mbm" novalidate>
            <fieldset title="">


                <div class="grid-2-1">


                    <div>

                        <div class="grid-2-tiny-1">

                            <div class="item-form">
                                <label>Du</label>
                                <div class="item-form-input item-form-datepicker">

                                    <input type="text" class="input-form zone-datepicker datepicker-icon" name="date-naissence" id="Date1"  placeholder="JJ/MM/AAAA" data-parsley-trigger="change" data-parsley-date data-parsley-error-message="La date n'est pas valide" required/>
                                </div>

                            </div>



                            <div class="item-form">
                                <label>Au</label>

                                <div class="item-form-input item-form-datepicker">
                                    <input type="text" class="input-form zone-datepicker datepicker-icon" name="date-naissence" id="Date2"  placeholder="JJ/MM/AAAA" data-parsley-trigger="change" data-parsley-date data-parsley-error-message="La date n'est pas valide" required/>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="block-bt-appel">

                        <div class="fl mrm">

                            <input type="submit" class="btn btn--standard mbs" value="Appliquer">
                        </div>

                        <div class="block-dropdown-links fl">

                            <div class="dropdown-links">
                                <span class="js-st-title dropdown-links__header simpletoggle-title">Télécharger</span>
                                <div class="dropdown-links__contentr simpletoggle-content">
                                    <a href="#"><i class="icon ic-PDF_file"></i><div class="txt-label">PDF</div></a>
                                    <a href="#"><i class="icon ic-Excel"></i><div class="txt-label">Excel</div></a>
                                    <a href="#">Visualiser</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </fieldset>

        </form>


        <div class="clearfix mbm block-table-stand block-detail-stand">
            <table class="table-stand">
                <thead>
                    <tr>
                        <th>N° Appelé</th>
                        <th>Type d’appel</th>
                        <th>Destination</th>
                        <th class="w20">Date d’émission</th>
                        <th>Heure</th>
                        <th>Durée (mns)</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">National</td>
                        <td class="regular">Destination</td>
                        <td class="regular">28/12/2016</td>
                        <td class="regular">17:37</td>
                        <td class="regular txtright">
                            0:00:00
                        </td>
                    </tr>

                    <tr>
                        <td><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">National</td>
                        <td class="regular">Destination</td>
                        <td class="regular">28/12/2016</td>
                        <td class="regular">17:37</td>
                        <td class="regular txtright">
                            0:00:00
                        </td>
                    </tr>

                    <tr>
                        <td><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">National</td>
                        <td class="regular">Destination</td>
                        <td class="regular">28/12/2016</td>
                        <td class="regular">17:37</td>
                        <td class="regular txtright">
                            0:00:00
                        </td>
                    </tr>


                    <tr>
                        <td><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">National</td>
                        <td class="regular">Destination</td>
                        <td class="regular">28/12/2016</td>
                        <td class="regular">17:37</td>
                        <td class="regular txtright">
                            0:00:00
                        </td>
                    </tr>


                    <tr>
                        <td><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">National</td>
                        <td class="regular">Destination</td>
                        <td class="regular">28/12/2016</td>
                        <td class="regular">17:37</td>
                        <td class="regular txtright">
                            0:00:00
                        </td>
                    </tr>


                    <tr>
                        <td><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">National</td>
                        <td class="regular">Destination</td>
                        <td class="regular">28/12/2016</td>
                        <td class="regular">17:37</td>
                        <td class="regular txtright">
                            0:00:00
                        </td>
                    </tr>

                    <tr>
                        <td><strong class="number-direction">0663123123</strong></td>
                        <td class="regular">National</td>
                        <td class="regular">Destination</td>
                        <td class="regular">28/12/2016</td>
                        <td class="regular">17:37</td>
                        <td class="regular txtright">
                            0:00:00
                        </td>
                    </tr>


                </tbody>
            </table>

            <a class="link-souligne fr mbm hidden-tiny" title="" href="#">Charger la suite</a>

            <a class="link-wi mbms" href="#"><i class="icon ic-top"></i>Retour en haut de page</a>

        </div>



    </div>
</div>
