<div class="plr">
    <div class="container">
        <a href="" class="link-wi mbms inbl"><i class="icon ic-left"></i>Retour</a>
        <h2 class="mbm">Détail de la ligne [0663000000]</h2>

        <div class="info-ligne mbl">
            <div class="info-ligne-row">
                <div>
                    <div class="info-ligne-item">
                        <h3 class="n3-title--alt mbm">Informations sur la ligne</h3>
                        <div>
                            <div class="fl">
                                <i class="icon ic-device_smart_phone ic-FS-70 ml-16"></i>
                            </div>
                            <div class="mod">
                                <p class="mb5">N° de la ligne : 0663121121
                                    <a href="#editnum1" class="js-popup-open">
                                        <i class="icon ic-Pencil "></i>
                                    </a>
                                </p>
                                <p class="mb5">Plan tarifaire : ABONNEMENT FIXE</p>
                                <p class="mb5">Etat de la ligne : <span class="picto-15-radius bg-green-function"></span></p>
                                <p class="mb5">Service : TETE DE LIGNE PRI </p>
                                <p class="mb5">Site : CAM YAACOUB EL MANSOUR </p>
                                <p class="mb5">Groupe : NA</p>
                                <a href="#" title="" class="link-picto-souligne mb5 simpletoggle-title js-st-title dateend">Date fin de contrat</a>
                                <div class="simpletoggle-content mbl">
                                    Date fin de contrat : 05/01/2016
                                </div>
                                <div class="mtm">
                                    <a href="#addGroup" class="link-edite js-header-toggle">
                                        <span class="edit btn btn--important mrs mbs"> Associer à un groupe</span>
                                        <span class="close pbs"><i class="icon ic-Delete"></i>Fermer</span>
                                    </a>
                                    <a href="#blockPUK" class="link-click-hidden btn btn--important js-header-toggle" >Code PUK</a>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div  class="info-ligne-item second">
                        <h3 class="n3-title--alt mbm">Solde actuel (au 12/06/2016 à 10h30)</h3>
                        <p class="mb5"><span>0h 22min 12s </span>nationales</p>
                        <p class="mb5"><span>0h 22min 12s </span>internationales</p>
                        <p class="mb5"><span>5 DH </span>de votre forfait</p>
                        <p class="mb5"><span>50 DH </span>de votre solde de recharge</p>

                    </div>

                </div>



                <div class="js-blockEdite" id="addGroup">
                    <div class="form-edit-profil">
                        <div class="inside">
                            <h4>Associer à un groupe</h4>
                            <form>
                                <fieldset>
                                    <div class="items-form-row grid-3-tiny-1">


                                        <div class="item-form">
                                            <label class="label">Groupe</label>
                                            <div class="item-form-input">
                                                <select name="test" class="dropdown-black">
                                                    <option>Elganadi</option>
                                                    <option>Elganadi</option>
                                                    <option>Elganadi</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="items-form-row">
                                        <input type="reset" value=" Annuler" class="btn js-header-toggle mrs" data-close="#blockEditeadresse" />
                                        <input type="submit" value="Valider" class="btn btn--important" />
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class=" block bg-black color-white block-in-container js-blockEdite" id="blockPUK">
        <div class="container">
            <p>Votre code Puk : <span class="fs-24">378590</span></p>
        </div>
    </div>
</div>
<div style="display:none;">
    <div class=" changeuser popin-block" id="editnum1">
        <div class="container-popup">
            <h2 class="mbl">Changer l'utilisateur</h2>
            <form class="form-parsley-validate" novalidate>
                <fieldset>
                    <p class="mbl">Ghanadi hicham, <span class="number-direction">0663121121</span></p>
                    <div class="grid-2-tiny-1">

                        <div class="item-form mbm">
                            <label for="fullName">Nom<span>*</span></label>
                            <div class="item-form-input">
                                <input type="text" class="input-form" name="fullName" id="fullName" required data-parsley-trigger="input">
                            </div>
                        </div>
                    </div>
                    <div class="items-form-row ">
                        <input type="reset" value="Annuler" class="btn mrs">
                        <input type="submit" value="Envoyer" class="btn btn--important inactive submit" disabled>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>