<div class="block block-pdv-list">
  <div class="scrollable" scroll [nsOptions]="nsOptions">
    <div class="agence mbms" *ngFor="let agence of generate(20)">
      <article class="grid-1-3">
        <div class="vid">
          <img src="assets/imgs/contenus/agence.jpg" alt="Orange agence" title="Orange agence">
        </div>
        <div class="infos">
          <p class="name mb5">Agence 2 Mars,</p>
          <p class="address mb5">117, Boulevard 2 Mars Casablanca</p>
          <p class="horaire mb5">de 10h00 à 19h30</p>
          <p class="telephone mb5">Tél. : 0520480651/0520480651</p>
        </div>
      </article>
    </div>
  </div>
</div>
