<section class="block block-vos-services bg-gray7" id="avantages">
    <div class="container">
        <h2>Avantages</h2>
        <div class="grid-4-tiny-1 items-links-service">
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-bill ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt ">Performance</h3>
                </a>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-Child_Protection ic-FS-75 mbs"></i>

                    <h3 class="n3-title--alt ">Disponibilité</h3>
                </a>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-My_Orange ic-FS-75 mbs"></i>

                    <h3 class="n3-title--alt ">Agilité</h3>
                </a>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
            </article>
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-Inbox ic-FS-75 mbs"></i>

                    <h3 class="n3-title--alt ">Accompagnement</h3>
                </a>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
            </article>
        </div>
    </div>
</section>
