<div class="block">
    <div class="container">
        <div class="grid-3-tiny-1">
            <article class="mbm item-package-type withprice">
                <h2 class="mbm">Forfait H@ny net</h2>
                <p class="mbm">Connecté comme jamais !</p>
                <ul class="list-puce-ok mbs">
                    <li> 10 Go d’internet</li>
                    <li> SMS illimité vers le national</li>
                    <li> 30H vers le numéro préféré Orange</li>
                    <li> 1H vers le national et l’étranger (Zone 1)</li>
                </ul>
                <div class="dom-package-price">
                    <div class="package-price mbm">
                        <div>
                            <p class="package-price__price"><span><span class="price">99 </span> DH/mois </span></p>
                        </div>
                    </div>
                    <a href="#"  role="button" class="btn btn--important">Découvrir</a>
                </div>
            </article>
            <article class="mbm item-package-type withprice">
                <h2 class="mbm">Forfait Hany</h2>
                <p class="mbm">Encore plus de générosité !</p>
                <ul class="list-puce-ok mbs">
                    <li> 8H vers le national et l’étranger (Zone 1)</li>
                    <li> 30H vers le numéro préféré Orange</li>
                    <li> 500 SMS</li>
                    <li> 1 Go d’internet</li>
                </ul>
                <div class="dom-package-price">
                    <div class="package-price mbm">
                        <div>
                            <p class="package-price__price"><span><span class="price">99 </span> DH/mois </span></p>
                        </div>
                    </div>
                    <a href="#"  role="button" class="btn btn--important">Découvrir</a>
                </div>
            </article>
            <article class="mbm item-package-type withprice">
                <h2 class="mbm">Forfait Illimité</h2>
                <p class="mbm">C’est fait pour vous !</p>
                <ul class="list-puce-ok mbs">

                    <li> Appels et SMS illimité vers le national</li>
                    <li> 5 Go d’internet</li>
                    <li> 1H vers l’étranger (Zone 1)</li>
                    <li> 1H en roaming en local (Zone Roaming) et vers le Maroc</li>

                </ul>
                <div class="dom-package-price">
                    <div class="package-price mbm">
                        <div>
                            <p class="mbs"><span>A partir de :</span></p>
                            <p class="package-price__price"><span><span class="price">290 </span> DH/mois </span></p>
                        </div>
                    </div>
                    <a href="#"  role="button" class="btn btn--important">Découvrir</a>
                </div>
            </article>
        </div>
    </div>
</div>