<div class="block">
    <div class="container">
        <h2 class="mbm">Pourquoi Orange Maroc?</h2>
        <div class="grid-2-tiny-1">

            <div class="item-block-av o-mbl">

                <div class="fl mrm"><i class="icon ic-Control_Centre ic-FS-65"></i></div>

                <div class="mod">
                    <h3 class="n3-title--alt mbm">Le centre de relation clientèle est à votre disposition de 9h à 00h</h3>
                    <p class="mbs">Orange est toujours à votre écoute et met à votre disposition plusieurs moyens pour réaliser vos opérations sans vous déplacer</p>
                    <a href="#"  role="button" class="btn btn-pos">En savoir plus</a>
                </div>
            </div>

            <div class="item-block-av o-mbl">

                <div class="fl mrm"><i class="icon ic-Control_Centre ic-FS-65"></i></div>

                <div class="mod">
                    <h3 class="n3-title--alt mbm">Des bons plans permanents pour communiquer un max</h3>
                    <p class="mbs">Profitez de promotions exeptionnelles tout au long de l'année.</p>
                    <a href="#"  role="button" class="btn btn-pos">En savoir plus</a>
                </div>
            </div>

            <div class="item-block-av o-mbl">

                <div class="fl mrm"><i class="icon ic-G2 ic-FS-65 mts-10"></i></div>

                <div class="mod">
                    <h3 class="n3-title--alt mbm">Des offres compatibles 4G sans frais supplémentaires</h3>
                    <p class="mbs">Avec la 4G, découvrez de nouveaux usages pour profiter pleinement de votre contenu multimédia, où que vous soyez. </p>
                    <a href="#"  role="button" class="btn btn-pos">En savoir plus</a>
                </div>
            </div>

            <div class="item-block-av o-mbl">

                <div class="fl mrm"><i class="icon ic-My_Orange ic-FS-65"></i></div>

                <div class="mod">
                    <h3 class="n3-title--alt mbm">Orange et moi: l’essentiel d'Orange dans votre poche</h3>
                    <p class="mbs">Consultez votre solde, Rechargez facilement votre ligne , et payez vos factures en toute simplicité et bien plus encore</p>
                    <div  class="btn-pos store-mobile">
                        <a href="#" class="mrs mob-mbs"><img src="../img/contenus/app-store.jpg" alt="visuel"></a>
                        <a href="#" class="mrs mob-mbs"><img src="../img/contenus/google-play.jpg" alt="visuel"></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
