<section class="block block-tarifs" id="tarifs">
    <div class="container">
        <h2 class="mbm">Tarifs</h2>
        <div class="hidden-tiny">
            <table class="table-internet2">
                <thead>
                    <tr>
                        <th>256 Kbps</th>
                        <th>1 Mbps</th>
                        <th>2 Mbps</th>
                        <th>4 Mbps</th>
                        <th>6 Mbps</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul class="table-internet__list">
                                <li> Débit garanti symétrique de 256 Kbps  </li>
                                <li> Débit allant jusqu'à 6 Mbps </li>
                                <li> 4 adresses *IP fixes publiques</li>
                                <li> 1 nom de domaine</li>
                            </ul>
                        </td>
                        <td>
                            <ul class="table-internet__list">
                                <li> Débit garanti symétrique de 256 Kbps  </li>
                                <li> Débit allant jusqu'à 6 Mbps </li>
                                <li> 4 adresses *IP fixes publiques</li>
                                <li> 1 nom de domaine</li>
                            </ul>
                        </td>
                        <td>
                            <ul class="table-internet__list">
                                <li> Débit garanti symétrique de 256 Kbps  </li>
                                <li> Débit allant jusqu'à 6 Mbps </li>
                                <li> 4 adresses *IP fixes publiques</li>
                                <li> 1 nom de domaine</li>
                            </ul>
                        </td>
                        <td>
                            <ul class="table-internet__list">
                                <li> Débit garanti symétrique de 256 Kbps  </li>
                                <li> Débit allant jusqu'à 6 Mbps </li>
                                <li> 4 adresses *IP fixes publiques</li>
                                <li> 1 nom de domaine</li>
                            </ul>
                        </td>
                        <td>
                            <ul class="table-internet__list">
                                <li> Débit garanti symétrique de 256 Kbps  </li>
                                <li> Débit allant jusqu'à 6 Mbps </li>
                                <li> 4 adresses *IP fixes publiques</li>
                                <li> 1 nom de domaine</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-internet2__montant">
                            999 DH HT
                        </td>
                        <td class="table-internet2__montant">
                            999 DH HT
                        </td>
                        <td class="table-internet2__montant">
                            999 DH HT
                        </td>
                        <td class="table-internet2__montant">
                            999 DH HT
                        </td>
                        <td class="table-internet2__montant">
                            999 DH HT
                        </td>
                    </tr>
                    <tr>
                        <td class="txtcenter">
                            <a href="#"  role="button" class="btn">Commander</a>
                        </td>
                        <td class="txtcenter">
                            <a href="#"  role="button" class="btn">Commander</a>
                        </td>
                        <td class="txtcenter">
                            <a href="#"  role="button" class="btn">Commander</a>
                        </td>
                        <td class="txtcenter">
                            <a href="#"  role="button" class="btn">Commander</a>
                        </td>
                        <td class="txtcenter">
                            <a href="#"  role="button" class="btn">Commander</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-internet clearfix visible-tiny mbm">
            <div class="table-internet__item">
                <div class="table-internet__contener" >
                    <div class="table-internet__group">
                        <div class="table-internet__row">
                            <div class="table-internet__cell table-title-body table-internet__hide-d" ></div>
                            <div class="table-internet__cell table-title-header">256 Kbps</div>
                        </div>
                    </div>
                    <div class="table-internet__row">
                        <div class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Internet Haut débit</div>
                        <div class="table-internet__cell">
                            <div>
                                <ul class="table-internet__list">
                                    <li> Débit garanti symétrique de 256 Kbps  </li>
                                    <li> Débit allant jusqu'à 6 Mbps </li>
                                    <li> 4 adresses *IP fixes publiques</li>
                                    <li> 1 nom de domaine</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="table-internet__row"  >
                        <div  class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Frais mensuels</div>
                        <div  class="table-internet__cell">
                            <div class="table-internet__montant">
                                999 DH HT
                            </div>
                            <div class="table-internet__action">
                                <a href="#"  role="button" class="btn">Commander</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="table-internet__item">
                <div class="table-internet__contener" >
                    <div class="table-internet__group">
                        <div class="table-internet__row">
                            <div class="table-internet__cell table-title-body table-internet__hide-d" ></div>
                            <div class="table-internet__cell table-title-header">1 Mbps</div>
                        </div>
                    </div>
                    <div class="table-internet__row">
                        <div class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Internet Haut débit</div>
                        <div class="table-internet__cell">
                            <div>
                                <ul class="table-internet__list">
                                    <li> Débit garanti symétrique de 256 Kbps  </li>
                                    <li> Débit allant jusqu'à 6 Mbps </li>
                                    <li> 4 adresses *IP fixes publiques</li>
                                    <li> 1 nom de domaine</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="table-internet__row"  >
                        <div  class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Frais mensuels</div>
                        <div  class="table-internet__cell">
                            <div class="table-internet__montant">
                                2499 DH HT
                            </div>
                            <div class="table-internet__action">
                                <a href="#"  role="button" class="btn">Commander</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="table-internet__item">
                <div class="table-internet__contener" >
                    <div class="table-internet__group">
                        <div class="table-internet__row">
                            <div class="table-internet__cell table-title-body table-internet__hide-d" ></div>
                            <div class="table-internet__cell table-title-header">2 Mbps</div>
                        </div>
                    </div>
                    <div class="table-internet__row">
                        <div class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Internet Haut débit</div>
                        <div class="table-internet__cell">
                            <div>
                                <ul class="table-internet__list">
                                    <li> Débit garanti symétrique de 256 Kbps  </li>
                                    <li> Débit allant jusqu'à 6 Mbps </li>
                                    <li> 4 adresses *IP fixes publiques</li>
                                    <li> 1 nom de domaine</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="table-internet__row"  >
                        <div  class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Frais mensuels</div>
                        <div  class="table-internet__cell">
                            <div class="table-internet__montant">
                                3999 DH HT
                            </div>
                            <div class="table-internet__action">
                                <a href="#"  role="button" class="btn">Commander</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="table-internet__item">
                <div class="table-internet__contener" >
                    <div class="table-internet__group">
                        <div class="table-internet__row">
                            <div class="table-internet__cell table-title-body table-internet__hide-d" ></div>
                            <div class="table-internet__cell table-title-header">4 Mbps</div>
                        </div>
                    </div>
                    <div class="table-internet__row">
                        <div class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Internet Haut débit</div>
                        <div class="table-internet__cell">
                            <div>
                                <ul class="table-internet__list">
                                    <li> Débit garanti symétrique de 256 Kbps  </li>
                                    <li> Débit allant jusqu'à 6 Mbps </li>
                                    <li> 4 adresses *IP fixes publiques</li>
                                    <li> 1 nom de domaine</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="table-internet__row"  >
                        <div  class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Frais mensuels</div>
                        <div  class="table-internet__cell">
                            <div class="table-internet__montant">
                                4699 DH HT
                            </div>
                            <div class="table-internet__action">
                                <a href="#"  role="button" class="btn">Commander</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="table-internet__item">
                <div class="table-internet__contener" >
                    <div class="table-internet__group">
                        <div class="table-internet__row">
                            <div class="table-internet__cell table-title-body table-internet__hide-d" ></div>
                            <div class="table-internet__cell table-title-header">6 Mbps</div>
                        </div>
                    </div>
                    <div class="table-internet__row">
                        <div class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Internet Haut débit</div>
                        <div class="table-internet__cell">
                            <div>
                                <ul class="table-internet__list">
                                    <li> Débit garanti symétrique de 256 Kbps  </li>
                                    <li> Débit allant jusqu'à 6 Mbps </li>
                                    <li> 4 adresses *IP fixes publiques</li>
                                    <li> 1 nom de domaine</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="table-internet__row"  >
                        <div  class="table-internet__cell table-title-body bg-gray3 txtcenter table-internet__hide-d">Frais mensuels</div>
                        <div  class="table-internet__cell">
                            <div class="table-internet__montant">
                                7999 DH HT
                            </div>
                            <div class="table-internet__action">
                                <a href="#"  role="button" class="btn">Commander</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="items-more">
            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input100">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input100"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbm">Les détails de l'offre</h3>

                </div>
                <div class="item-more__content cssAccordion-body">
                    This is Photoshop's version  of Lorem Ipsum.
                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                    nisi elit consequat ipsum.
                </div>
            </div>
        </div>
    </div>
</section>
