<div class="block">
    <div class="container">
        <div class="grid-3-tiny-1">
            <article class="mbm item-package-type withbtn">
                <h2 class="mbm">Carte Orange 1</h2>
                <p class="mbm">Un max d’internet sur ton smartphone en plus des SMS et appels</p>
                <ul class="list-puce-ok mbs">
                    <li> Une facturation à la SECONDE</li>
                    <li> Un X4 DIMA à partir de 5 Dh</li>
                    <li> Des recharges Internet sur mobile à partir de 5 Dh</li>
                    <li> Des promotions régulières et uniques</li>
                </ul>
                <div class="item-bottom">
                    <a href="#"  role="button" class="btn btn--important">Découvrir</a>
                </div>
            </article>


            <article class="mbm item-package-type withbtn">
                <h2 class="mbm">Carte Orange 2</h2>
                <p class="mbm">Un max d’internet sur ton smartphone en plus des SMS et appels</p>
                <ul class="list-puce-ok mbs">

                    <li> Une facturation à la SECONDE</li>
                    <li> Un X4 DIMA à partir de 5 Dh</li>
                    <li> Des recharges Internet sur mobile à partir de 5 Dh</li>
                    <li> Des promotions régulières et uniques</li>

                </ul>
                <div class="item-bottom">
                    <a href="#"  role="button" class="btn btn--important">Découvrir</a>
                </div>
            </article>


            <article class="mbm item-package-type withbtn">
                <h2 class="mbm">Carte Orange 3</h2>
                <p class="mbm">Un max d’internet sur ton smartphone en plus des SMS et appels</p>
                <ul class="list-puce-ok mbs">
                    <li> Une facturation à la SECONDE</li>
                    <li> Un X4 DIMA à partir de 5 Dh</li>
                    <li> Des recharges Internet sur mobile à partir de 5 Dh</li>
                    <li> Des promotions régulières et uniques</li>
                </ul>
                <div class="item-bottom">
                    <a href="#"  role="button" class="btn btn--important">Découvrir</a>
                </div>
            </article>


        </div>
    </div>

</div>