<div class="block block-nos-mobiles block--n">
    <div class="container">


        <div class="block-content__item mbl">
            <a class="js-st-title block-link-search-mobile bg-black" title="" href="#">Affinez votre recherche</a>
            <div class="simpletoggle-content block-content-search-mobile" style="display: none;">

                <form>


                    <div class="grid-3-tiny-1">


                        <div class="mbs">

                            <p class="fs-18 mbs">Quel budget ?</p>
                            <div>
                                <div id="price_bar" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a href="#" class="ui-slider-handle ui-state-default ui-corner-all"></a></div>
                                <span><input type="text" class="amount_text" id="amount_label" value="1300 DHS"></span>
                            </div>

                        </div>


                        <div class="mbs">

                            <p class="fs-18 mbs">Point fédilité</p>

                            <div>
                                <div id="points_bar" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a href="#" class="ui-slider-handle ui-state-default ui-corner-all"></a></div>
                                <span><input type="text" class="amount_text" id="amount_points_label" value="1300 DHS"></span>
                            </div>
                        </div>


                        <div>

                            <div class="item-form">
                                <label>Promotions</label>
                                <select name="promo" class="dropdown-black">
                                    <option value="forfait hany">Forfait hany</option>
                                    <option value="forfait hany">Forfait hany</option>
                                    <option value="forfait hany">Forfait hany</option>
                                </select>
                            </div>

                        </div>


                    </div>

                    <div class="grid-2-tiny-1">

                        <div class="block-border-item">

                            <p class="fs-18 mbs">Nos marques</p>

                            <div class="tiny-1">

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-m-1" name="marques">
                                    <label for="checkbox-m-1" class="option">Samsung</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-m-2" name="marques">
                                    <label for="checkbox-m-2" class="option">Alcatel</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-m-3" name="marques">
                                    <label for="checkbox-m-3" class="option">Sony</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-m-4" name="marques">
                                    <label for="checkbox-m-4" class="option">Appel</label>
                                </div>

                            </div>

                            <p class="fs-18 mbs">Options</p>

                            <div class="tiny-1">

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-o-1" name="options">
                                    <label for="checkbox-o-1" class="option">3G</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-o-2" name="options">
                                    <label for="checkbox-o-2" class="option">Appareil photo 8Mp </label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-o-3" name="options">
                                    <label for="checkbox-o-3" class="option">Bluetooth</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-o-4" name="options">
                                    <label for="checkbox-o-4" class="option">GPS</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-o-5" name="options">
                                    <label for="checkbox-o-5" class="option">Mémoire 2Go et plus</label>
                                </div>

                            </div>

                        </div>


                        <div>

                            <p class="fs-18 mbs">Ecran</p>

                            <div class="tiny-1">

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-e-1" name="ecran">
                                    <label for="checkbox-e-1" class="option">4” et plus</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-e-2" name="ecran">
                                    <label for="checkbox-e-2" class="option">entre 4” et 5” Sony</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-e-3" name="ecran">
                                    <label for="checkbox-e-3" class="option">5,5” et plus</label>
                                </div>

                            </div>

                            <p class="fs-18 mbs">Système</p>

                            <div class="tiny-1">

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-s-1" name="systeme">
                                    <label for="checkbox-s-1" class="option">Androïd</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-s-2" name="systeme">
                                    <label for="checkbox-s-2" class="option">Nokia OS</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-s-3" name="systeme">
                                    <label for="checkbox-s-3" class="option">Windows Phone</label>
                                </div>

                                <div class="form-type-checkbox mrm mbs">
                                    <input type="checkbox" id="checkbox-s-4" name="systeme">
                                    <label for="checkbox-s-4" class="option">iOS</label>
                                </div>

                            </div>

                        </div>

                    </div>


                </form>
            </div>
        </div>

        <div class="tab-line">
            <ul class="list-inline type-mobile-list">
                <li class="inbl mrm"><a href="#items-mobile1"><span>Sélection Smartphones</span></a></li>
                <li class="inbl "><a href="#items-mobile2">Nouveauté</a></li>
            </ul>
            <select class="type-mobile-select dropdown-black">
                <option class="inbl mrm" value="#items-mobile1">Sélection Smartphones</option>
                <option class="inbl" value="#items-mobile2" >Nouveauté</option>
            </select>
            <div class="separator mtm mbl"></div>
            <div class="grid-4-tiny-1 items-mobile" id="items-mobile1">
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile1.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 3</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1" name="genre">
                                <label for="checkbox-1" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile2.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy A5 2016</a></h3>
                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-2" name="genre">
                                <label for="checkbox-2" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile3.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">iPhone 6S 128Go Pink</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-3" name="genre">
                                <label for="checkbox-3" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile4.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy S5</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-4" name="genre">
                                <label for="checkbox-4" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile1.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 3</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-5" name="genre">
                                <label for="checkbox-5" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile2.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy A5 2016</a></h3>
                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-6" name="genre">
                                <label for="checkbox-6" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile3.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">iPhone 6S 128Go Pink</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-7" name="genre">
                                <label for="checkbox-7" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile4.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy S5</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-8" name="genre">
                                <label for="checkbox-8" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile1.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 3</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-9" name="genre">
                                <label for="checkbox-9" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile2.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy A5 2016</a></h3>
                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-10" name="genre">
                                <label for="checkbox-10" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile3.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">iPhone 6S 128Go Pink</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-11" name="genre">
                                <label for="checkbox-11" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile4.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy S5</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-12" name="genre">
                                <label for="checkbox-12" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="grid-4-tiny-1 items-mobile" id="items-mobile2">
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile1.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 31111</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-1" name="genre-1">
                                <label for="checkbox-1-1" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile2.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy A5 2016</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-2" name="genre-1">
                                <label for="checkbox-1-2" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile3.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">iPhone 6S 128Go Pink</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-3" name="genre-1">
                                <label for="checkbox-1-3" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile4.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy S5</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-4" name="genre-1">
                                <label for="checkbox-1-4" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile1.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 3</a></h3>
                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-5" name="genre-1">
                                <label for="checkbox-1-5" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile2.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy A5 2016</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-6" name="genre-1">
                                <label for="checkbox-1-6" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile3.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">iPhone 6S 128Go Pink</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-7" name="genre-1">
                                <label for="checkbox-1-7" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile4.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy S5</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-8" name="genre-1">
                                <label for="checkbox-1-8" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile3.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">iPhone 6S 128Go Pink</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-9" name="genre-1">
                                <label for="checkbox-1-9" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile4.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy S5</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-10" name="genre-1">
                                <label for="checkbox-1-10" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile3.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">iPhone 6S 128Go Pink</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-11" name="genre-1">
                                <label for="checkbox-1-11" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="item-mobile mbl">
                    <div class="visual"><a href="#">
                            <img alt="" src="../img/contenus/mobile4.png"  class="mbm"/>
                        </a></div>
                    <div class="feature">
                        <h3 class="n3-title--alt"><a href="#">Samsung Galaxy S5111</a></h3>

                        <div class="mbm lam-lebel">
                            <span class="lebel">Discount</span>
                        </div>

                        <div class="prices mbs">
                            <p>A partir:</p>
                            <p class="old-price">129.99 </p>
                            <p  class="s-price">98.00MAD</p>
                        </div>
                        <a href="#"  role="button" class="btn btn--standard mbm">Details</a>
                        <div>
                            <div class="form-type-checkbox">
                                <input type="checkbox" id="checkbox-1-12" name="genre-1">
                                <label for="checkbox-1-12" class="option">Comparer</label>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <section  class="txtcenter block">
            <ul class="pager">
                <li class="pager__item "><a href="#" class="prev"><i class="icon ic-left"></i></a></li>
                <li class="pager__item "><a href="#">1</a></li>
                <li class="pager__item "><span class="active">2</span></li>
                <li class="pager__item"><a href="#">3</a></li>
                <li class="pager__item"><a href="#">4</a></li>
                <li class="pager__item"><a href="#">5</a></li>
                <li class="pager__item"><a href="#" class="next"><i class="icon ic-right"></i></a></li>
            </ul>
        </section>

        <a class="link-wi mbms fl" href="#"><i class="icon ic-top"></i>Retour en haut de page</a>

    </div>
</div>
