<div class="block-compare bg-black">
    <div class="container">

        <div id="js-content-click" class="mts" style="display: none;">

            <p class="color-white mbm">Comparez ces appareils</p>

            <div class="grid-3-tiny-1">

                <div class="block-compare__item o-mbl">

                    <div class="fl mrm">

                        <img src="../img/contenus/b-visuel-9.png" alt="visuel">
                    </div>


                    <div class="mod w65 pbs">
                        <p>Samsung S6</p>
                        <p>Edge Noir - Gris</p>
                    </div>

                    <a class="link-close-compare" href="#"><i class="ic-Delete color-black ic-FS-12"></i></a>

                </div>

                <div class="block-compare__item o-mbl">

                    <div class="fl mrm">

                        <img src="../img/contenus/b-visuel-9.png" alt="visuel">
                    </div>


                    <div class="mod w65 pbs">
                        <p>Samsung S6</p>
                        <p>Edge Noir - Gris</p>
                    </div>

                    <a class="link-close-compare" href="#"><i class="ic-Delete color-black ic-FS-12"></i></a>

                </div>

                <div class="block-compare__item o-mbl">

                    <div class="fl mrm">

                        <img src="../img/contenus/b-visuel-9.png" alt="visuel">
                    </div>


                    <div class="mod w65 pbs">
                        <p>Samsung S6</p>
                        <p>Edge Noir - Gris</p>
                    </div>

                    <a class="link-close-compare" href="#"><i class="ic-Delete color-black ic-FS-12"></i></a>

                </div>

            </div>
        </div>

        <div class="block-compare__click">



            <a  role="button" class="btn btn--bb btn--ms mrs">Effacer la sélection</a>
            <a  role="button" class="btn btn--bb btn--important btn--ms mrs link-last-m0 js-popup-open" href="#inline_po-pup">Comparer</a>
            <div class="block-link-click-picto">
                <a id="js-click-picto" class="link-click-picto" href="#">
                    <i class="ic-top color-white ic-FS-25"></i>
                </a>
            </div>

            <div style="display:none;">

                <div class="popup-compare popin-block" id="inline_po-pup">
                    <div class="container-popup">

                        <h2 class="mbl">Comparaison des appareils </h2>
                        <div class="grid-3-tiny-1 mbm ml150">

                            <div class="item-mobile mbm">
                                <div class="visual">
                                    <a href="#">
                                        <img class="mbm" src="../img/contenus/b-visuel-10.png" alt="">
                                    </a>
                                </div>
                                <div class="feature">
                                    <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 3</a></h3>
                                </div>
                                <div class="prices-detail">
                                    <div class="prices mbs">
                                        <p>A partir:</p>
                                        <p class="old-price">129.99 </p>
                                        <p class="s-price">98.00MAD</p>
                                    </div>
                                    <a  role="button" class="btn btn--standard " href="#">Details</a>
                                </div>
                            </div>

                            <div class="item-mobile mbm">
                                <div class="visual"><a href="#">
                                        <img class="mbm" src="../img/contenus/b-visuel-10.png" alt="">
                                    </a></div>
                                <div class="feature">
                                    <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 3</a></h3>
                                </div>
                                <div class="prices-detail">
                                    <div class="prices mbs">
                                        <p>A partir:</p>
                                        <p class="old-price">129.99 </p>
                                        <p class="s-price">98.00MAD</p>
                                    </div>
                                    <a  role="button" class="btn btn--standard " href="#">Details</a>
                                </div>
                            </div>
                            <div class="item-mobile mbm">
                                <div class="visual">
                                    <a href="#">
                                        <img class="mbm" src="../img/contenus/b-visuel-10.png" alt="">
                                    </a>
                                </div>
                                <div class="feature">
                                    <h3 class="n3-title--alt"><a href="#">Alcatel One Touch Pixi 3</a></h3>
                                </div>
                                <div class="prices-detail">
                                    <div class="prices mbs">
                                        <p>A partir:</p>
                                        <p class="old-price">129.99 </p>
                                        <p class="s-price">98.00MAD</p>
                                    </div>
                                    <a  role="button" class="btn btn--standard " href="#">Details</a>
                                </div>
                            </div>
                        </div>


                        <div class="items-more">
                            <div class="item-more">
                                <input type="checkbox" id="cssAccordion-input1" class="cssAccordion-input">
                                <div class="item-more__title cssAccordion-header">
                                    <label for="cssAccordion-input1" class="cssAccordion-label"></label>
                                    <a class="fr" href="#">
                                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                                    </a>
                                    <p>Géneral</p>

                                </div>
                                <div class="item-more__content cssAccordion-body">
                                    This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum.
                                </div>
                            </div>
                            <div class="item-more">
                                <input type="checkbox" id="cssAccordion-input2" class="cssAccordion-input">
                                <div class="item-more__title cssAccordion-header">
                                    <label for="cssAccordion-input2" class="cssAccordion-label"></label>
                                    <a class="fr" href="#">
                                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                                    </a>
                                    <p>Messaging</p>

                                </div>
                                <div class="item-more__content cssAccordion-body">
                                    <div class="block-table-stand">
                                        <table class="table-stand table-stand-label-50">

                                            <tbody>

                                                <tr>
                                                    <th class="cell-middle w30">MMS</th>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>

                                                </tr>


                                                <tr>
                                                    <th class="cell-middle w30">Email</th>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>

                                                </tr>

                                            </tbody>

                                        </table>


                                    </div>
                                </div>
                            </div>
                            <div class="item-more">
                                <input type="checkbox" id="cssAccordion-input3" class="cssAccordion-input">
                                <div class="item-more__title cssAccordion-header">
                                    <label for="cssAccordion-input3" class="cssAccordion-label"></label>
                                    <a class="fr" href="#">
                                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                                    </a>
                                    <p>Photo/Video</p>

                                </div>
                                <div class="item-more__content cssAccordion-body">
                                    <div class="block-table-stand">
                                        <table class="table-stand table-stand-label-50">

                                            <tbody>

                                                <tr>
                                                    <th class="cell-middle w30">Apaareil photo</th>
                                                    <td class="cell-middle  color-gray-mob">
                                                        13 MP
                                                    </td>
                                                    <td class="cell-middle  color-gray-mob">
                                                        13 MP
                                                    </td>
                                                    <td class="cell-middle  color-gray-mob">
                                                        13 MP
                                                    </td>

                                                </tr>


                                                <tr>
                                                    <th class="cell-middle w30">Video</th>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>
                                                    <td class="cell-middle">
                                                        <i class="ic-ok color-orangeW ic-FS-25"></i>
                                                    </td>

                                                </tr>

                                            </tbody>

                                        </table>


                                    </div>
                                </div>
                            </div>
                            <div class="item-more">
                                <input type="checkbox" id="cssAccordion-input4" class="cssAccordion-input">
                                <div class="item-more__title cssAccordion-header">
                                    <label for="cssAccordion-input4" class="cssAccordion-label"></label>
                                    <a class="fr" href="#">
                                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                                    </a>
                                    <p>Music</p>

                                </div>
                                <div class="item-more__content cssAccordion-body">
                                    This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum.
                                </div>
                            </div>
                            <div class="item-more">
                                <input type="checkbox" id="cssAccordion-input5" class="cssAccordion-input">
                                <div class="item-more__title cssAccordion-header">
                                    <label for="cssAccordion-input5" class="cssAccordion-label"></label>
                                    <a class="fr" href="#">
                                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                                    </a>
                                    <p>Connectivity</p>

                                </div>
                                <div class="item-more__content cssAccordion-body">
                                    This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum.
                                </div>
                            </div>
                            <div class="item-more">
                                <input type="checkbox" id="cssAccordion-input6" class="cssAccordion-input">
                                <div class="item-more__title cssAccordion-header">
                                    <label for="cssAccordion-input6" class="cssAccordion-label"></label>
                                    <a class="fr" href="#">
                                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                                    </a>
                                    <p>Fun &amp; Surf</p>

                                </div>
                                <div class="item-more__content cssAccordion-body">
                                    This is Photoshop's version  of Lorem Ipsum.
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                                    nisi elit consequat ipsum.
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>


        </div>

    </div>
</div>



