<section class="block block-bg-stand  bg-black color-white">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Combien ça coute?</h2>
            <div class="onlineediteur ">
                <ul class="liste-av">
                    <li>Activation du service « Statut »  : <span>6 Dh/ Mois</span></li>
                    <li>Changement de statut : <span>gratuit</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>