<%= include('b2c-blocks/block-breadcrumbs') %>
<div class="block-theme" style="background: url(../img/contenus/visuel-69-mob.jpg) no-repeat;">
    <div class="block-theme-inside" style="background: url(../img/contenus/visuel-69.jpg) no-repeat;"> 
        <div class="block block-theme-container container ">
            <div class="grid-2">
                <div class="group-left">
                    <div class="ic ic-care popout  popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                        <span class="popout-title">Insight lorem ipsum dolor sit amet</span>
                    </div>
                    <div class="txtleft-theme">
                        <p class="mbs">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                        <a  role="button" class="btn" href="#" title="">Call to action</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>