<section class="block block-bg-stand bg-bleu">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Installer Orange Cloud</h2>
            <div class="onlineediteur mbm">
                <p>Orange Cloud est aussi accessible depuis tout ordinateur avec d’autres fonctionnalités sur : <a href="#">https://cloud.orange.ma</a> </p>
                <a href="#"><img alt="" src="../img/contenus/app-store-1.png"></a>
                <a href="#"><img alt="facture" src="../img/contenus/google-play-1.png"></a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-25.png" alt="facture">
        </div>
    </div>
</section>