<div class="block">
    <div class="container">
        <article class="onlineediteur">
            <h2>Lorum upsum</h2>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            <div class="grid-2-tiny-1">
                <div>
                    <h3 >Lorum upsum</h3>
                    <p >
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh 
                        vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum.
                    </p>
                    <p>
                        Sec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                        Morbi accumsan ipsum velit. Nam nec tellus a odio tincid auctor a ornare odio.
                    </p>
                </div>
                <div>
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/JmnQ6xi0Z58" frameborder="0" allowfullscreen></iframe>
                </div>

                <div>
                    <img src="../img/contenus/visuel-85.png" alt=""/>
                </div>
                <div>
                    <h3>Lorum upsum</h3>
                    <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh 
                        vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        nisi elit consequat ipsum.
                    </p>
                    <ul class="liste-wp">
                        <li>This is Photoshop's version  of Lorem Ipsum gravida nibh vel velit auctor aliquet.</li>
                        <li>Aenean sollicitudin, lorem quis bibendum auctor</li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</div>

