<section class="block block-vos-services bg-gray7">
    <div class="container">
        <h2>Avantages</h2>
        <div class="grid-4-small-1-tiny-2 items-links-service">
            <article class="item-links-service">
                <a href="#">
                    <i class="icon ic-bill ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Une facturation à la SECONDE</h3>
                </a>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
            </article>
            <article>
                <a href="#">
                    <i class="icon ic-Child_Protection ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Des recharges à partir de 5 Dh</h3>
                </a>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
            </article>
            <article>
                <a href="#">
                    <i class="icon ic-My_Orange ic-FS-75 mbs"></i>
                    <h3 class="n3-title--alt">Des promotions régulières et uniques</h3>
                </a>
                <p>orem ipsum dolor sit amet, consectetur adipisicing elit </p>
            </article>
        </div>
    </div>
</section>
