<section class="block block--n block-pb0-n">
    <div class="container">
        <h2 class="mbm">Les essentiels</h2>

        <div class="grid-2-tiny-1">


            <div class="mbl onlineediteur">

                <ul class="list-size-large">

                    <li><a href="#">Abonnement avec smartphone</a></li>
                    <li><a href="#">Activer votre abonnement Internet Everywhere</a></li>
                    <li><a href="#">Code PIN / PUK oublié</a></li>
                    <li><a href="#">Conserver votre numéro</a></li>
                    <li><a href="#">Conserver votre numéro</a></li>
                </ul>
            </div>


            <div class="mbl">

                <ul class="list-size-large">

                    <li><a href="#">Résilier votre abonnement</a></li>
                    <li><a href="#">Sauvegarder les contacts de votre carte SIM</a></li>
                    <li><a href="#">Validité de votre carte prépayée</a></li>
                    <li><a href="#">Votre carte SIM ne fonctionne plus</a></li>
                </ul>
            </div>

        </div>

    </div>
</section>


