<%= include('public-blocks/block-breadcrumbs') %>
<div class="block-theme" style="background: url(../img/contenus/visuel-80-mob.png) no-repeat;">
    <div class="block-theme-inside"  style="background: url(../img/contenus/visuel-80.png) no-repeat;">
        <div class="block block-theme-container container">
            <div class="grid-2">
                <div class="group-left">
                    <div class="ic ic-fun popout  popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                        <span class="popout-title">Fun</span>
                    </div>
                    <div class="txtleft-theme">
                        <p class="mbs">Accedez à un univers de services pour vous divertir à chaque instant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
