<%= include('b2c-blocks/block-breadcrumbs') %>
<%= include('blocks-pattern/block-banner-g',
{
classes: 'block-banne--wbreadcrumbs',
title: 'Dual play',
withimage: false,
img: ''
}
)  
%>
<div class="block-slider">
    <ul class="bxslider">
        <li>
            <div class="block-theme" style="background: url(../img/contenus/visuel-84-mob.png) no-repeat;">
                <div class="block-theme-inside" style="background: url(../img/contenus/visuel-84.png) no-repeat;">
                    <div class="block block-theme-container container ">
                        <div class="grid-2">
                            <div class="group-left">
                                <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                    <span class="popout-title">Insight ou promo </span>
                                </div>
                                <div class="txtleft-theme">
                                    <p class="mbs">Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <a href="#" title=""  role="button" class="btn">Call to action</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>        
        </li>
        <li>
            <div class="block-theme" style="background: url(../img/contenus/visuel-84-mob.png) no-repeat;">
                <div class="block-theme-inside" style="background: url(../img/contenus/visuel-84.png) no-repeat;">
                    <div class="block block-theme-container container ">
                        <div class="grid-2">
                            <div class="group-left">
                                <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                    <span class="popout-title">Insight ou promo </span>
                                </div>
                                <div class="txtleft-theme">
                                    <p class="mbs">Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <a href="#" title=""  role="button" class="btn">Call to action</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>        
        </li>
        <li>
            <div class="block-theme" style="background: url(../img/contenus/visuel-84-mob.png) no-repeat;">
                <div class="block-theme-inside" style="background: url(../img/contenus/visuel-84.png) no-repeat;">
                    <div class="block block-theme-container container ">
                        <div class="grid-2">
                            <div class="group-left">
                                <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                    <span class="popout-title">Insight ou promo </span>
                                </div>
                                <div class="txtleft-theme">
                                    <p class="mbs">Lipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <a href="#" title=""  role="button" class="btn">Call to action</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>        
        </li>
    </ul>
</div>
