<div class="block-theme" style="background: url(../img/contenus/a-visuel-72-mob.jpg) no-repeat;">
    <div class="block-theme-inside" style="background: url(../img/contenus/a-visuel-72.jpg) no-repeat;">
        <div class="block block-theme-container container ">
            <div class="grid-2">
                <div class="group-left">
                    <div class="ic ic-tariff popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                        <span class="popout-title">Offre L'mriguel</span>
                    </div>
                    <div class="txtleft-theme">
                        <p class="mbs">et de passer vos communications en toute tranquillité ? </p>
                        <a  role="button" class="btn mbs" href="#" title="">Découvrir</a>
                    </div>
                </div>
                <div>
                    <div class="grid-2-tiny-1">
                        <div class=" push group-right">
                            <div>
                                <div class="ic ic-tariff-out popout  popout-out popout--rt mbs color-black">
                                    <span class="popout-title color-white">2G d’internet</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>