<section class="block block-findstore">
    <div class="container">
        <h2 class="mbm">Trouver une boutique</h2>
        <form>
            <fieldset>
                <div class="grid-3-tiny-1">
                    <div>
                        <div class="item-form">
                            <select class="dropdown-black">
                                <option>Choisissez une ville</option>
                                <option>Choisissez une ville</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="item-form">
                            <select class="dropdown-black" disabled>
                                <option>Choisissez un quartier</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="item-form">
                            <select class="dropdown-black">
                                <option>Choisissez un service</option> 
                                <option>Choisissez un service</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="txtright">
                    <button type="submit" class="btn btn--important inactive" >Trouver une boutique</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>