<section class="block">
    <div class="container">
        <h2 class="mbm">Nouveautés</h2>
        <div class="grid-4-tiny-2">
            <div class="mbm">
                <div class="ic ic-tech popout popout--2l ic-FS-220 popout--mt color-orangeW ">
                    <a href="#" class="popout-title">Famille</a>
                </div>
            </div>
            <div class="mbm">
                <div class="ic ic-deplacement popout popout--2l ic-FS-220 popout--mt color-orangeW ">
                    <a href="#"  class="popout-title">En déplacement</a>
                </div>
            </div>
            <div class="mbm">
                <div class="ic ic-home popout popout--2l ic-FS-220 popout--mt color-orangeW ">
                    <a href="#"  class="popout-title">Maison</a>
                </div>
            </div>
            <div class="mbm">
                <div class="ic ic-care popout popout--2l ic-FS-220 popout--mt color-orangeW">
                    <a href="#"  class="popout-title">Service</a>
                </div>
            </div>
        </div>
    </div>
</section>