<section class="block-could block block--n">
    <div class="container">
        <div class="grid-2-tiny-1 mbs">

            <div class="mbm">

                
                <p class="fs-18 mbm">Protègez tous vos contenus en cas de pépin avec votre appareil.</p>
                <p>automatiquement un Avec Orange Cloud, vos fichiers vous suivent partout. La mémoire de vos appareils mobiles est automatiquement sauveg ardée et vous pouvez accéder à tous vos contenus mobiles à tout moment.</p>

            </div>


            <div class="block-space bg-yellow">

                <h3 class="n3-title--alt mbm w80">Clients pré-payé et post payé : bénéficiez de votre espace de stockage dédié.</h3>

                <a href="#"  role="button" class="btn btn--ms">Souscrire à Orange Cloud</a>

                <img alt="" src="../img/contenus/b-visuel-8.jpg">

            </div>

        </div>

    </div> 
</section>
