<div class="scrollable">
  <table class="table-internet2">
    <thead>
      <tr>
        <th>256 Kbps</th>
        <th>1 Mbps</th>
        <th>2 Mbps</th>
        <th>4 Mbps</th>
        <th>6 Mbps</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
      </tr>
      <tr>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pinned">
  <table class="table-internet2">
    <thead>
      <tr>
        <th>256 Kbps</th>
        <th>1 Mbps</th>
        <th>2 Mbps</th>
        <th>4 Mbps</th>
        <th>6 Mbps</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
        <td>
          <ul class="table-internet__list">
            <li> Débit garanti symétrique de 256 Kbps </li>
            <li> Débit allant jusqu'à 6 Mbps </li>
            <li> 4 adresses *IP fixes publiques</li>
            <li> 1 nom de domaine</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
        <td class="table-internet2__montant">
          999 DH HT
        </td>
      </tr>
      <tr>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
        <td class="txtcenter">
          <a href="#" role="button" class="btn">Commander</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
