<section class="block block-findstore block--n" id="points-vente">
    <div class="container">
        <h2 class="mbm">Points de vente</h2>
        <form class="form-parsley-validate" novalidate>
            <fieldset>
                <div class="grid-3-tiny-1">
                    <div>
                        <div class="item-form">
                            <select name="test" class="dropdown-black selectBox" required data-parsley-trigger="change">
                                <option value="">Choisissez une ville</option>
                                <option value="ville">ville1</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="item-form">
                            <select name="test" class="dropdown-black selectBox"  disabled="">
                                <option  value="ville">Choisissez un quartier</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="item-form">
                            <select name="test" class="dropdown-black selectBox" required data-parsley-trigger="change">
                                <option value="">Choisissez un service</option>
                                <option value="ville">service 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="txtright">
                    <input type="submit" value="Trouver une boutique"   class="btn btn--important inactive submit" disabled="" />
                </div>
            </fieldset>
        </form>
    </div>
</section>
