<section class="block block-forfait bg-black color-white">
    <div class="container">
        <div class="grid-2-1">
            <div class="border-r-white">
                <h2 class="mbm">Tout savoir sur Dual Play</h2>
                <div class="link-av-promo mbm">
                    <a href="#" title="">Avantages</a>
                    <a href="#" title="">Tarifs</a>
                    <a href="#" title="">Services</a>
                    <a href="#" title="">En savoir plus</a>
                </div>

            </div>
            <div>

                <h3 class="n3-title--alt mbm">Ce produit vous interesse?</h3>
                <a  role="button" class="btn btn--bb btn--important"  href="#">Commandez en ligne</a>
            </div>
        </div>
    </div>
</section>
