<div class="block">
    <div class="container">
        <article class="onlineediteur">
            <div class="grid-2-tiny-1">
                <div class="mob-mbm">  
                    <h2 >Service Statut</h2>
                    <p>Exprimez-vous à chaque appel ! Statut dialek kay3ber fblasstek !</p>
                    <p>Le service « Statut » vous permet d’afficher automatiquement un message personnalisé sur l’écran de vos appelants méditel.
                    </p>
                </div>
                <div>
                    <img src="../img/contenus/visuel-youtube.png" alt=""/>
                </div>
            </div>
        </article>
    </div>
</div>