<div class="block block-nos-mobiles block--n">
    <div class="container">
        <div>
            <ul class="list-inline type-mobile-list">
                <li class="inbl mrm"><a href="#items-mobile1"><span>Sélection Smartphones</span></a></li>
                <li class="inbl "><a href="#items-mobile2">Nouveauté</a></li>
            </ul>
            <select class="type-mobile-select dropdown-black">
                <option class="inbl mrm" value="#items-mobile1">Sélection Smartphones</option>
                <option class="inbl" value="#items-mobile2" >Nouveauté</option>
            </select>
            <div class="separator mtm mbl"></div>
            <div class="grid-1-2" >
                <aside class="aside-affinez-recherche" >
                    <h4 class="block-link-search-mobile mbl">Affinez votre recherche</h4>
                    <div class="block-content-search-mobile" >
                        <form>
                            <div class="mbs">
                                <p class="fs-18 mbm js-st-title-mob">Quel budget ?</p>
                                <div class="simpletoggle-content-mob">
                                    <div class="price_bar">
                                        <div id="price_bar" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a href="#" class="ui-slider-handle ui-state-default ui-corner-all"></a></div>
                                        <span><input type="text" class="amount_text" id="amount_label" value="1300 DHS"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mbs">
                                <p class="fs-18 mbm js-st-title-mob">Point fédilité</p>
                                <div  class="simpletoggle-content-mob">
                                    <div class="price_bar">
                                        <div id="points_bar" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a href="#" class="ui-slider-handle ui-state-default ui-corner-all"></a></div>
                                        <span><input type="text" class="amount_text" id="amount_points_label" value="1300 DHS"></span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="item-form">
                                    <label class="fs-18 mbm js-st-title-mob" >Promotions</label>
                                    <div class="simpletoggle-content-mob">
                                        <select name="promo" class="dropdown-black">
                                            <option value="forfait hany">Forfait hany</option>
                                            <option value="forfait hany">Forfait hany</option>
                                            <option value="forfait hany">Forfait hany</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="block-border-item">

                                <p class="fs-18 mbm js-st-title-mob">Nos marques</p>

                                <div class="simpletoggle-content-mob">

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-m-1" name="marques">
                                        <label for="checkbox-m-1" class="option">Samsung</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-m-2" name="marques">
                                        <label for="checkbox-m-2" class="option">Alcatel</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-m-3" name="marques">
                                        <label for="checkbox-m-3" class="option">Sony</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-m-4" name="marques">
                                        <label for="checkbox-m-4" class="option">Appel</label>
                                    </div>

                                </div>

                                <p class="fs-18 mbm js-st-title-mob">Options</p>

                                <div class="simpletoggle-content-mob">

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-o-1" name="options">
                                        <label for="checkbox-o-1" class="option">3G</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-o-2" name="options">
                                        <label for="checkbox-o-2" class="option">Appareil photo 8Mp </label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-o-3" name="options">
                                        <label for="checkbox-o-3" class="option">Bluetooth</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-o-4" name="options">
                                        <label for="checkbox-o-4" class="option">GPS</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-o-5" name="options">
                                        <label for="checkbox-o-5" class="option">Mémoire 2Go et plus</label>
                                    </div>

                                </div>

                            </div>


                            <div>

                                <p class="fs-18 mbm js-st-title-mob">Ecran</p>

                                <div class="simpletoggle-content-mob">

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-e-1" name="ecran">
                                        <label for="checkbox-e-1" class="option">4” et plus</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-e-2" name="ecran">
                                        <label for="checkbox-e-2" class="option">entre 4” et 5” Sony</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-e-3" name="ecran">
                                        <label for="checkbox-e-3" class="option">5,5” et plus</label>
                                    </div>

                                </div>

                                <p class="fs-18 mbm js-st-title-mob">Système</p>

                                <div class="simpletoggle-content-mob">

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-s-1" name="systeme">
                                        <label for="checkbox-s-1" class="option">Androïd</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-s-2" name="systeme">
                                        <label for="checkbox-s-2" class="option">Nokia OS</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-s-3" name="systeme">
                                        <label for="checkbox-s-3" class="option">Windows Phone</label>
                                    </div>

                                    <div class="form-type-checkbox  mbs">
                                        <input type="checkbox" id="checkbox-s-4" name="systeme">
                                        <label for="checkbox-s-4" class="option">iOS</label>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </aside>
                <div>
                    <div  class="grid-2-tiny-1 items-mobile" id="items-mobile1">
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Alcatel One Touch Pixi 3',img: '../img/contenus/mobile1.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy A5 2016',img: '../img/contenus/mobile2.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'iPhone 6S 128Go Pink',img: '../img/contenus/mobile3.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy S5',img: '../img/contenus/mobile4.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Alcatel One Touch Pixi 3',img: '../img/contenus/mobile1.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy A5 2016',img: '../img/contenus/mobile2.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'iPhone 6S 128Go Pink',img: '../img/contenus/mobile3.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy S5',img: '../img/contenus/mobile4.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Alcatel One Touch Pixi 3',img: '../img/contenus/mobile1.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy A5 2016',img: '../img/contenus/mobile2.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'iPhone 6S 128Go Pink',img: '../img/contenus/mobile3.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy S5',img: '../img/contenus/mobile4.png'}) %>
                    </div>
                    <div  class="grid-2-tiny-1 items-mobile" id="items-mobile2">
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Alcatel One Touch',img: '../img/contenus/mobile1.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy A5 2019',img: '../img/contenus/mobile2.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'iPhone 6S 128Go Pink',img: '../img/contenus/mobile3.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy S6',img: '../img/contenus/mobile4.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Alcatel One Touch',img: '../img/contenus/mobile1.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy A5 2019',img: '../img/contenus/mobile2.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'iPhone 6S 128Go Pink',img: '../img/contenus/mobile3.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy S6',img: '../img/contenus/mobile4.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Alcatel One Touch',img: '../img/contenus/mobile1.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy A5 2019',img: '../img/contenus/mobile2.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'iPhone 6S 128Go Pink',img: '../img/contenus/mobile3.png'}) %>
                        <%= include('b2c-blocks/block-nos-mobiles-article3',{title: 'Samsung Galaxy S6',img: '../img/contenus/mobile4.png'}) %>
                    </div>
                </div>
            </div>
        </div>
        <div  class="txtcenter block">
            <ul class="pager">
                <li class="pager__item "><a href="#" class="prev"><i class="icon ic-left"></i></a></li>
                <li class="pager__item "><a href="#">1</a></li>
                <li class="pager__item "><span class="active">2</span></li>
                <li class="pager__item"><a href="#">3</a></li>
                <li class="pager__item"><a href="#">4</a></li>
                <li class="pager__item"><a href="#">5</a></li>
                <li class="pager__item"><a href="#" class="next"><i class="icon ic-right"></i></a></li>
            </ul>
        </div>

        <a class="link-wi mbms fl" href="#"><i class="icon ic-top"></i>Retour en haut de page</a>

    </div>
</div>
