<!-- Fluid table -->
<div class="block-table-stand fluid-table">
    <table class="table-stand table-stand-label-50">
        <thead class="cell-border-th">
            <tr>
                <th class="w15 cell-middle"></th>
                <th class="cell-middle">Haniy</th>
                <th class="cell-middle">H@niy net</th>
                <th class="cell-middle">Illimité</th>
                <th class=" cell-middle">Pré-payé</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th data-th="Type de recharge" class="cell-middle color-orangeW fs-24 w15">10 Go</th>
                <td data-th="Haniy" class="cell-middle">
                    <span class="block-ft-montant">50 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="H@niy net" class="cell-middle">
                    <span class="block-ft-montant">50 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="Illimité" class="cell-middle">
                    <span class="block-ft-montant">50 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="Pré-payé" class="cell-middle">
                    <a href="http://www.orange.lxc:81/tables-pattern" target="_self" class="btn">Commander Sans engagement 50 DH</a>
                </td>
            </tr>
            <tr>
                <th data-th="Type de recharge" class="cell-middle color-orangeW fs-24 w15">20 Go</th>
                <td data-th="Haniy" class="cell-middle">
                    <span class="block-ft-montant">100 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="H@niy net" class="cell-middle">
                    <span class="block-ft-montant">100 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="Illimité" class="cell-middle">
                    <span class="block-ft-montant">100 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="Pré-payé" class="cell-middle">
                    <p><a href="http://www.orange.lxc:81/tables-pattern" target="_self" class="btn">Commander Sans engagement 100 DH</a></p>
                </td>
            </tr>
            <tr>
                <th data-th="Type de recharge" class="cell-middle color-orangeW fs-24 w15">40 Go</th>
                <td data-th="Haniy" class="cell-middle">
                    <span class="block-ft-montant">200 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="H@niy net" class="cell-middle">
                    <span class="block-ft-montant">200 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="Illimité" class="cell-middle">
                    <span class="block-ft-montant">200 DH / Mois</span>
                    <span class="block-ft-txt">Sans engagement</span>
                </td>
                <td data-th="Pré-payé" class="cell-middle">
                    <span class="block-ft-txt">Recharge</span>
                    <span class="block-ft-montant">300 DH</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
