<section class="block block-more">
    <div class="container">
        <h2 class="mbm">En savoir plus</h2>
        <div class="items-more">
            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input1">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input1"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbm">Comment ça marche ?</h3>
                    
                </div>
                <div class="item-more__content cssAccordion-body">
                    <p class="w80 mob-larg"> This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. <br>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>
                </div>
            </div>
            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input2">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input2"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbm">Comment changer votre statut ?</h3>
                    
                </div>
                <div class="item-more__content cssAccordion-body">
                    <p class="w80 mob-larg"> This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. <br>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>
                </div>
            </div>
            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input3">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input3"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbm">Comment arrêter le service ?</h3>
                    
                </div>
                <div class="item-more__content cssAccordion-body">
                    <p class="w80 mob-larg"> This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. <br>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>
                </div>
            </div>

            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input4">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input4"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbm">Conditions générales d’utilisation</h3>
                    
                </div>
                <div class="item-more__content cssAccordion-body">
                    <p class="w80 mob-larg"> This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. <br>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>
                </div>
            </div>
        </div>
  
    </div> 
</section>
