<section class="block-avantages block" id="services-inclus">
    <div class="container">
        <h2 class="mbm">Services inclus</h2>
        <div class="grid-3-tiny-1">
            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-77.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Appelle-moi</a></h3>
                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <a  role="button" class="btn btn--bb btn--ms" href="#">Plus d’infos</a>
                </div>
            </div>
            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-90.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Recharge-moi</a></h3>
                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                    <a  role="button" class="btn btn--bb btn--ms" href="#">Plus d’infos</a>
                </div>
            </div>
            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-91.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Prête-moi</a></h3>
                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                    <a  role="button" class="btn btn--bb btn--ms" href="#">Plus d’infos</a>
                </div>
            </div>
        </div>
    </div>
</section>
