<div>
    <ul class="bxslider">
    <li>
        <div class="block-theme" style="background: url(../img/contenus/visuel-88-mob.jpg) no-repeat;">
            <div class="block-theme-inside" style="background: url(../img/contenus/visuel-88.jpg) no-repeat;">
                <div class="block block-theme-container container ">
                    <div class="grid-2">
                        <div class="group-left">
                            <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                <span class="popout-title">Promotion <br>X10 </span>
                            </div>
                            <div class="txtleft-theme larger">
                                <p class="mbs">Profitez exceptionnellement d'un
                                    <br> X10 sur vos recharges de 100
                                    <br>et 200 DH.</p>
                                <a href="#" title=""  role="button" class="btn">Découvrir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="block-theme" style="background: url(../img/contenus/visuel-88-mob.jpg) no-repeat;">
            <div class="block-theme-inside" style="background: url(../img/contenus/visuel-88.jpg) no-repeat;">
                <div class="block block-theme-container container ">
                    <div class="grid-2">
                        <div class="group-left">
                            <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                <span class="popout-title">Promotion <br>X10 </span>
                            </div>
                            <div class="txtleft-theme larger">
                                <p class="mbs">Profitez exceptionnellement d'un
                                    <br> X10 sur vos recharges de 100
                                    <br>et 200 DH.</p>
                                <a href="#" title=""  role="button" class="btn">Découvrir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="block-theme" style="background: url(../img/contenus/visuel-88-mob.jpg) no-repeat;">
            <div class="block-theme-inside" style="background: url(../img/contenus/visuel-88.jpg) no-repeat;">
                <div class="block block-theme-container container ">
                    <div class="grid-2">
                        <div class="group-left">
                            <div class="ic ic-money popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                <span class="popout-title">Promotion <br>X10 </span>
                            </div>
                            <div class="txtleft-theme larger">
                                <p class="mbs">Profitez exceptionnellement d'un
                                    <br> X10 sur vos recharges de 100
                                    <br>et 200 DH.</p>
                                <a href="#" title=""  role="button" class="btn">Découvrir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>
