<div class="block">
    <div class="container">
        <article class="onlineediteur">
            <div class="grid-2-tiny-1">
                <div>
                    <h2>Dual play</h2>
                    <p>
                        haut débit. Avec la solution Dual Play, gagnez en 
                        performance en vous équipant d’un package complet qui comprend une solution internet haut débit et une solution voix fixe. 
                        Les débits symétriques proposés vous permettent de 
                        bénéficier d’une vitesse d'envoi de vos données jusqu'à 20 fois plus rapide qu'avec une connexion asymétrique ADSL.
                    </p>
                </div>
                <div class="hidden-tiny">
                    <img class="fr" src="../img/contenus/a-visuel-3.png" alt=""/>
                </div>
            </div>
        </article>
    </div>
</div>

