<div class="block block-nos-mobiles">
    <div class="container">
        <div class="grid-4-tiny-1 items-mobile" id="items-mobile1">
            <%= include('b2c-blocks/block-nos-mobiles-article2',{title: 'Alcatel One Touch Pixi 3',img: '../img/contenus/mobile1.png'}) %>
            <%= include('b2c-blocks/block-nos-mobiles-article2',{title: 'Samsung Galaxy A5 2016',img: '../img/contenus/mobile2.png'}) %>
            <%= include('b2c-blocks/block-nos-mobiles-article2',{title: 'iPhone 6S 128Go Pink',img: '../img/contenus/mobile3.png'}) %>
            <%= include('b2c-blocks/block-nos-mobiles-article2',{title: 'Samsung Galaxy S5',img: '../img/contenus/mobile4.png'}) %>
        </div>
    </div>
</div>
