<section class="block block--n">
    <div class="container">
        <h2 class="mbm">L'assistance en vidéo</h2>
        <div class="grid-3-tiny-1">
            <div class="mbm">
                <img src="../img/contenus/b-visuel-6.png" alt="">
            </div>
            <div class="mbm">
                <img src="../img/contenus/b-visuel-6.png" alt="">
            </div>
            <div class="mbm">
                <img src="../img/contenus/b-visuel-6.png" alt="">
            </div>
        </div>
    </div> 
</section>