<div class="block">
    <div class="container">
        <article class="onlineediteur">
            <div class="grid-2-1">
                <div>
                    <h2>Lorem Ipsum</h2>
                    <p >Connecté comme jamais ! Avec le réseau méditel 100% dernière technologie, profites pleinement de 10 Go de connexion internet sur ton smartphone pendant 30 jours. </p> 
                    <p >Tu restes connecté à ta communauté (amis, famille...), tu télécharges tous tes contenus (jeux, vidéos, photos…etc.)</p>
                </div>
                <div>
                    <img class="fr" src="../img/contenus/a-visuel-3.png" alt=""/>
                </div>
            </div>
        </article>
        
    </div>
</div>

