 <%= include('b2c-blocks/block-breadcrumbs') %>
 <div class="block-theme" style="background: url(../img/contenus/a-visuel-2-mob.png) no-repeat;">
     <div class="block-theme-inside" style="background: url(../img/contenus/a-visuel-2.png) no-repeat;"> 
         <div class="block block-theme-container container ">
             <div class="grid-2">
                 <div class="group-left">
                     <div class="ic ic-fun popout  popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                         <span class="popout-title">Text Insight Fun</span>
                     </div>
                     <div class="txtleft-theme">
                         <p class="mbs">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                         <a  role="button" class="btn" href="#" title="">Call to action</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
