<div class="block-theme" style="background: url(../img/contenus/a-visuel-70-mob.jpg) no-repeat;">
    <div class="block-theme-inside" style="background: url(../img/contenus/a-visuel-70.jpg) no-repeat;">
        <div class="block block-theme-container container ">
            <div class="grid-2">
                <div class="group-left">
                    <div class="ic ic-care popout  popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                        <span class="popout-title">Bon Plan</span>
                    </div>
                    <div class="txtleft-theme">
                        <p class="mbs">Profitez des meilleurs offres Orange!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>