<section class="block block-bg-stand bg-bleu">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm w80">Gérer vos factures en toute simplicité</h2>
            <div class="block-btns">
                <a  role="button" class="btn mrs mob-mbs" href="#">Gérer mes factures</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/myFacture-old.png" alt="facture">
        </div>
    </div>
</section>