<section class="block block-more block--n">
    <div class="container">
        <h2 class="mbm">Les questions fréquentes</h2>
        <div class="items-more o-mbl">
            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input1">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input1"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbs">Concernant mes points de fidélité</h3>

                </div>
                <div class="item-more__content cssAccordion-body">
                    <p class="color-gray5"><small>Lamia noufal  1 août 2016  0 réponses</small></p>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. <br>
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                </div>
            </div>
            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input2">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input2"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbs">Montant d'achat de Samsung A5 16</h3>

                </div>
                <div class="item-more__content cssAccordion-body">
                    <p class="color-gray5"><small>Lamia noufal  1 août 2016  0 réponses</small></p>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. <br>
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                </div>
            </div>
            <div class="item-more">
                <input type="checkbox" class="cssAccordion-input" id="cssAccordion-input3">
                <div class="item-more__title cssAccordion-header">
                    <label class="cssAccordion-label" for="cssAccordion-input3"></label>
                    <a href="#" class="fr">
                        <i class="cssAccordion-header-open icon ic-Arrow_up color-orangeB  "></i>
                        <i class="cssAccordion-header-close icon ic-Arrow_down  color-black "></i>
                    </a>
                    <h3 class="n3-title--alt mbs">j'ai un problème de réseau (Réseau sélectionné non disponible)</h3>

                </div>
                <div class="item-more__content cssAccordion-body">
                    <p class="color-gray5"><small>Lamia noufal  1 août 2016  0 réponses</small></p>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. <br>
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                </div>
            </div>
        </div>


    </div>
</section>
