<section class="block block-activer-service">
    <div class="container">
        <h2 class="mbm">Comment activer le service?</h2>
        <div class="onlineediteur">
                <ol class="grid-3-tiny-1">
                    <li>
                        Exprimez-vous :
                        <p>(maximum de caractères par statut : 120 en français et 55 en arabe) </p>
                    </li>
                    <li>
                        Exprimez-vous :
                        <p>modèles de statuts proposés (religieux, événements, proverbes…) et envoyez son code par SMS au 3000  </p>
                        <a href="#">Modèles de statuts</a>
                    </li>
                    <li>
                        Exprimez-vous :
                        <p>vous appelez un contact et vous souhaitez copier son statut ? appuyez simplement sur la touche 2 lors de l’appel. </p>

                    </li>
                </ol>
        </div>
    </div> 
</section>
