<section class="block block-tarif-detail" id="tarifs-detail">
    <div class="container">
        <h2 class="mbm">Les tarifs en détails </h2>
        <div class="grid-3-tiny-1">
            <div>
                <h3>Nationaux</h3>
                <div class="mbs">
                    <i class="icon ic-Orange_Messenger ic-FS-50 mrs"></i>
                    <span>
                        <span class="fs-24 mrs"> SMS </span>
                        <span class="fs-18 ">0 DH / sms</span>
                    </span>
                </div>
                <div class="mbs">
                    <i class="icon ic-Dialler ic-FS-50 mrs"></i>
                    <span>
                        <span class="fs-24 mrs"> Appel </span>
                        <span class="fs-18 ">2,75 Cts / sec*</span>
                    </span>
                </div>
                <div class="mbs">
                    <i class="icon  ic-internet_browser ic-FS-50 mrs"></i>
                    <span>
                        <span class="fs-24 mrs"> Surf </span>
                        <span class="fs-18">10 DH / Go</span>
                    </span>
                </div>
            </div>

            <div class="mbm block-tarif-detail-item">
                <h3>A l'étranger</h3>
                <p class="mbs">Le forfait H@any Net, vous offre déjà des appels, des SMS et du surf à l’étranger.</p>
                <p class="mbm">Pour plus d’options consultez ici nos offres internationales et roaming.</p>
                <a href="#"  role="button" class="btn">Tarifs internationaux</a>
            </div>
            <div class="mbm block-tarif-detail-item">
                <h3>Hors forfait</h3>
                <p class="mbm">
                    Si vous consommez tout votre volume de surf ou votre solde
                    d'appels vous pouvez acheter un pass de recharge en ligne via
                    votre Espace client ou l'app Orange et moi.
                </p>
                <a href="#"  role="button" class="btn">Recharge en ligne</a>
            </div>

        </div>
        <p class="w30 mob-w100"><small>* Les communications sont facturées à la seconde dès la première seconde.</small></p>
    </div>
</section>
