<div>
    <ul class="bxslider">
        <li>
            <div class="block-theme" style="background: url(../img/contenus/aa-visuel-4-mob.png) no-repeat;">
                <div class="block-theme-inside" style="background: url(../img/contenus/aa-visuel-4.png) no-repeat;"> 
                    <div class="block block-theme-container container ">
                        <div class="grid-2">
                            <div class="group-left">
                                <div class="ic ic-care popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                    <span class="popout-title">Réglez vos comptes en quelques clics</span>
                                </div>
                                <div class="txtleft-theme">
                                    <p class="mbs">Consultez et payez vos factures en ligne très simplement, pour rester l’esprit tranquille. </p>
                                    <a href="#"  role="button" class="btn btn--ms">En savoir plus</a>
                                </div>
                            </div>
                            <div>
                                <div class="grid-2-tiny-1">
                                    <div class=" push group-right">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="block-theme" style="background: url(../img/contenus/aa-visuel-4-mob.png) no-repeat;">
                <div class="block-theme-inside" style="background: url(../img/contenus/aa-visuel-4.png) no-repeat;"> 
                    <div class="block block-theme-container container ">
                        <div class="grid-2">
                            <div class="group-left">
                                <div class="ic ic-care popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                    <span class="popout-title">Réglez vos comptes en quelques clics</span>
                                </div>
                                <div class="txtleft-theme">
                                    <p class="mbs">Consultez et payez vos factures en ligne très simplement, pour rester l’esprit tranquille. </p>
                                    <a href="#"  role="button" class="btn btn--ms">En savoir plus</a>
                                </div>
                            </div>
                            <div>
                                <div class="grid-2-tiny-1">
                                    <div class=" push group-right">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="block-theme" style="background: url(../img/contenus/aa-visuel-4-mob.png) no-repeat;">
                <div class="block-theme-inside" style="background: url(../img/contenus/aa-visuel-4.png) no-repeat;"> 
                    <div class="block block-theme-container container ">
                        <div class="grid-2">
                            <div class="group-left">
                                <div class="ic ic-care popout popout--2l ic-FS-300 popout--lt color-orangeW mbs">
                                    <span class="popout-title">Réglez vos comptes en quelques clics</span>
                                </div>
                                <div class="txtleft-theme">
                                    <p class="mbs">Consultez et payez vos factures en ligne très simplement, pour rester l’esprit tranquille. </p>
                                    <a href="#"  role="button" class="btn btn--ms">En savoir plus</a>
                                </div>
                            </div>
                            <div>
                                <div class="grid-2-tiny-1">
                                    <div class=" push group-right">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
