<div class="block">
    <div class="container">
        <div class="grid-3-tiny-1">
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-70.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Divertissement</a></h3>
                </div>
            </div>

            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-71.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">A l'étranger</a></h3>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-72.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Transparence</a></h3>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img  alt="" src="../img/contenus/visuel-73.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Confort</a></h3>
                </div>
            </div>
            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-74.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Pratique</a></h3>
                </div>
            </div>

            <div class="item-av  mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img   alt="" src="../img/contenus/visuel-75.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Lorum upsum</a></h3>
                </div>
            </div>

        </div>
    </div>

</div>