<section class="block block-bg-stand bg-yellow">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm w80">Recharger en ligne</h2>
            <div class="onlineediteur">
                <p>
                    lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="block-btns">
                <a  role="button" class="btn mrs mob-mbs" href="#">Votre N° de téléphone</a>
                <a  role="button" class="btn btn--standard" href="#">Recharger</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-25.png" alt="facture">
        </div>
    </div>
</section>
