<section class="block block--n">
    <div class="container">
        <h2>Les questions fréquentes</h2>
        <p class="mbm">Trouvez vos réponses parmi nos thématiques</p>
        <div class="grid-3-tiny-1">
            <div class="item-av mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img  src="../img/contenus/b-visuel-1.jpg" alt="">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Mobile</a></h3>
                </div>
            </div>
            <div class="item-av mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img   src="../img/contenus/b-visuel-2.jpg" alt="">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Internet</a></h3>
                </div>
            </div>
            <div class="item-av mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img   src="../img/contenus/b-visuel-3.jpg" alt="">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Fixe</a></h3>
                </div>
            </div>
            <div class="item-av mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img   src="../img/contenus/b-visuel-4.jpg" alt="">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">eBoutique</a></h3>
                </div>
            </div>
            <div class="item-av mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img   src="../img/contenus/b-visuel-5.jpg" alt="">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Forum</a></h3>
                </div>
            </div>
            <div class="item-av mbm bg-black color-white">
                <figure class="mbm">
                    <a href="#">
                        <img   src="../img/contenus/visuel-53.jpg" alt="">
                    </a>
                </figure>
                <div class="item-av__content">
                    <h3><a href="#">Services</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>