<section class="block block-bg-stand  bg-yellow" id="combiner-smartphone">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Combinez avec un Smartphone</h2>
            <div class="onlineediteur mbm">
                <ul>
                    <li>Choisissez votre smartphone préféré</li>
                    <li>Optez pour l’abonnement qui vous convient</li>
                </ul>
            </div>
            <div class="block-btns">
                <a class="btn" role="button" href="#">Découvrir</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/a-visuel-44.png" alt="">
        </div>
    </div>
</section>
