<section class="block block-bg-stand bg-bleu" id="services">
    <div class="container">
        <div class="block-bg-stand__content">
            <h2 class="mbm">Boostez votre abonnement avec nos servicesé</h2>
            <div class="block-btns">
                <a  role="button" class="btn mrs mbs" href="#">Services inclus</a>
                <a  role="button" class="btn btn--standard" href="#">Services complémentaires</a>
            </div>
        </div>
        <div class="block-bg-stand__visuel">
            <img src="../img/contenus/visuel-25.png" alt="facture">
        </div>
    </div>
</section>