<section class="block bg-black color-white ">
    <div class="container">
        <div class="grid-2-1">
            <div class="border-r-white">
                <h2 class="mbm">Tout savoir sur H@ny Net</h2>
                <div class="link-av-promo">
                    <a href="#tarifs-detail" title="" >Tarifs en détail</a>
                    <a href="#combiner-smartphone" title="" >Combiner avec un Smartphone</a>
                    <a href="#services-inclus" title="" >Services inclus</a>
                </div>
            </div>
            <div>
                <p class="fs-40 color-orangeB mbm prix-offre">99 DH / mois</p>
                <h3 class="n3-title--alt mbm">Ce produit vous interesse?</h3>
                <a  role="button" class="btn btn--bb btn--important"  href="#">Commandez en ligne</a>
            </div>
        </div>
    </div>
</section>
