<section class="block block-new-shops bg-pink">
    <div class="container"> 
        <img src="../img/contenus/store.png" alt="" class="fr img-block-f" />
        <h2 class="mbl">Nos nouvelles boutiques</h2>        
        <ul class="bxslider slide-shops"> 
            <li>
                <div class="item-shops">
                    <div class="grid-4-tiny-2  ">
                        <div>
                            <h3 class="n3-title--alt">Orange Store Carré Eden Marrakech</h3>
                        </div>
                    </div>
                    <div class="grid-4-tiny-2">
                        <div class="item-shops__info">
                            <i class="icon ic-Map_Pin ic-FS-37 mbs"></i>
                            <address>N° B10 Rdc Centre Commercial Carré Eden, Marrakech 20250</address>
                        </div>   
                        <div class="item-shops__info">
                            <i class="icon ic-Collective_class_training ic-FS-37 mbs"></i>
                            <div>
                                <ul class="liste-wp">
                                    <li>Paiement de facture
                                    <li>Espace de démonstration</li>
                                    <li>Solutions Entreprises</li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-shops__info">
                            <i class="icon  ic-Clock ic-FS-37 mbs"></i>
                            <div>
                                <ul class="liste-wp">
                                    <li>Du lundi au samedi</li>
                                    <li>De 10h00 à 22h00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-shops__info">
                            <i class="icon ic-call ic-FS-37 mbs"></i>
                            <div>
                                <ul class="liste-wp">
                                    <li>Tél. : 05.22.36.19.66</li>
                                    <li>Fax. : 05.22.94.50.01</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="item-shops">
                    <div class="grid-4-tiny-2 ">
                        <div>
                            <h3 class="n3-title--alt">Orange Store Carré Eden Marrakech</h3>
                        </div>
                    </div>
                    <div class="grid-4-tiny-2">
                        <div class="item-shops__info">
                            <i class="icon ic-Map_Pin ic-FS-37 mbs"></i>
                            <address>N° B10 Rdc Centre Commercial Carré Eden, Marrakech 20250</address>
                        </div>   
                        <div class="item-shops__info">
                            <i class="icon ic-Collective_class_training ic-FS-37 mbs"></i>
                            <div>
                                <ul class="liste-wp">
                                    <li>Paiement de facture
                                    <li>Espace de démonstration</li>
                                    <li>Solutions Entreprises</li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-shops__info">
                            <i class="icon  ic-Clock ic-FS-37 mbs"></i>
                            <div>
                                <ul class="liste-wp">
                                    <li>Du lundi au samedi</li>
                                    <li>De 10h00 à 22h00</li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-shops__info">
                            <i class="icon ic-call ic-FS-37 mbs"></i>
                            <div>
                                <ul class="liste-wp">
                                    <li>Tél. : 05.22.36.19.66</li>
                                    <li>Fax. : 05.22.94.50.01</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section> 