<section class="block-avantages block block--n">
    <div class="container">
        <h2 class="mbm">Nouveautés</h2>
        <div class="grid-3-tiny-1">

            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img alt="" src="../img/contenus/visuel-77.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Les meilleurs Smartphones</a></h3>
                    <p>Vous  offrire les meilleurs Smatphones sans soucis de paiement</p>
                    <a  role="button" class="btn btn--bb btn--ms" href="#">Plus d’infos</a>
                </div>
            </div>


            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img  alt="" src="../img/contenus/visuel-78.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Un espace client performant</a></h3>
                    <p>Faciliter la gestion des factures et vous procurer plus de tranquilité</p>
                    <a  role="button" class="btn btn--bb btn--ms" href="#">Plus d’infos</a>
                </div>

            </div>


            <div class="item-av item-av-position mbm bg-black color-white">
                <figure class="mbm"><a href="#">
                        <img  alt="" src="../img/contenus/visuel-53.jpg">
                    </a></figure>
                <div class="item-av__content">
                    <h3><a href="#">Les tarifs internationnaux</a></h3>
                    <p>Restez connectez et communiquez lors de vos déplacements à l'étranger.</p>
                    <a  role="button" class="btn btn--bb btn--ms" href="#">Plus d’infos</a>
                </div>

            </div>

        </div>
    </div>
</section>
