<nav class="sous-menu">
    <div class="container">
        <div class="grid-3-1">
            <div class="mob-mbs">
                <ul class="hidden-tiny sous-menu__links">
                    <li><a href="#gamme-recharges"> Gamme de recharges </a></li>
                    <li><a href="#services-inclus">Services inclus</a></li>
                    <li><a href="#points-vente">Points de vente</a></li>
                </ul>
                <select class="visible-tiny dropdown-black sous-menu-select">
                    <option value="#gamme-recharges"> Gamme de recharges </option>
                    <option value="#services-inclus">Services inclus</option>
                    <option value="#points-vente">Points de vente</option>
                </select>
            </div>
            <div class="link-ssmenu">
                <a  role="button" class="btn btn--important"  href="#">Commandez en ligne</a>
            </div>
        </div>

    </div>
</nav>
