<nav class="sous-menu">
    <div class="container">
        <div class="grid-3-1">
            <div class="mob-mbs">
                <ul class="hidden-tiny sous-menu__links">
                    <li><a href="#avantages">Avantages</a></li>
                    <li><a href="#tarifs">Tarifs</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#savoir-plus">En savoir plus</a></li>
                </ul>
                <select class="visible-tiny dropdown-black">
                    <option value="#avantages">Avantages</option>
                    <option value="#tarifs">Tarifs</option>
                    <option value="#services">Services</option>
                    <option value="#savoir-plus">En savoir plus</option>
                </select>
            </div>
            <div class="link-ssmenu">
                <a  role="button" class="btn btn--important"  href="#">Commandez en ligne</a>
            </div>
        </div>

    </div>
</nav>
