<app-breadcrumb [data]="roaming.breadcrumb"></app-breadcrumb>
<app-menu-aside [state]="anchorsState"  asideMenu></app-menu-aside>

<section class="roaming block">
    <div class="container">

        <h2 class="mbl">Roaming</h2>

        <div class="onlineediteur mbl">
            <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut
                aliquam massa nisl quis neque. Suspendisse in orci enim.
            </p>
        </div>

        <div class="roaming-filter">
            <form name="list-filter" class="grid-4-tiny-1 mbl">
                <div>
                    <label for="filter-by-date">Dans quel pays allez-vous voyager ?</label>
                    <select name="filter-by-date" class="selectBox dropdown-black selectBox-dropdown" selectBox>
                        <option value="tunisie">Tunisie</option>
                        <option value="france">France</option>
                        <option value="usa">USA</option>
                    </select>
                </div>
            </form>
        </div>

        <article class="roaming-zone">
            <h4 class="roaming-zone-title">
                Tunisie - Zone 5
            </h4>

            <div class="roaming-zone-inner">

                <div class="d-table">
                    <p class="roaming-zone-inner-title">
                        Appel
                    </p>
                    <div class="d-row">
                        <div class="d-table-cell cell1">
                            Tarif des appels émis vers le Maroc et la Tunisie
                        </div>
                        <div class="d-table-cell cell2">
                            12 Dh TTC/min
                        </div>
                    </div>
                    <div class="d-row">
                        <div class="d-table-cell cell1">
                            Tarif des appels reçus
                        </div>
                        <div class="d-table-cell cell2">
                            9 Dh TTC/min
                        </div>
                    </div>
                </div>

                <div class="d-table">
                    <p class="roaming-zone-inner-title">
                        SMS
                    </p>
                    <div class="d-row">
                        <div class="d-table-cell cell1">
                            Tarif des SMS envoyés
                        </div>
                        <div class="d-table-cell cell2">
                            4,8 Dh/sms
                        </div>
                    </div>
                    <div class="d-row">
                        <div class="d-table-cell cell1">
                            SMS reçu
                        </div>
                        <div class="d-table-cell cell2">
                            Gratuit
                        </div>
                    </div>
                </div>

                <div class="d-table">
                    <p class="roaming-zone-inner-title">
                        Internet
                    </p>
                    <div class="d-row">
                        <div class="d-table-cell cell1">
                            Tarif d'internet
                        </div>
                        <div class="d-table-cell cell2">
                            1,8 Dh / 20 Ko
                        </div>
                    </div>
                </div>
            </div>

            <p class="note">
                Tous les tarifs sont en TTC
            </p>

        </article>

        <article class="onlineediteur">
            <div class="items-histoire mbl">

                <div class="item-histoire">
                    <h3 class="n3-title--alt item-histoire__title js-st-title mbm">
                        <span>Liste des pays par zone Roaming</span>
                    </h3>
                    <div class="item-histoire__centent simpletoggle-content mb50">
                        <ul>
                            <li><span>Zone Roaming 1 :</span> Belgique, France, Luxembourg, Moldavie, Pologne, Roumanie, Slovaquie, Espagne, Maurice, Réunion, Mayotte , Guadeloupe, Saint-Barthélemy, Martinique, Saint-Martin, Dominique, Guyane Française.</li>
                            <li><span>Zone Roaming 2 :</span> Botswana, Cameroun, Congo Démocratique, Centrafrique, Côte d’ivoire, Egypte, Irak, Jordanie, Guinée Conakry, Guinée Bissau, Madagascar, Mali, Niger, Sénégal, Sierra Leone, Burkina-Faso, Liberia.</li>
                            <li><span>Zone Roaming 3 :</span> Italie, Vatican, Turquie, USA, Canada, Allemagne, Grande Bretagne ,Portugal, Suisse, Grèce, Autriche, Malte, Irlande, Suède, Norvège, République Tchèque, Hollande, Russie, Albanie , Arménie Croatie,
                                Malte, Hongrie, Danemark, Bulgarie, Estonie, Lettonie, Liechtenstein, Lituanie, Israël, Ukraine , Kazakhstan.</li>
                            <li><span>Zone Roaming 4 :</span> Arabie Saoudite, Emirats Arabes Unis, Koweït, Qatar, Oman, Bahreïn.</li>
                            <li><span>Zone Roaming 5 :</span> Tunisie, Algérie, Chine, Afrique Du Sud, Chypre, Gibraltar, Monaco, Ghana, Australie, Nouvelle-Zélande, Argentine, Philippines, Pakistan, Brésil, Équateur, Japon, Mauritanie Mexique, Chili, Corée,
                                Nicaragua, Ouzbékistan, Colombie, Costa Rica, Guatemala.</li>
                            <li><span>Zone Roaming 6 :</span> Andorre, Aruba, Djibouti, Kenya, Mozambique, Namibie, Paraguay, Thaïlande, Nigeria, Ouganda, Uruguay. Slovénie Anguilla, Antigua-Et-Barbuda, Bangladesh, Barbade, Cambodge, Cayman, Congo, Cuba,
                                Dominique, El Salvador, Gabon, Grenade, Guinée Équatoriale, Honduras, Hong Kong, Îles Turques-et-Caïques, Inde, Inde (405), Islande, Libye, Malaisie, Montserrat, Pérou, Porto Rico, Rep. Dominicaine, Saint-Christophe-et-Niévès,
                                Saint-Vincent, Sainte-Lucie, Seychelles, Singapour, Soudan, Taiwan, Trinidad Et Tobago, Venezuela, Yémen. Finlande, Vanuatu, Corée du Nord, Ste. Helene.</li>
                            <li><span>Zone Roaming 7 :</span> Afghanistan, Angola, Antilles Néerlandaises, Ascension, Azerbaïdjan, Bahamas, Belize, Biélorussie, Bénin, Bermudes, Bhoutan, Bolivie, Bosnie-Herzégovine, Brunei, Burundi, Cap-Vert, Comores , Diego
                                Garcia Iles, Erythrée, État De Serbie-Et-Monténégro, Etats Unis Iridium, Ethiopie, Fidji, Gambie, Géorgie, Groenland, Guadeloupe (France), Guam, Haïti, Hawaï, Iles Cook, Iles Féroé De, Iles Malouines, Iles Marshall, Iles
                                Vierges (Royaume-Uni), Iles Vierges (Usa), Indonésie, Inmarsat A, Inmarsat Mini M, Inmasat Bm, Iran, , Jamaïque, , Kirghizistan, Kiribati, Laos, Lesotho, , Macao, Macédoine, Malawi, Maldives, Mariannes, Martinique (France),
                                Micronésie, Myanmar, Nauru, Népal, , Nive, Nlle Calédonie, Nortis, , Palau, Palestine, Panama, Papouasie Nlle Guinée, Polynésie Française, Rep. Pop. Mongolie, Rep. Tadjikistan, Rep. Turkménistan, Rwanda, Saint Tome Y Principe,
                                Salomon Iles, Samoa Américain, Samoa Occidental, San Marino, Sante Elena, , Somalie, Sri Lanka, St Pierre Et Miquelon, Suriname, Swaziland, Syrie, Tanzanie, Tchad, Thuraya, Timor Oriental, Tokelau, Tonga, Tuvalu, , Vietnam,
                                Wallis Et Futuna, Zambie, Zimbabwe, Liban, Togo.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </article>

        <article class="onlineediteur mbl">
            <h3 class="h h2">Les Pass Roaming Orange</h3>
            <p>
                Souscrivez au <span>Pass Tout en un « 1H d'appels en Roaming + 1Go d'Internet en Roaming » ou au Pass 1H d'appels en Roaming</span> pour communiquer en toute tranquillité, sans avoir de mauvaises surprises à votre retour de voyage. Ces
                Pass vous offrent 1 heure d’appels utilisables en émission et réception, en Roaming (<span class="u">voir liste des  pays éligibles</span>).
            </p>
        </article>

        <article class="onlineediteur mbl">
            <h3 class="h h2">Le pass Roaming « Tout-en-Un » 1h+1Go</h3>
            <p class="mbl">
                Souscrivez-y et restez joignables et connectés depuis l’étranger, sans mauvaises surprises à votre retour de voyage. (
                <span class="u">voir liste des pays éligibles</span>)
            </p>
            <div class="grid-4-tiny-1">
                <div class="item-av item-av-position mbm bg-black color-white">
                    <figure class="mbm">
                        <a href="#">
                            <img alt="" src="assets/imgs/contenus/visuel-avion.jpg">
                        </a>
                    </figure>
                    <div class="item-av__content">
                        <h3><a href="#">Pass tout en un</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>à</p>
                        <p class="price">150 Dhs</p>
                    </div>
                </div>
            </div>
            <p>
                <span>*</span>Valable 1 mois à partir de la date d’activation Internet pour les clients Forfaits Orange et les clients Recharges Orange.<br>
                <span>Important:</span> Ce pass est uniquement utilisable pour les clients disposant du Roaming Maîtrisé.
            </p>
        </article>

        <article class="onlineediteur mbl">
            <h3 class="h h2">Le pass Roaming 1h d’appels</h3>
            <p class="mbl">
                Souscrivez-y et restez joignables et connectés depuis l’étranger, sans mauvaises surprises à votre retour de voyage. (
                <span class="u">voir liste des pays éligibles</span>)
            </p>
            <div class="grid-4-tiny-1">
                <div class="item-av item-av-position mbm bg-black color-white">
                    <figure class="mbm">
                        <a href="#">
                            <img alt="" src="assets/imgs/contenus/visuel-map.jpg">
                        </a>
                    </figure>
                    <div class="item-av__content">
                        <h3><a href="#">Le pass Roaming 1h d’appels</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>à</p>
                        <p class="price">100 Dhs</p>
                    </div>
                </div>
            </div>
            <p>
                <span>*</span>Valable 1 mois à partir de la date d’activation Internet pour les clients Forfaits Orange et les clients Recharges Orange.<br>
                <span>Important:</span> Ce pass est uniquement utilisable pour les clients disposant du Roaming Maîtrisé.
            </p>
        </article>

        <article class="onlineediteur mbl">
            <h3 class="h h2">Le pass Roaming internet</h3>
            <p class="mbl">
                Souscrivez-y et restez joignables et connectés depuis l’étranger, sans mauvaises surprises à votre retour de voyage. (
                <span class="u">voir liste des pays éligibles</span>)
            </p>
            <div class="grid-4-tiny-1">
                <div class="item-av item-av-position mbm bg-black color-white">
                    <figure class="mbm">
                        <a href="#">
                            <img alt="" src="assets/imgs/contenus/visuel-map.jpg">
                        </a>
                    </figure>
                    <div class="item-av__content">
                        <h3><a href="#">Pass 1G d'internet</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>à</p>
                        <p class="price">100 Dhs</p>
                    </div>
                </div>
                <div class="item-av item-av-position mbm bg-black color-white">
                    <figure class="mbm">
                        <a href="#">
                            <img alt="" src="assets/imgs/contenus/visuel-map.jpg">
                        </a>
                    </figure>
                    <div class="item-av__content">
                        <h3><a href="#">Pass 2G d'internet</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <p>à</p>
                        <p class="price">200 Dhs</p>
                    </div>
                </div>
            </div>
            <p>
                <span>*</span>Valable 1 mois à partir de la date d’activation Internet pour les clients Forfaits Orange et les clients Recharges Orange.<br>
                <span>Important:</span> Ce pass est uniquement utilisable pour les clients disposant du Roaming Maîtrisé.
            </p>
        </article>


        <article class="onlineediteur mbl">
            <h3 class="h h2">Avantages de l’offre</h3>

            <div class="grid-4-tiny-1">
                <div class="item-av item-av-position mbm bg-black color-white">
                    <figure class="mbm">
                        <a href="#">
                            <img alt="" src="assets/imgs/contenus/visuel-91.jpg">
                        </a>
                    </figure>
                    <div class="item-av__content">
                        <h3><a href="#">Des tarifs très compétitifs</a></h3>
                    </div>
                </div>
                <div class="item-av item-av-position mbm bg-black color-white">
                    <figure class="mbm">
                        <a href="#">
                            <img alt="" src="assets/imgs/contenus/visuel-62.jpg">
                        </a>
                    </figure>
                    <div class="item-av__content">
                        <h3><a href="#">Des offres transparents et flexibles</a></h3>
                    </div>
                </div>
                <div class="item-av item-av-position mbm bg-black color-white">
                    <figure class="mbm">
                        <a href="#">
                            <img alt="" src="assets/imgs/contenus/a-visuel-1000.jpg">
                        </a>
                    </figure>
                    <div class="item-av__content">
                        <h3><a href="#">Une expérience client améliorée</a></h3>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<app-block-faq [data]="roaming.blocks[0]"></app-block-faq>
<app-simple-text-illustration [data]="roaming.blocks[2]"></app-simple-text-illustration>
<app-block-faq [data]="roaming.blocks[1]"></app-block-faq>
