<article class="item fl" *ngFor="let item of [0,1,2,3]; let i = index">
    <figure class="img fl">
        <img src="assets/imgs/contenus/news.png" alt="news">
    </figure>
    <h3 class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h3>
    <div class="item-content mbs">
        <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad magna aliqua. Ut minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute lor in reprehenderit in voluptate velit esse...
        </p>
    </div>
    <a class="btn mrs mob-mbs" href="#">En savoir plus</a>
</article>
