<form name="list-filter" class="grid-4-tiny-1 mbl">
    <div>
        <select name="filter-by-date" class="selectBox dropdown-black selectBox-dropdown mbs">
            <option value="asc">Par date croissant</option>
            <option value="desc">Par date decroissant</option>
        </select>
    </div>
    <div>
        <input type="text" class="input-form mbs" name="faq-keyword" placeholder="Mot clé">
    </div>

    <div>
        <button type="submit" class="btn btn--important mbs">Rechercher</button>
    </div>
</form>