@import '../../../../../../assets/scss/global/_variables.scss';
@import '../../../../../../assets/scss/global/fonts/_icon-orange.scss';

:host /deep/ {
    .block-quiz {
        margin: 0 auto 40px;
        max-width: 900px;
        padding: 13px 0;
        width: 100%;

        @media #{$phone} {
            margin: 0 auto 10px;
            padding: 13px 0 0;
        }

        .block-bg-stand__content {
            width: 65%;

            .onlineediteur p {
                width: 100%;
            }

            @media #{$phone} {
                width: 100%;
            }
        }

        @media #{$phone} {
            width: 100%;
        }
    }
}

:host(.rtl) /deep/ { }
