<form name="pdv-filter" class="filter pdv-filter">
  <div class="grid-3-1">
    <div>
      <div class="grid-3-1">
        <div>
          <div class="grid-4-tiny-1">

            <div class="item-form">
              <div class="item-form-input item-form-selectBox">
                <select name="test" class="dropdown-black selectBox" required style="display: none;" selectBox>
                  <option value="sr1">Service et recharge 1</option>
                  <option value="sr2">Service et recharge 2</option>
                  <option value="sr3">Service et recharge 3</option>
                  <option value="sr4">Service et recharge 4</option>
                </select>
              </div>
            </div>

            <div>
              <input class="input-form" name="pdv-ville" placeholder="Ville" type="text">
            </div>

            <div class="item-form">
              <div class="item-form-input item-form-selectBox">
                <select name="test" class="dropdown-black selectBox" required style="display: none;" selectBox>
                  <option value="dd1">Distributeurs direct 1</option>
                  <option value="dd2">Distributeurs direct 2</option>
                  <option value="dd3">Distributeurs direct 3</option>
                  <option value="dd4">Distributeurs direct 4</option>
                </select>
              </div>
            </div>

            <div class="item-form">
              <div class="item-form-input item-form-selectBox">
                <select name="test" class="dropdown-black selectBox" required style="display: none;" selectBox>
                  <option value="di1">Distributeurs indirect 1</option>
                  <option value="di2">Distributeurs indirect 2</option>
                  <option value="di3">Distributeurs indirect 3</option>
                  <option value="di4">Distributeurs indirect 4</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div>
          <button type="submit" class="btn btn--important">Rechercher</button>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</form>
