<app-breadcrumb [data]="offers.breadcrumb"></app-breadcrumb>
<app-menu-aside [state]="anchorsState" asideMenu></app-menu-aside>
<app-theme-simple [data]="offers.blocks[14]"></app-theme-simple>
<app-online-editor [data]="offers.blocks[0]"></app-online-editor>
<app-tarifications [data]="offers.blocks[1]"></app-tarifications>
<app-mobile-4-remontees [data]="offers.blocks[2]"></app-mobile-4-remontees>
<app-simple-text-illustration [data]="offers.blocks[3]"></app-simple-text-illustration>
<app-simple-text-illustration [data]="offers.blocks[4]"></app-simple-text-illustration>
<app-simple-text-illustration [data]="offers.blocks[5]"></app-simple-text-illustration>
<app-block-edoc [data]="offers.blocks[10]"></app-block-edoc>
<app-media [data]="offers.blocks[13]"></app-media>
<app-simple-text-illustration [data]="offers.blocks[6]"></app-simple-text-illustration>
<app-orange-care [data]="offers.blocks[12]"></app-orange-care>
<app-simple-text-illustration [data]="offers.blocks[7]"></app-simple-text-illustration>
<app-simple-text-illustration [data]="offers.blocks[8]"></app-simple-text-illustration>
<app-block-faq [data]="offers.blocks[11]"></app-block-faq>
