<app-breadcrumb [data]="scripts.breadcrumb"></app-breadcrumb>
<app-menu-aside asideMenu></app-menu-aside>

<section class="mbl block-script ">
  <div class="container">
    <ul class="script-items mt50">
      <li class="main-entry">

        <div class="mb28 {{ scripts.blocks[0].classes | class }}">
          <app-simple-text-illustration [data]="scripts.blocks[0]"></app-simple-text-illustration>
        </div>

        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quo tempore distinctio quisquam officiis a ipsa temporibus. Praesentium sint placeat sit, dolor id, harum culpa voluptates, rerum ab natus ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quo tempore distinctio quisquam officiis a ipsa temporibus. Praesentium sint placeat sit, dolor id, harum culpa voluptates, rerum ab natus ducimus.</p>

        <ul class="sub-entries">
          <li class="sub-entry-item mbs"><p>Forfait 10H + 4G d’internet <i class="icon ic-right"></i></p></li>
          <li class="sub-entry-item mbs"><p>Forfait 20H + 12G d’internet + lorum <i class="icon ic-right"></i></p></li>
          <li class="sub-entry-item mbs"><p>Lorum 3 upsum dolor selon dinestaion XXX <i class="icon ic-right"></i></p></li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<!--
<app-breadcrumb [data]="scripts.breadcrumb"></app-breadcrumb>
<app-menu-aside asideMenu></app-menu-aside>
<div class="block block-script">
  <div class="container">
    <ul class="script-items mt50">
      <li class="main-entry">

        <div class="mb28">
          <app-simple-text-illustration [data]="scripts.blocks[0]"></app-simple-text-illustration>
        </div>

        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quo tempore distinctio quisquam officiis a ipsa temporibus. Praesentium sint placeat sit, dolor id, harum culpa voluptates, rerum ab natus ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quo tempore distinctio quisquam officiis a ipsa temporibus. Praesentium sint placeat sit, dolor id, harum culpa voluptates, rerum ab natus ducimus.</p>

        <ul class="sub-entries">
          <li class="sub-entry-item mbs"><p>Forfait 10H + 4G d’internet <i class="icon ic-right"></i></p></li>
          <li class="sub-entry-item mbs"><p>Forfait 20H + 12G d’internet + lorum <i class="icon ic-right"></i></p></li>
          <li class="sub-entry-item mbs"><p>Lorum 3 upsum dolor selon dinestaion XXX <i class="icon ic-right"></i></p></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

-->
