[class^="ic-"], [class*=" ic-"],.ic:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-orange' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-pinterest-hover:before {
  content: "\e9d3";
}
.ic-pinterest:before {
  content: "\e9d4";
}
.ic-instagram-hover:before {
  content: "\e9d5";
}
.ic-instagram:before {
  content: "\e9d6";
}
.ic-linkedin-hover:before {
  content: "\e9d7";
}
.ic-linkedin:before {
  content: "\e9d8";
}
.ic-connectivity-out:before {
  content: "\e9ad";
}
.ic-performance-out:before {
  content: "\e9ae";
}
.ic-security-out:before {
  content: "\e9ac";
}
.ic-Orange-moi:before {
  content: "\e9af";
}
.ic-NFC_tag:before {
  content: "\e9b0";
}
.ic-location_pin_compass:before {
  content: "\e9b1";
}
.ic-Fast_delivery:before {
  content: "\e9b2";
}
.ic-security:before {
  content: "\e9b3";
}
.ic-performance:before {
  content: "\e9b4";
}
.ic-connectivity:before {
  content: "\e9b5";
}
.ic-assistance_ar:before {
  content: "\e9b6";
}
.ic-Live-Homescreen:before {
  content: "\e9b7";
}
.ic-VR-360:before {
  content: "\e9b8";
}
.ic-Voucher_tag:before {
  content: "\e9b9";
}
.ic-Safety:before {
  content: "\e9ba";
}
.ic-Simplicity:before {
  content: "\e9bb";
}
.ic-logout:before {
  content: "\e9bc";
}
.ic-internet_usage:before {
  content: "\e9bd";
}
.ic-Internet_security_mobile:before {
  content: "\e9be";
}
.ic-Internet_security_desktop:before {
  content: "\e9bf";
}
.ic-TV_series:before {
  content: "\e9c0";
}
.ic-Rewards:before {
  content: "\e9c1";
}
.ic-Orange_Football_Club:before {
  content: "\e9c2";
}
.ic-Free_tag:before {
  content: "\e9c3";
}
.ic-Smart_watch:before {
  content: "\e9c4";
}
.ic-Money_d:before {
  content: "\e9c5";
}
.ic-Orange_Money:before {
  content: "\e9c6";
}
.ic-International_globe:before {
  content: "\e9c7";
}
.ic-La_Cle:before {
  content: "\e9c8";
}
.ic-Antivirus:before {
  content: "\e9c9";
}
.ic-NFC:before {
  content: "\e9ca";
}
.ic-VoWiFi:before {
  content: "\e9cb";
}
.ic-Scan_ticket:before {
  content: "\e9cc";
}
.ic-My_Boutique2:before {
  content: "\e9cd";
}
.ic-Simple_Mode:before {
  content: "\e9ce";
}
.ic-Track_Your_delivery:before {
  content: "\e9cf";
}
.ic-Support:before {
  content: "\e9d0";
}
.ic-device_laptop_computer_connected:before {
  content: "\e9d1";
}
.ic-Device_laptop_computer:before {
  content: "\e9d2";
}
.ic-G:before {
  content: "\e900";
}
.ic-G2:before {
  content: "\e901";
}
.ic-Reseau:before {
  content: "\e902";
}
.ic-accessibility_hearing:before {
  content: "\e903";
}
.ic-accessibility_mobility:before {
  content: "\e904";
}
.ic-accessibility_vision:before {
  content: "\e905";
}
.ic-Add_person:before {
  content: "\e906";
}
.ic-Add:before {
  content: "\e907";
}
.ic-Address_Book:before {
  content: "\e908";
}
.ic-Aeroplane:before {
  content: "\e909";
}
.ic-Alias_numbers:before {
  content: "\e90a";
}
.ic-Antenna:before {
  content: "\e90b";
}
.ic-Anti_spam:before {
  content: "\e90c";
}
.ic-Apps:before {
  content: "\e90d";
}
.ic-Arrow_down:before {
  content: "\e90e";
}
.ic-Arrow_up:before {
  content: "\e90f";
}
.ic-assistance:before {
  content: "\e910";
}
.ic-Attachment:before {
  content: "\e911";
}
.ic-Auditorium:before {
  content: "\e912";
}
.ic-Avatar:before {
  content: "\e913";
}
.ic-backup:before {
  content: "\e914";
}
.ic-bien-etre-out:before {
  content: "\e915";
}
.ic-bien-etre:before {
  content: "\e916";
}
.ic-bill:before {
  content: "\e917";
}
.ic-Birthday:before {
  content: "\e918";
}
.ic-Bluetooth:before {
  content: "\e919";
}
.ic-bottom:before {
  content: "\e91a";
}
.ic-Business_Lounge:before {
  content: "\e91b";
}
.ic-buy:before {
  content: "\e91c";
}
.ic-Buzz:before {
  content: "\e91d";
}
.ic-calendar_30:before {
  content: "\e91e";
}
.ic-calendar_month:before {
  content: "\e91f";
}
.ic-calendar-alarm:before {
  content: "\e920";
}
.ic-call_invite:before {
  content: "\e921";
}
.ic-call:before {
  content: "\e922";
}
.ic-Camera:before {
  content: "\e923";
}
.ic-care-out:before {
  content: "\e924";
}
.ic-care:before {
  content: "\e925";
}
.ic-Casting:before {
  content: "\e926";
}
.ic-Child_Protection:before {
  content: "\e927";
}
.ic-Cineday_Silhouette:before {
  content: "\e928";
}
.ic-Cinema_ticket_2_for_1:before {
  content: "\e929";
}
.ic-Clock:before {
  content: "\e92a";
}
.ic-Cloud_backup:before {
  content: "\e92b";
}
.ic-Collective_class_training:before {
  content: "\e92c";
}
.ic-Comedy_channel:before {
  content: "\e92d";
}
.ic-Conference_call:before {
  content: "\e92e";
}
.ic-connection:before {
  content: "\e92f";
}
.ic-Contact_Card:before {
  content: "\e930";
}
.ic-Control_Centre:before {
  content: "\e931";
}
.ic-Control_My-Data:before {
  content: "\e932";
}
.ic-Copy:before {
  content: "\e933";
}
.ic-Courier:before {
  content: "\e934";
}
.ic-Delete:before {
  content: "\e935";
}
.ic-deplacement-out:before {
  content: "\e936";
}
.ic-deplacement:before {
  content: "\e937";
}
.ic-Device_desktop_computer:before {
  content: "\e938";
}
.ic-device_fixed-line_phone:before {
  content: "\e939";
}
.ic-device_smart_phone:before {
  content: "\e93a";
}
.ic-device_tablet:before {
  content: "\e93b";
}
.ic-device_TV:before {
  content: "\e93c";
}
.ic-Dialler:before {
  content: "\e93d";
}
.ic-Discussion_more:before {
  content: "\e93e";
}
.ic-Document_compose:before {
  content: "\e93f";
}
.ic-Document_stack:before {
  content: "\e940";
}
.ic-document_Word:before {
  content: "\e941";
}
.ic-document_zip:before {
  content: "\e942";
}
.ic-Documentary:before {
  content: "\e943";
}
.ic-done_modifier.psd:before {
  content: "\e944";
}
.ic-done_modifier:before {
  content: "\e945";
}
.ic-eDashboard:before {
  content: "\e946";
}
.ic-Edit_Image:before {
  content: "\e947";
}
.ic-Email:before {
  content: "\e948";
}
.ic-Excel:before {
  content: "\e949";
}
.ic-facebook-logo:before {
  content: "\e94a";
}
.ic-Facebook:before {
  content: "\e94b";
}
.ic-Family_Place:before {
  content: "\e94c";
}
.ic-family-out:before {
  content: "\e94d";
}
.ic-family:before {
  content: "\e94e";
}
.ic-favourite:before {
  content: "\e94f";
}
.ic-Filter:before {
  content: "\e950";
}
.ic-Finance:before {
  content: "\e951";
}
.ic-Football:before {
  content: "\e952";
}
.ic-Forward:before {
  content: "\e953";
}
.ic-fun-out:before {
  content: "\e954";
}
.ic-fun:before {
  content: "\e955";
}
.ic-games:before {
  content: "\e956";
}
.ic-Gauge-rate:before {
  content: "\e957";
}
.ic-Gauge-Mon-Reseau:before {
  content: "\e958";
}
.ic-Generic_Document:before {
  content: "\e959";
}
.ic-google-plus_hover:before {
  content: "\e95a";
}
.ic-google-plus:before {
  content: "\e95b";
}
.ic-HDMI_Card:before {
  content: "\e95c";
}
.ic-History:before {
  content: "\e95d";
}
.ic-home-out:before {
  content: "\e95e";
}
.ic-home:before {
  content: "\e95f";
}
.ic-Hourglass:before {
  content: "\e960";
}
.ic-Improvement:before {
  content: "\e961";
}
.ic-Inbox:before {
  content: "\e962";
}
.ic-Increase_test_size:before {
  content: "\e963";
}
.ic-Info:before {
  content: "\e964";
}
.ic-Information_data:before {
  content: "\e965";
}
.ic-internet_browser:before {
  content: "\e966";
}
.ic-Internet_security_password:before {
  content: "\e967";
}
.ic-Internet:before {
  content: "\e968";
}
.ic-left:before {
  content: "\e969";
}
.ic-linkein:before {
  content: "\e96a";
}
.ic-Lock:before {
  content: "\e96b";
}
.ic-manage_android:before {
  content: "\e96c";
}
.ic-Map_Pin:before {
  content: "\e96d";
}
.ic-Medal:before {
  content: "\e96e";
}
.ic-Medical_chart:before {
  content: "\e96f";
}
.ic-Messaging_Unified:before {
  content: "\e970";
}
.ic-Mobile_Applications:before {
  content: "\e971";
}
.ic-Mobile_Data_Toggle:before {
  content: "\e972";
}
.ic-Modem:before {
  content: "\e973";
}
.ic-Modifier_delete:before {
  content: "\e974";
}
.ic-modifier_no_access:before {
  content: "\e975";
}
.ic-money-out:before {
  content: "\e976";
}
.ic-money:before {
  content: "\e977";
}
.ic-Multi_SIM:before {
  content: "\e978";
}
.ic-My_Boutique:before {
  content: "\e979";
}
.ic-My_Orange:before {
  content: "\e97a";
}
.ic-my_services:before {
  content: "\e97b";
}
.ic-Networks:before {
  content: "\e97c";
}
.ic-No_Sim:before {
  content: "\e97d";
}
.ic-Office:before {
  content: "\e97e";
}
.ic-ok:before {
  content: "\e97f";
}
.ic-Orange_Experts_Copy_Keep:before {
  content: "\e980";
}
.ic-Orange_Experts_Expert:before {
  content: "\e981";
}
.ic-Orange_Experts_Repair:before {
  content: "\e982";
}
.ic-Orange_Messenger:before {
  content: "\e983";
}
.ic-ORANGE_REFLECTIONS:before {
  content: "\e984";
}
.ic-Orange_rewards:before {
  content: "\e985";
}
.ic-Organisation:before {
  content: "\e986";
}
.ic-Parental_Control:before {
  content: "\e987";
}
.ic-PDF_file:before {
  content: "\e988";
}
.ic-Pencil:before {
  content: "\e989";
}
.ic-Play_and_Win:before {
  content: "\e98a";
}
.ic-Power:before {
  content: "\e98b";
}
.ic-Previous:before {
  content: "\e98c";
}
.ic-Responsible:before {
  content: "\e98d";
}
.ic-right:before {
  content: "\e98e";
}
.ic-SD_card:before {
  content: "\e98f";
}
.ic-search:before {
  content: "\e990";
}
.ic-Send_to_person:before {
  content: "\e991";
}
.ic-Setup_and_Repair_cog:before {
  content: "\e992";
}
.ic-Shop_Pin:before {
  content: "\e993";
}
.ic-Shop:before {
  content: "\e994";
}
.ic-signal_5-5:before {
  content: "\e995";
}
.ic-Sim:before {
  content: "\e996";
}
.ic-Social_network:before {
  content: "\e997";
}
.ic-sub_pack:before {
  content: "\e998";
}
.ic-Syncronise:before {
  content: "\e999";
}
.ic-tariff-out:before {
  content: "\e99a";
}
.ic-Tariff-promo:before {
  content: "\e99b";
}
.ic-tariff:before {
  content: "\e99c";
}
.ic-Team_connect:before {
  content: "\e99d";
}
.ic-tech-out:before {
  content: "\e99e";
}
.ic-tech:before {
  content: "\e99f";
}
.ic-Text_alerts:before {
  content: "\e9a0";
}
.ic-Top_up:before {
  content: "\e9a1";
}
.ic-top:before {
  content: "\e9a2";
}
.ic-Track_Your_Order:before {
  content: "\e9a3";
}
.ic-Trash:before {
  content: "\e9a4";
}
.ic-twitter-hover:before {
  content: "\e9a5";
}
.ic-twitter:before {
  content: "\e9a6";
}
.ic-Warning_important:before {
  content: "\e9a7";
}
.ic-work-out:before {
  content: "\e9a8";
}
.ic-work:before {
  content: "\e9a9";
}
.ic-youtube-hover:before {
  content: "\e9aa";
}
.ic-youtube:before {
  content: "\e9ab";
}

