<form name="promotions-filter" class="filter faq-filter">
  <div class="grid-3-tiny-1">
    <div>
      <div class="grid-2">
        <div>
          <select name="promo-type" class="input-form selectBox dropdown-black selectBox-dropdown" selectBox>
            <option value="mobile">Promos mobile</option>
            <option value="internet">Promos internet</option>
            <option value="fixe">Promos fixe</option>
          </select>
        </div>
        <div>
          <select name="promo-subType" class="input-form selectBox dropdown-black selectBox-dropdown" selectBox>
            <option value="offres">Offres prépayé</option>
            <option value="offres1">Offres prépayé 1</option>
            <option value="Offres2">Offres prépayé 2</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <div class="grid">
        <div>
          <button type="submit" class="btn btn--important">Rechercher</button>
        </div>
      </div>
    </div>
  </div>
</form>
