        <div class="forfait-filter">
            <form name="list-filter" class="grid-5-tiny-1 mbl">
                <div>
                    <label for="filter-by-date">Selectionnez un forfait:</label>
                    <select name="filter-by-date" class="selectBox dropdown-black selectBox-dropdown" selectBox>
                        <option value="hany">Forfait 2H/2Go</option>
                        <option value="hany1">Forfait 10H</option>
                        <option value="hany2">Forfait 10Go</option>
                    </select>
                </div>
            </form>
        </div>
