.bg-black{
    background-color:  $black;
}
.bg-orangeB{
    background-color: $orangeB;
}
.bg-orangeW{
    background-color: $orangeW;
}
.bg-white{
    background-color: $white;
}
.bg-gray{
    background-color: $gray;
}
.bg-yellow{
    background-color: $yellow;
}
.bg-bleu{
    background-color: $bleu;
}
.bg-green{
    background-color: $green;
}
.bg-purple{
    background-color: $purple;
}
.bg-pink{
    background-color: $pink;
}
.bg-yellow-light{
    background-color: $yellow-light;
}
.bg-bleu-light{
    background-color: $bleu-light;
}
.bg-green-light{
    background-color: $green-light;
}
.bg-purple-light{
    background-color: $purple-light;
}
.bg-pink-light{
    background-color: $pink-light;
}
//
.bg-yellow-dark{
    background-color: $yellow-dark;
}
.bg-bleu-dark{
    background-color: $bleu-dark;
}
.bg-green-dark{
    background-color: $green-dark;
}
.bg-purple-dark{
    background-color: $purple-dark;
}
.bg-pink-dark{
    background-color: $pink-dark;
}
//
.bg-red-function{
    background-color: $red-function;
}
.bg-green-function{
    background-color: $green-function;
}
.bg-yellow-function{
    background-color: $yellow-function;
}
.bg-bleu-function{
    background-color: $bleu-function;
}
//gray
.bg-gray2{
    background-color: $gray2;
}
.bg-gray3{
    background-color: $gray3;
}
.bg-gray4{
    background-color: $gray4;
}
.bg-gray5{
    background-color: $gray5;
}
.bg-gray6{
    background-color: $gray6;
}
.bg-gray7{
    background-color: $gray7;
}
.bg-gray8{
    background-color: $gray8;
}
.bg-gray9{
    background-color: $gray9;
}

.color-black{
    color: $black;
}
.color-orangeB{
    color: $orangeB;
}
.color-orangeW{
    color: $orangeW;
}
.color-white{
    color: $white;
}
.color-gray{
    color: $gray;
}
.color-yellow{
    color: $yellow;
}
.color-bleu{
    color: $bleu;
}
.color-green{
    color: $green;
}
.color-purple{
    color: $purple;
}
.color-pink{
    color: $pink;
}
.color-yellow-light{
    color: $yellow-light;
}
.color-bleu-light{
    color: $bleu-light;
}
.color-green-light{
    color: $green-light;
}
.color-purple-light{
    color: $purple-light;
}
.color-pink-light{
    color: $pink-light;
}
//
.color-yellow-dark{
    color: $yellow-dark;
}
.color-bleu-dark{
    color: $bleu-dark;
}
.color-green-dark{
    color: $green-dark;
}
.color-purple-dark{
    color: $purple-dark;
}
.color-pink-dark{
    color: $pink-dark;
}
//
.color-red-function{
    color: $red-function;
}
.color-green-function{
    color: $green-function;
}
.color-yellow-function{
    color: $yellow-function;
}
.color-bleu-function{
    color: $bleu-function;
}
//gray
.color-gray2{
    color: $gray2;
}
.color-gray3{
    color: $gray3;
}
.color-gray4{
    color: $gray4;
}
.color-gray5{
    color: $gray5;
}
.color-gray6{
    color: $gray6;
}
.color-gray7{
    color: $gray7;
}
.color-gray8{
    color: $gray8;
}
.color-gray9{
    color: $gray9;
}
