/* FORM */

.sb-search-input-header {
    float: right;
    padding:0 14px 0 40px;
}

.sb-search-submit-header {
    float: left;
}

.sb-search {
    .first-elementgroup {
        .icon {
            left: 14px;
            right: auto;
        }
    }
}